<div class="container" ng-controller="ReservationCTRL" id="booking">
    <div class="row" ng-init="loadprofilecompletion()">
        <div class="col-sm-3">

        </div>
        <?php
        if($showform) {
            ?>
            <div class="col-sm-6" ng-show="profilecompletionsuccess">
                <h3 class="info-text"> <br> <br> You have successfully completed your profile! <br>
                    <small> You will be redirected to the login page in 5 seconds. </small>
                </h3>
            </div>
        <div class="col-sm-6" ng-show="!profilecompletionsuccess">
            <h3 class="info-text"> <br> <br> Profile Completion <br>
            </h3>
            <form name="completion" class="form-reservation">
                <input type="hidden" ng-init="profile.token='<?php echo $token; ?>'" ng-model="profile.token">
                <fieldset ng-disabled="saving">
                    <div class="form-group">
                        <label>Email: </label>
                        <input type="email" ng-model="profile.email" class="form-control text-box" id="email" placeholder="Enter your Email." required="required" ng-blur="checkEmail(profile.email)" ng-init="profile.email='<?php echo $data->email; ?>'" disabled>
                    </div>
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" ng-model="profile.username" class="form-control text-box" id="username" placeholder="Enter your Username." required="required" ng-init="profile.username='<?php echo $data->username; ?>'">
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" ng-model="profile.password" name="password" class="form-control text-box" id="password" placeholder="Enter your Password." pass-strength required="required" ng-minlength="6" >
                        <span class="help-block" ng-if="completion.password.$error.minlength">Minimum of 6 characters.</span>
                    </div>
                    <div class="form-group">
                        <label>Retype Password:</label>
                        <input type="password" ng-model="profile.repassword" class="form-control text-box" id="repassword" name="repassword" placeholder="Retype your Password." required="required" pw-check="password">
                                                  <span class="msg-error" ng-show="completion.repassword.$error.pwmatch">
                                                    Passwords don't match.
                                                  </span>
                    </div>
                    <div class="form-group">
                        <label>Lastname:</label>
                        <input type="text" ng-model="profile.lastname" class="form-control text-box" id="lastname" placeholder="Enter your lastname." required="required" ng-init="profile.lastname='<?php echo $data->lastname; ?>'">
                    </div>
                    <div class="form-group">
                        <label>Firstname:</label>
                        <input type="text" ng-model="profile.firstname" class="form-control text-box" id="firstname" placeholder="Enter your firstname." required="required" ng-init="profile.firstname='<?php echo $data->firstname; ?>'">
                    </div>
                    <div class="form-group">
                        <label>Address 1:</label>
                        <input type="text" ng-model="profile.address1" class="form-control text-box" id="address1" placeholder="Enter your address." required="required" ng-init="profile.address1='<?php echo $data->address1; ?>'">
                    </div>
                    <div class="form-group">
                        <label>Address 2:</label>
                        <input type="text" ng-model="profile.address2" class="form-control text-box" id="address2" placeholder="Enter your address." ng-init="profile.address2='<?php echo $data->address2; ?>'">
                    </div>
                    <div class="form-group">
                        <label>Country:</label>
                        <select onchange="print_state('regstate', this.selectedIndex);" ng-change="profile.state=''"  id="regcountry" name="regcountry" ng-model="profile.country" class="form-control" required="required" ng-init="profile.country='<?php echo $data->country; ?>'">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>State:</label>
                        <select name ="regstate" id ="regstate" class="form-control" ng-model="profile.state" required="required" ng-init="profile.state='<?php echo $data->state; ?>'">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Zip Code:</label>
                        <input type="text" ng-model="profile.zipcode" class="form-control text-box" id="zipcode" placeholder="Enter your zipcode." required="required" only-digits ng-init="profile.zipcode='<?php echo $data->zipcode; ?>'">
                    </div>
                    <div class="form-group">
                        <label>Phone No:</label>
                        <input type="text" ng-model="profile.phoneno" class="form-control text-box" id="phoneno" placeholder="Enter your phone." required="required" only-digits ng-init="profile.phoneno='<?php echo $data->phoneno; ?>'">
                    </div>
                    <div class="form-group">
                        <input type='button' class='btn btn-fill btn-info btn-wd btn-sm form-control' name='next' value='Submit' ng-disabled="completion.$invalid" ng-click="profileCompletion(profile, completion)" />
                    </div>
                </fieldset>
            </form>
        </div>
        <?php
        }else{?>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <h3 class="info-text"> Sorry but your completion link request has expired please request again.</h3>
                </div>
            </div>
            <?php
        }
        ?>
        <div class="col-sm-3">

        </div>
    </div>
</div>
<!-- Below Banner ends -->
