<div class="container" ng-controller="ReservationCTRL" id="booking">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <?php
        if($showform) {
            ?>
            <div class="col-sm-6">
                <div class="col-sm-12" ng-show="successchange">
                    <h3 class="info-text"> Password reset success! <br>
                        <small> You will be redirected to the login page in 5 seconds. </small>
                    </h3>
                </div>
                <div class="col-sm-12" ng-show="!successchange">
                    <h3 class="info-text"> Reset Password <br>
                        <small>Please enter your new password. <br></small>
                    </h3>
                    <form name="resetpasswordform" class="form-login">
                        <fieldset ng-disabled="requestingreset">
                            <input type="hidden" ng-model="resetpass.token" name="token" ng-init="resetpass.token = '<?php echo $token; ?>'">

                            <div class="form-group">
                                <label>Password:</label>
                                <input type="password" ng-model="resetpass.password" name="password"
                                       class="form-control text-box" id="password" placeholder="Enter your Password."
                                       pass-strength required="required" ng-minlength="6">
                                <span class="help-block" ng-if="resetpasswordform.password.$error.minlength">Minimum of 6 characters.</span>
                            </div>
                            <div class="form-group">
                                <label>Retype Password:</label>
                                <input type="password" ng-model="resetpass.repassword" class="form-control text-box"
                                       id="repassword" name="repassword" placeholder="Enter your Password."
                                       required="required" pw-check="password">
                                                  <span class="msg-error"
                                                        ng-show="resetpasswordform.repassword.$error.pwmatch">
                                                    Passwords don't match.
                                                  </span>
                            </div>
                            <div class="form-group">
                                <input type='button' class='btn btn-fill btn-info btn-wd btn-sm form-control'
                                       name='forgot' ng-disabled="resetpasswordform.$invalid"
                                       ng-click="updatepassword(resetpass)" value='Submit'/>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <?php
        }else{?>
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <h3 class="info-text"> Sorry but your password reset request has expired please request again.</h3>
                </div>
            </div>
        <?php
        }
        ?>
        <div class="col-sm-3">

        </div>
    </div>
</div>
<!-- Below Banner ends -->
