

<div>
    <!-- header -->


    <div class="wrapper bg-light lter b-b">
        <div class="btn-toolbar">
       
        </div>
    <!-- / header -->
<div class="row">
    <div class="col-sm-6">
    <div class="panel panel-default">
    <highchart config="chartService"></highchart>
    </div>

</div>
<div class="col-sm-6">
    <div class="panel panel-default">
    <highchart config="chartConfig"></highchart>
    </div>

</div>
</div>


<div class="row">
<div class="col-sm-6">
 <div class="panel panel-default">
  <div class="panel-heading font-bold">                  
              TOTAL SUMMARY:  $<span ng-bind='totalsales'> </span> 
          </div>

           <div class="panel-heading font-bold">                  
              EXPECTED SALES:  $<span ng-bind='expectedsales'> </span> 
          </div>

 <highchart config="SalesReservation"></highchart>
 </div>
</div>
<div class="col-sm-6">
 <div class="panel panel-default">
   <div class="panel-heading font-bold">                  
              TOTAL NUMBER OF RESERVATION:  <span ng-bind='totalReservation'> </span> Reservations
          </div>
 <highchart config="MonthlyReservation"></highchart>
 </div>
</div>
</div>


 <div class="row">

   <div class="col-sm-12">
    <div class="panel panel-default">
 <highchart config="MonthlySchedule"></highchart>
 </div>
 </div>
</div>



 <div class="row">

   <div class="col-sm-6">
    <div class="panel panel-default">
 <highchart config="TopService"></highchart>
 </div>
 </div>
 <div class="col-sm-6">
    <div class="panel panel-default">
 <highchart config="TopSubservice"></highchart>
 </div>


</div>
</div>







    <footer class="panel-footer">
      <!--   <div class="row">
            <div class="col-sm-4 hidden-xs">
            </div>
            <div class="col-sm-5 text-center" ng-hide="bigTotalItems==0 || loading">
                <entries max="maxSize" offset="bigCurrentPage" total="bigTotalItems"></entries>
                <pagination ng-hide="maxSize >= bigTotalItems" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-links="true" ng-click="setPage(bigCurrentPage)"></pagination>
            </div>
        </div> -->
    </footer>




</div>