<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> Add Schedule</div>
	<div class="modal-body">
		<form name="step2" class="form-validation">
			<h3>{[{ datefor }]}</h3>
			<p class="m-t">Select service:</p>

			<select chosen allow-single-deselect class="chosen-choices form-control" options="pagelist" ng-options="pl as pl.title group by pl.cattitle for pl in pagelist"  ng-model="sched.service" ng-change="selectServiceCat(sched.service)" required="required">
			</select>

			<em class="text-muted">By selecting the service, price options and their correspoding hours will appear below.</em>



			<div class="m-t padding-topbot20" ng-show="servicepricelist">
				<div class="col-xs-4 no-padding">
					<p class="m-t" ng-show="servicepricelist">Select Prices:</p>
					<div class="radio" ng-repeat="spl in servicepricelist" ng-show="servicepricelist">
						<label class="i-checks">
							<input type="radio" name="a" value="{[{ spl }]}" ng-model="sched.servicechoice" required="required" ng-click="priceselected(sched.servicechoice)">
							<i></i>
							<strong>${[{ spl.price }]} </strong> - <strong> {[{ spl.hourday }]} </strong> {[{ spl.description }]}
						</label>
					</div>
				</div>
				<div class="col-xs-4 no-padding">
					Select Your Time:
					<timepicker ng-model="sched.mytime" ng-change="changedtime(sched.mytime)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
				</div>
				<div class="col-xs-4 no-padding">
					<div>
						Computed Time:
						<input type="hidden" name="endtime" ng-model="sched.endtime">
						<button ng-show="sched.servicechoice" class="btn m-b-xs btn-sm btn-info"><i class="fa fa-clock-o"></i> {[{ computedtime }]}</button>
						<br><em class="text-muted">The computed time is base on your selected service time with the start time.</em>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="line line-dashed b-b line-lg"></div>

			<div class="pull-right">
				<a class="btn btn-default" ng-click="cancel()">Cancel</a>
				<a class="btn btn-primary" ng-disabled="!sched.servicechoice" ng-click="submit(sched)">Add</a>
			</div>
			<div class="clearfix"></div>
		</form>
    </div>

</div>




