<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> {[{ membername }]} <a href="" ng-click="cancel()"><icon class="fa fa-times pull-right"></icon></a></div>
	<div class="modal-body">

			<div class="col-sm-12" ng-init="profileform=true">
				<ul class="nav nav-pills">
					<li role="presentation" ng-class="{'active': profileform }"><a href="" ng-click="profileform=true">Profile</a></li>
					<li role="presentation" ng-class="{'active': !profileform }"><a href="" ng-click="profileform=false">Reservations</a></li>
				</ul> <br><br>
			</div>
			<div class="col-sm-12" ng-show="!profileform">
				<div class="panel panel-info">
					<div class="panel-heading">List of Reservations.</div>
					<div class="panel-body">
						<p>To move a schedule please call 928-282-3875 for assistance. </p>
						<div class="table-responsive">
							<table class="table table-striped b-t b-light">
								<thead>
								<tr>
									<th>Description</th>
									<th>Amount</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="list in members.reservationlist">
									<td>

										{[{ list.title }]}
										<span class="label bg-success pull-right" ng-show="list.status=='DONE'">Done</span>
										<span class="label bg-primary pull-right" ng-show="list.status=='RESERVED' && !list.unattended">Reserve</span>
										<span class="label bg-warning pull-right" ng-show="list.unattended">Unattended</span>
										<span class="label bg-danger pull-right" ng-show="list.status=='VOID'">Void</span>
										<span class="label bg-info pull-right" ng-show="list.status=='PENDING'">Pending</span>

										<p class="text-muted">{[{ list.info }]} <br> <strong>{[{ list.hourday }]} ({[{ list.txtdate }]} {[{ list.txtstime }]}-{[{ list.txtetime }]} )</strong></p>
									</td>
									<td>
										${[{ list.price }]}
									</td>
									<td style="width: 10px;">
										<a href="" ng-click="openinvoice(list.invoiceno)" class="active"><i class="fa fa-file-text-o"></i></a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12" ng-show="profileform">
				<div class="panel panel-info">
					<div class="panel-heading">Profile</div>
					<div class="panel-body">
					<form name="userprofile" class="form-reservation">
						<fieldset ng-disabled="saving">
							<div class="form-group col-sm-6">
								<label>Email: </label>
								<input type="email" ng-model="profile.email" class="form-control text-box" id="email" placeholder="Enter your Email." required="required" disabled>
							</div>
							<div class="form-group col-sm-6">
								<label>Username:</label>
								<input type="text" ng-model="profile.username" class="form-control text-box" id="username" placeholder="Enter your Username." required="required" disabled>
							</div>
							<div class="form-group col-sm-6">
								<label>Lastname:</label>
								<input type="text" ng-model="profile.lastname" class="form-control text-box" id="lastname" placeholder="Enter your lastname." required="required">
							</div>
							<div class="form-group col-sm-6">
								<label>Firstname:</label>
								<input type="text" ng-model="profile.firstname" class="form-control text-box" id="firstname" placeholder="Enter your firstname." required="required">
							</div>
							<div class="form-group col-sm-12">
								<label>Address 1:</label>
								<input type="text" ng-model="profile.address1" class="form-control text-box" id="address1" placeholder="Enter your address." required="required">
							</div>
							<div class="form-group col-sm-12">
								<label>Address 2:</label>
								<input type="text" ng-model="profile.address2" class="form-control text-box" id="address2" placeholder="Enter your address." >
							</div>
							<div class="form-group col-sm-6">
								<label>Country:</label>
								<select onchange="print_state('profilestate', this.selectedIndex);" ng-change="profile.state=''" id="profilecountry" name="profilecountry" ng-model="profile.country" class="form-control" required="required" >
								</select>
							</div>
							<div class="form-group col-sm-6">
								<label>State:</label>
								<select name ="profilestate" id ="profilestate" class="form-control" ng-model="profile.state" required="required" >
								</select>
							</div>
							<div class="form-group col-sm-6">
								<label>Zip Code:</label>
								<input type="text" ng-model="profile.zipcode" class="form-control text-box" id="zipcode" placeholder="Enter your zipcode." required="required" only-digits >
							</div>
							<div class="form-group col-sm-6">
								<label>Phone No:</label>
								<input type="text" ng-model="profile.phoneno" class="form-control text-box" id="phoneno" placeholder="Enter your phoneno." required="required" only-digits >
							</div>
							<div class="form-group">
								<input type='button' class='btn btn-fill btn-info btn-wd btn-sm form-control' name='next' value='Submit' ng-disabled="userprofile.$invalid" ng-click="updateprofile(profile)" />
							</div>
						</fieldset>
					</form>
					</div>
				</div>
			</div>
			<div class="col-sm-12" ng-show="profileform">
				<div class="panel panel-info">
					<div class="panel-heading">Update Password</div>
					<div class="panel-body">
						<form name="newpasswordform" class="form-reservation">
							<div class="row">
								<div class="form-group col-sm-6">
									<label>Current Password:</label>
									<input type="password" ng-model="pp.oldpassword" name="oldpassword" class="form-control text-box" id="oldpassword" placeholder="Enter your old password." required="required" >
								</div>
								<div class="form-group col-sm-6">
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label>Password:</label>
								<input type="password" ng-model="pp.newpassword" name="newpassword" class="form-control text-box" id="newpassword" placeholder="Enter your Password." pass-strength required="required" ng-minlength="6" >
								<span class="help-block" ng-if="newpasswordform.newpassword.$error.minlength">Minimum of 6 characters.</span>
							</div>
							<div class="form-group col-sm-6">
								<label>Retype Password:</label>
								<input type="password" ng-model="pp.repassword" class="form-control text-box" id="repassword" name="repassword" placeholder="Retype your Password." required="required" pw-check="newpassword">
															  <span class="msg-error" ng-show="newpasswordform.repassword.$error.pwmatch">
																Passwords don't match.
															  </span>
							</div>
							<div class="form-group">
								<input type='button' class='btn btn-fill btn-info btn-wd btn-sm form-control' name='submitpassword' value='Submit' ng-disabled="newpasswordform.$invalid" ng-click="updatepassword(pp)" />
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
    </div>

</div>

<script>
	$(document).ready(function() {
		if ($('#profilecountry').length) {
			console.log('loading modals');
			print_country("profilecountry");
			print_state('profilestate', 239);
		}
	});
</script>


