<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> Please fill up your Information</div>
	<div class="panel panel-body">
<form method='post' name="test" ng-submit='info(fn,ln,email,passAnswer)' class="form-validation ng-invalid ng-invalid-required ng-dirty ng-invalid-validator">
		
	
<div class='hidden'> {[{passAnswer}]} </div>

			<em class="text-muted"></em>

			<div class="form-group">
				<label class="col-lg-2 control-label">Firstname:</label>
				<div class="col-lg-10">
		<input type="text" class="form-control ng-invalid-required  ng-pristine ng-invalid" ng-model="fn" pattern="[a-z-A-Z -.]{1,100}" title='Firstname must be in letters only' required>
				</div>
			</div>
<br>
			<br>
			<br>
			<div class="form-group">
				<label class="col-lg-2 control-label">Lastname:</label>
				<div class="col-lg-10">
		<input type="text" class="form-control ng-invalid-required  ng-pristine ng-invalid" ng-model="ln" pattern="[a-z-A-Z -.]{1,100}" title='Lastname must be in letters only' required>
				</div>
			</div>

			<br>
			<br>
			<div class="form-group">
				<label class="col-lg-2 control-label">Email:</label>
				<div class="col-lg-10">
	<input type="email" class="form-control ng-animate ng-valid-required ng-valid ng-valid-email" ng-model="email" required>
				</div>
			</div>
			<br>
			<br>
			<br>

			<div class="pull-right">
				<a class="btn btn-default" ng-click="cancel()">Cancel</a>
				<button type='submit' class="btn btn-primary">SUBMIT</button>
			</div>
			<div class="clearfix"></div>
		</form>
    </div>

</div>




