{{ content() }}


<script type="text/ng-template" id="mediagallery.html">
  <div ng-include="'/be/tpl/mediagallery.html'"></div>
</script>

<script type="text/ng-template" id="pagecategoryAdd.html">
  <div ng-include="'/be/tpl/pagecategoryAdd.html'"></div>
</script>

<script type="text/ng-template" id="stylepreview">
  <div ng-include="'/be/tpl/stylepreview.html'"></div>
</script>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Edit Aura Service</h1>
  <a id="top"></a>
</div>
<form class="form-validation ng-pristine ng-invalid ng-invalid-required" ng-submit="savePage(page)" name="formpage">
<fieldset ng-disabled="isSaving">
  <div class="wrapper-md">
    <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>

      <div class="row">

        <div class="col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading font-bold">
              Aura Service Information
            </div>
            <div class="panel-body">
              <input type="hidden" ng-model="page.category">

              <input type="hidden" ng-model="page.pageid">
              Title
              <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="page.title" required="required" ng-keyup="onpagetitle(page.title)">
              <br>
              <div class="line line-dashed b-b line-lg"></div>
              <b class="pull-left">Service Slugs: </b>
              <input type="text" ng-show="editslug" id="pageslugs" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern pull-left" ng-model="page.pageslugs" ng-keypress="onslugs(page.pageslugs)"><span ng-bind="page.pageslugs" class="pull-left mg-left"></span>
              <div ng-show="editslug">
                <a class="btn btn-danger btn-xs pull-right mg-left" ng-click="cancelpageslug(page.title)">cancel</a>
                <a class="btn btn-primary btn-xs pull-right mg-left" ng-click="setslug(page.pageslugs)">ok</a>
              </div>
              <a class="btn btn-danger btn-xs pull-right mg-left" ng-hide="editslug" ng-click="clearslug(page.title)">clear</a>
              <a class="btn btn-primary btn-xs pull-right mg-left" ng-hide="editslug" ng-click="editpageslug()">edit slug</a>

              <div class="line line-dashed b-b line-lg"></div>
              Sub-title 1
              <input type="text" id="subtitle1" name="subtitle1" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="page.subtitle1">
              <!-- Sub-title 2
              <input type="text" id="subtitle2" name="subtitle2" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="page.subtitle2"> -->

              <div class="line line-dashed b-b line-lg"></div>

              Button Title
              <input type="text" id="buttontitle" name="buttontitle" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="page.buttontitle" ng-init="page.buttontitle = 'Learn More'" required>

              <div class="line line-dashed b-b line-lg"></div>

              Body Content
              <a class="btn btn-default btn-xs" ng-click="media('content')"><i class="fa  fa-folder-open"></i> Media Library</a>
              <br><br>
              <textarea class="ck-editor" ng-model="page.body" required="required"></textarea>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading font-bold">
              Meta
            </div>
            <div class="panel-body">
               Title
              <input type="text" id="metatitle" name="metatitle" class="form-control" ng-model="page.metatitle" required="required" placeholder="Meta Title">

              <div class="line line-dashed b-b line-lg"></div>
                Description
              <input input="text"  id="metadesc" name="metadesc"  class="form-control" ng-model="page.metadesc" required="required" placeholder="Meta Description">

              <div class="line line-dashed b-b line-lg"></div>
                Keyword
              <input type="text" id="metatags" name="metatags" class="form-control" ng-model="page.metatags" required="required" placeholder="Meta Keyword">
            </div>
          </div>

        </div>

        <div class="col-sm-4">

          <div class="panel panel-default">
            <div class="panel-heading font-bold">
              Service Banner
              <a class="btn btn-default btn-xs pull-right" ng-click="media('featured','banner')"><i class="fa  fa-folder-open"></i> Media Library</a>
            </div>
            <div class="panel-body">
              <img ng-show="page.banner" src="<?php echo $this->config->application->amazonlink; ?>/uploads/pageimage/{[{ page.banner }]}" style="width: 100%">
              <label><em class="text-muted">Click Media Library to add image or select an existing image.</em></label>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading font-bold">
              Left Sidebar
            </div>
            <div class="panel-body">
              Service Price
              <input type="text" id="serviceprice" name="serviceprice" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="page.serviceprice" required="required" >
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading font-bold">
              <i class="fa fa-dollar"></i> Prices
              <input type="hidden" name="inputprices" ng-model="page.prices" required />
              <a ng-click="addPrice=true;showAdd=true" ng-hide="addPrice"><span class="pull-right"><i class="fa fa-plus-square"></i></span></a>
              <button  type="button" class="btn btn-default btn-xs pull-right" ng-show="addPrice" ng-click="priceCancel()"><i class="glyphicon glyphicon-ban-circle"></i> Cancel</button>
              <button  type="button" class="btn btn-default btn-xs pull-right" ng-show="showUpdate" ng-click=" updatePrice(price)" ng-disabled="!price.desc || !price.amount || price.amount <= 0"><i class="glyphicon glyphicon-edit"></i> Update</button>
              <button class="btn btn-default btn-xs pull-right " type="button" ng-show="addPrice && !showUpdate" ng-click="createPrice(price)" ng-disabled="!price.desc || !price.amount || price.amount <= 0"><i class="glyphicon  glyphicon-plus-sign "></i> Add</button>
            </div>
            <ul class="list-group no-radius">
              <li class="list-group-item animated fadeInDown" ng-show="addPrice || showUpdate">
                <div class="row">
                  <div class="col-md-6"><input class="form-control " name="desc"  ng-model="price.desc" placeholder="Description" type="text"></div>
                  <div class="col-md-3 padding-left0"><input class="form-control " name="amount" ng-model="price.amount" placeholder="Price" type="text" only-digits></div>
                  <div class="col-md-3 padding-left0"><input class="form-control " name="priceper" ng-model="price.priceper" placeholder="d/h" type="text" value-date-time ></div>
                </div>
              </li>
              <li ng-repeat="p in page.prices track by $index "class="list-group-item service-price" ng-hide="currentEditPrice == $index">
                <span class="pull-right">${[{p.amount}]} ({[{p.priceper}]}) </span>
                  <span class="service-price">{[{p.desc}]}
                    <span class="price-control-action"><a href="" ng-click="price.desc=p.desc; price.amount=p.amount;price.priceper=p.priceper;showUpdate=true; editPrice($index)"><i class="fa fa-pencil-square"></i></a></span>
                    <span class="price-control-action"><a href="" ng-click="delete($index)"><i class="fa fa-times-circle"></i></a></span>
                  </span>
              </li>
            </ul>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading font-bold">Status</div>
            <div class="panel-body">
                  <div class="btn-group">
                    <label class="btn btn-default" ng-model="page.status" btn-radio="'1'">Active</label>
                    <label class="btn btn-default" ng-model="page.status" btn-radio="'0'">Inactive</label>
                  </div>
            </div>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading font-bold">
              Service Landing Page Content
              <a class="btn btn-default btn-xs pull-right" ng-click="media('featured','thumb')"><i class="fa  fa-folder-open"></i> Media Library</a>
            </div>
            <div class="panel-body">

              <label><em class="text-muted">Click Media Library to add image or select an existing image. Recommended image size:  a ratio of 704px in height.</em></label>
              <img ng-show="page.imagethumb" src="<?php echo $this->config->application->amazonlink; ?>/uploads/pageimage/{[{ page.imagethumb }]}" style="width: 100%">
              <div class="line line-dashed b-b line-lg"></div>
              Title (maxlength of 60)
              <input type="text" id="imagethumbsubtitle" name="imagethumbsubtitle" class="form-control" ng-model="page.imagethumbsubtitle" maxlength="60" required="required" >
              <div class="line line-dashed b-b line-lg"></div>
              Short Description (maxlength of 300)
              <textarea type="text" id="thumbdesc" name="thumbdesc" class="form-control" ng-model="page.thumbdesc" rows="4" maxlength="300" required> </textarea>

              <div class="line line-dashed line-lg b-b"></div>

              <div class="form-group">
                <div class="col-sm-3">Text Align</div>
                <div class="col-sm-9 wrapper-sm">
                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="page.align" btn-radio="'left'">Left</label>
                    <label class="btn btn-primary" ng-model="page.align" btn-radio="'center'">Center</label>
                    <label class="btn btn-primary" ng-model="page.align" btn-radio="'right'">Right</label>
                  </div>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg"></div>

              <div class="form-group">
                <div class="col-sm-3">Background Color</div>
                <div class="col-sm-9 well bg-light wrapper-sm">
                  <input colorpicker ng-model="page.bgcolor" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern width90px pull-left pointer" required="required" readonly>
                  <div class="colorpicker-colorbox form-control pull-left" style="background-color: {[{ page.bgcolor }]}"></div>
                </div>
              </div>

              <div class="line line-dashed line-lg b-b"></div>

              <div class="form-group">
                <div class="col-sm-3">Text Color</div>
                <div class="col-sm-9 well bg-light wrapper-sm">
                  <input colorpicker ng-model="page.color" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern width90px pull-left pointer" required="required" readonly>
                  <div class="colorpicker-colorbox form-control pull-left" style="background-color: {[{ page.color }]}"></div>
                </div>
              </div>

              <div class="line line-dashed b-b line-lg"></div>

              <div class="form-group">
                <div class="col-sm-3">White Box</div>
                <div class="col-sm-9 well bg-light wrapper-sm">
                  <label class="i-switch bg-info m-t-xs m-r">
                    <input type="checkbox" ng-true="'true'" ng-false="'false'" ng-model="page.box">
                    <i></i>
                  </label>
                  <span ng-show="page.box == false " class="label bg-danger Services-checkbox-label">off</span>
                  <span ng-show="page.box == true " class="label bg-success Services-checkbox-label">on</span>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-3">Featured</div>
                <div class="col-sm-9 well bg-light wrapper-sm">
                  <label class="i-switch bg-info m-t-xs m-r">
                    <input type="checkbox" ng-true="'true'" ng-false="'false'" ng-model="page.featured">
                    <i></i>
                  </label>
                  <span ng-if="page.featured == true" class="label bg-success Services-checkbox-label">This will show on Homepage</span>
                </div>
              </div>
              <div class="line line-dashed line-lg b-b"></div>

              <div class="form-group">
                <div class="col-sm-12">
                  <tabset class="tab-container tab-danger">
                    <tab>
                       <tab-heading class="font-bold">Note</tab-heading>
                       Please click <a class="btn m-b-xs btn-xs btn-success" ng-click="stylepreview(page)">Quick Preview</a>
                       before submitting so you can check whether the title and description you inserted is too long. Thank you.
                    </tab>
                  </tabset>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="panel-body">
            <footer class="panel-footer text-right bg-light lter">
              <a ui-sref="manage_auraservice" class="btn btn-default"> Cancel </a>
              <button type="submit" class="btn btn-success" ng-disabled="formpage.$invalid || page.prices.length == 0">Submit</button>
            </footer>
        </div>
      </div>
  </div>
</fieldset>
</form>
