<div class="panel panel-default">
  <div class="panel-heading ec-font-md">An item has been added to your cart
    <span class="text-info ec-font-s pull-right curser-pointer" ng-click="cancel()">Continue Shopping</span>
  </div>
  <div class="panel-body">
    <div class="row">

      <div class="col-sm-8">
        <div class="col-sm-6">
          <div class="ec-prod-mainthumb" style="background:#fff url('{[{amazonimage}]}/{[{product.productid}]}/{[{product.filename}]}');">
          </div>
        </div>

        <div class="col-sm-6">
          <span class="ec-prod-landingtitle" ng-bind="product.name"></span>
          <label class="font-bold">Product Code: </label>
          <span ng-bind="product.productcode"></span>
          <br>
          <label class="font-bold">Type: </label>
          <span ng-bind="product.type"></span>
          <br>
          <label class="font-bold">Stock: </label>
          <span ng-bind="product.quantity"></span>
          <br>
          <label class="font-bold">Minimum purchase per order: </label>
          <span ng-bind="product.minquantity"></span>
          <br>
          <label class="font-bold">Maximum purchase per order: </label>
          <span ng-bind="product.maxquantity"></span>
          <br><br>

          <table style="width:100%">
            <tr ng-show="product.discount != undefined && product.discount > 0">
              <td colspan="2" class="ec-prod-originalprice">
                before <strike>$<span ng-bind="product.price"></span></strike>
              </td>
            </tr>
            <tr>
              <td class="ec-prod-price text-danger">
                Price: $<span ng-bind="product.finalprice"></span>
              </td>
              <td ng-show="product.discount != undefined && product.discount > 0">
                <span class="pull-right bg-danger wrapper-xs">
                  - <span ng-bind="product.discount"></span>%
                </span>
              </td>
            </tr>
          </table>

          <br>

          <label class="font-bold">Short Description: </label> <br>
          <span ng-bind="product.shortdesc"></span>

        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-success">
          <div class="panel-heading font-bold ec-font-s">
            <i class="fa fa-shopping-cart"></i>
            My shopping cart (<span ng-bind="cart.length"></span> items)
          </div>
          <div class="panel-body">
            <div class="text-c">
              <div class="ec-font-lg">$<span ng-bind="total | number"></span></div>
              TOTAL
            </div>
            <br>
            <a href="/shop/mycart" class="btn btn-info btn-block">VIEW CART</a>
            <a class="btn btn-block bg-orange">SUBMIT ORDER</a>
          </div>
        </div>
      </div>

    </div> <!-- end of row -->

    <div class="row">

    </div>
  </div> <!-- end of panel-body-->
</div>
