<div class="panel panel-default">
  <div class="panel-heading font-bold">Alert</div>
  <div class="panel-body">
    Are you sure you want take this action?

    <br><br><br>
    <span class="pull-right">
      <button class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-sm btn-info" ng-click="ok()">Okay</button>
    </span>
  </div>
</div>
