<div class="row wrapper-sm" style="margin-top: 20px;">
  <div class="col-sm-12">
    <span class="ec-font-md pull-right">
       {[{ user.error == undefined ? user.firstname + " " + user.lastname : "Account"}]} <i class="fa fa-user"></i>
       |
       Shopping Cart
       <i class="fa fa-shopping-cart"></i> (<a href="/shop/mycart" ng-bind="cart.length > 0 ? cart.length : 0"></a>)
    </span>
  </div>
</div>

<div class="row wrapper-sm">
  <div class="col-sm-4 pull-right">
    <div class="input-group">
      <input class="form-control" type="text" style="z-index:0;" ng-model="keyword">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search(keyword)">Go!</button>
      </span>
    </div>
  </div>
</div>
