<div class="row wrapper-sm">
<div ng-controller="MenuCtrl">
<!-- Menu Short Code -->
  <input type="hidden" id="shortCode" value="[ecommercenav]" ng-model="shortCode">
  <div id='ecommercenav'>
    <ul>
      <li class='uppercase has-sub' ng-repeat="webmenu in webmenu">
        <a ng-show="webmenu.newtab == 'true'" class="menu-text" href='{[{webmenu.sublink}]}' target="_blank"><span ng-bind="webmenu.subname"></span></a>
        <a ng-show="webmenu.newtab == 'false'" class="menu-text" href='{[{webmenu.sublink}]}'><span ng-bind="webmenu.subname"></span></a>
        <ul>
          <li class='has-sub' ng-repeat="sub1 in webmenu.children">
            <a ng-show="sub1.newtab == 'true'" class='caps' href='{[{sub1.sublink}]}' target="_blank"><span ng-bind="sub1.subname"></span></a>
            <a ng-show="sub1.newtab == 'false'" class='caps' href='{[{sub1.sublink}]}'><span ng-bind="sub1.subname"></span></a>
            <ul>
              <li class='has-sub' ng-repeat="sub2 in sub1.children">
                <a ng-show="sub2.newtab == 'true'" class='caps' class='caps' href='{[{sub2.sublink}]}'><span ng-bind="sub2.subname" target="_blank"></span></a>
                <a ng-show="sub2.newtab == 'false'" class='caps' class='caps' href='{[{sub2.sublink}]}'><span ng-bind="sub2.subname"></span></a>
                <ul>
                  <li class='has-sub' ng-repeat="sub3 in sub2.children">
                    <a ng-show="sub3.newtab == 'true'" class='caps' class='caps' href='{[{sub3.sublink}]}'><span ng-bind="sub3.subname" target="_blank"></span></a>
                    <a ng-show="sub3.newtab == 'false'" class='caps' class='caps' href='{[{sub3.sublink}]}'><span ng-bind="sub3.subname"></span></a>
                    <ul>
                      <li ng-repeat="sub4 in sub3.children">
                        <a ng-show="sub4.newtab == 'true'" class='caps' class='caps' href='{[{sub4.sublink}]}'><span ng-bind="sub4.subname" target="_blank"></span></a>
                        <a ng-show="sub4.newtab == 'false'" class='caps' class='caps' href='{[{sub4.sublink}]}'><span ng-bind="sub4.subname"></span></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</div>
