<nav ui-nav class="navi bg-light dker">
  <!-- first -->
  <ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
      <input class="form-control" type="text" placeholder="Search product keyword">
      <button class="btn btn-success btn-block" type="button">Go!</button>
    </li>
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
      <span class="font-bold">CATEGORIES</span>
    </li>

    <li>
      <a>
        <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
        <span class="font-bold">Accesories</span>
      </a>
    </li>

    <!-- with sub categories -->
    <li>
      <a class="auto">
        <span class="pull-right text-muted">
          <i class="fa fa-fw fa-angle-right text"></i>
          <i class="fa fa-fw fa-angle-down text-active"></i>
        </span>
        <i class="glyphicon glyphicon-user icon"></i>
        <span class="font-bold">Clothing</span>
      </a>

      <!-- sub category -->
      <ul class="nav nav-sub dk">
        <li ui-sref-active="active"><a><span>All</span></a></li>
        <li ui-sref-active="active"><a><span>Under Wear</span></a></li>
        <li ui-sref-active="active"><a><span>Lingery</span></a></li>
      </ul>
      <!-- sub category ends -->

    </li>
    <!-- with sub categories ENDS -->

  </ul>
</nav>
