<div class="panel panel-default">
  <div class="panel-heading">Alert</div>
  <div class="panel-body">
    <p>Your registration is successfully completed. Please check the email that we sent you for the activation/verification of your account. Thank you.</p>
    <br>
    <p class="font-bold">- Sedona Healing Arts Team</p>
    <p class="text-c">
      <!-- <a class="btn btn-sm btn-info" ng-click="refreshcheckout()">Sign In & Checkout</a> -->
      You will be redirected shortly...
    </p>
  </div>
</div>
