<!DOCTYPE html>
<html lang="en" data-ng-app="SedonaApp" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#" >
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable = yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Title and other stuffs -->
    <title><?php echo $title; ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="<?php echo $metatitle; ?>">
    <meta name="description" content="<?php echo $subtitle2; ?>">
    <meta name="keywords" content="<?php echo $metakeyword; ?>">
    <meta name="author" content="<?php echo $name; ?>">
    <base href="/">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link href="fe/style/bootstrap.css" rel="stylesheet">

    <!-- Main stylesheet -->
    <link href="/fe/style/style.css" rel="stylesheet">
    <!-- Stylesheet for Color -->
    <link href="/fe/style/orange.css" rel="stylesheet">
    <!-- Responsive style (from Bootstrap) -->
    <link href="/fe/style/bootstrap-responsive.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Dropdown stylesheet -->
    <link href="/fe/style/dropdown-menu-styles.css" rel="stylesheet">
    <!-- Flex Nav stylesheet -->
    <link href="/fe/style/flexnav.css" media="screen, projection" rel="stylesheet" type="text/css">
    <!-- Side Menu stylesheet -->
    <link href="/fe/style/responsive-menu.css" media="screen, projection" rel="stylesheet" type="text/css">
    <!-- Custom stylesheet -->
    <link href="/fe/style/custom-style.css" rel="stylesheet">
    <link href="/vendors/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css" rel="stylesheet">

    <!-- HTML5 Support for IE -->

    <!--[if lt IE 9]>
    <script src="js/html5shim.js"></script>
    <![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/frontend/favicon.png">

    <!-- Add fancyBox main JS and CSS files -->

    <link rel="stylesheet" type="text/css" href="/vendors/fancyBox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

    <meta name="og:title" content="<?php echo $title; ?>" />
    <meta name="og:description" content="<?php echo $subtitle2; ?>" />
    <meta name="og:url" content="<?php echo $base_url; echo $pagecategory!=null ? "/".$pagecategory : ""; echo "/".$pageslugs; ?>" />
    <?php if(!isset($imgthumb) && isset($banner)){?>
      <meta name="og:image" content="<?php echo $base_url;?>/img/frontend/<?php echo $banner; ?>" />
    <?php }else if(isset($imgthumb) && isset($banner)) { ?>
      <meta name="og:image" content="<?php echo $imgthumb; ?>" />
    <?php } else if(!isset($imgthumb) && !isset($banner)){?>
      <meta name="og:image" content="<?php echo $base_url;?>/img/frontend/photo_101.jpg" />
    <?php } ?>

    <?php echo $facebookpixels; ?>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1617141355217381&amp;ev=PixelInitialized" /></noscript>

  </head>

  <body>
    <!-- Header starts -->
    <header>
      <div class="top-bg">
        <div class="contact-us-sun">

            <div class="contact-us-sun-inside">
                <h3>Make an appointment!</h3>
                <h1>Call 928-282-3875</h1>
                <h3>- OR -</h3>
                <a class="book" href="<?php echo $base_url;?>/booking"><div class="book-now">CLICK HERE TO BOOK ONLINE NOW</div></a>
            </div>

        </div>
        <div class="upper-header">
          <a href="https://www.facebook.com/SedonaHealingArtsAZ" target="_blank"><img src="/img/frontend/fb-social.png" alt="facebook"/></a>
          <a href="https://twitter.com/SedonaHealingAZ" target="_blank"><img src="/img/frontend/twitter-social.png" alt="twitter"/></a>
          <a href="https://www.youtube.com/channel/UC6iB7HyQ-LqJyDbIEEPeY6A" target="_blank"><img src="/img/frontend/youtube-social.png" alt="youtube"/></a>
          <a href="https://plus.google.com/110601167518772499280/posts" target="_blank"><img src="/img/frontend/gplus-social.png" alt="google plus"/></a>
          <a href="mailto:contact@sedonahealingarts.com"><img src="/img/frontend/mail-social.png" alt="email"/></a>
        </div>
        <div class="container">
          <div class="row top-header width390 sedona-logo-container">
            <div class="col-sm-12 width390">
              <!-- Logo. Use class "color" to add color to the text. -->
              <center>
                <div class="sedona-logo">
                  <a href="<?php echo $base_url;?>"><span class="title-color"><img class="sedonalogo" src="/img/frontend/sedonalogo.png"></span></a>
                </div>
              </center>

            </div>
            <!-- ===== SOCIALS ===== -->
                <!-- <div class="span4">

                  <div class="social-top">
                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                  </div>

                </div> -->
                <!-- ===== END SOCIALS ===== -->
                <div class="contact-us-mobile center">

                    <h3>Make an appointment!</h3>
                    <h1>Call 928-282-3875</h1>
                    <h3>- OR -</h3>
                    <a class="book" href="<?php echo $base_url;?>/booking"><div class="book-now">CLICK HERE TO BOOK ONLINE NOW</div></a>

                </div>
              </div>
            </div>
          </div>

          <!-- Web menu starts -->
          <div class="menu-bg web-menu">
            <div class="container menu-margin mob-container">
              <div class="row center">

                <div class="col-sm-12">
                  <!-- Navigation -->
                  <div id='cssmenu'>
                    <ul>
                      <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/healing'><span>HEALING</span></a>
                        <ul>
                          <?php
                          $getginfo = $healing;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/healing/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>
                        </ul>
                      </li>
                      <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/readings'><span>READINGS</span></a>
                        <ul>
                          <?php
                          $getginfo = $readings;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/readings/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>
                        </ul>
                      </li>
                    </li>
                    <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/acupuncture'><span>ACUPUNCTURE</span></a>
                      <ul>
                          <?php
                          $getginfo = $acupuncture;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/acupuncture/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>
                      </ul>
                    </li>
                        <li class="hidden"><a href="<?php echo $base_url; ?>" class="mob-menu-text"><img src="<?php echo $base_url; ?>/img/frontend/favicon.png"></a></li>
                    <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/retreats'><span>RETREATS</span></a>
                      <ul>
                          <?php
                          $getginfo = $retreats;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/retreats/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>
                      </ul>
                    </li>
                    <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/workshops'><span>WORKSHOPS</span></a>
                      <ul>
                          <?php
                          $getginfo = $workshops;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/workshops/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>
                      </ul>
                    </li>

                    <li class='uppercase has-sub last'>
                      <a class="menu-text" href='<?php echo $base_url;?>/blog/all'><span>BLOG</span></a>
                    </li>

                  </ul>
                </div>

              </div>

            </div>
          </div>

        </div>
        <!-- Web menu ends -->

        <!-- Mobile menu starts -->
        <div class="mobile-menu">
          <div class="menu-button"><a class="menu-text">Sedona Healing Arts</a></div>
          <nav>
            <ul class="flexnav" style="padding-left: 0px;">
              <li><a class="mob-menu-text" href="<?php echo $base_url;?>/healing">HEALING</a>
                <ul style="padding-left: 0px;">

                  <?php
                  $getginfo = $healing;
                  foreach ($getginfo as $key => $value) {
                    ?>
                    <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/healing/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                  <?php } ?>
                  </ul>
                </li>
                <li><a class="mob-menu-text" href="<?php echo $base_url;?>/readings">READING</a>
                  <ul style="padding-left: 0px;">
                    <?php
                  $getginfo = $readings;
                  foreach ($getginfo as $key => $value) {
                    ?>
                    <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/readings/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                  <?php } ?>
                  </ul>
                </li>
                <li><a class="mob-menu-text" href="<?php echo $base_url;?>/acupuncture">ACUPUNCTURE</a>
                  <ul style="padding-left: 0px;">
                  <?php
                  $getginfo = $acupuncture;
                  foreach ($getginfo as $key => $value) {
                    ?>
                    <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/acupuncture/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                  <?php } ?>
                  </ul>
                </li>
                <li><a class="mob-menu-text" href="<?php echo $base_url;?>/retreats">RETREATS</a>
                  <ul style="padding-left: 0px;">
                    <?php
                  $getginfo = $retreats;
                  foreach ($getginfo as $key => $value) {
                    ?>
                    <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/retreats/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                  <?php } ?>
                  </ul>
                </li>
                <li><a class="mob-menu-text" href="<?php echo $base_url;?>/workshops">WORKSHOPS</a>
                  <ul style="padding-left: 0px;">
                    <?php
                  $getginfo = $workshops;
                  foreach ($getginfo as $key => $value) {
                    ?>
                    <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/workshops/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                  <?php } ?>
                  </ul>
                </li>
                <li><a class="mob-menu-text" href="<?php echo $base_url;?>/blog/all">BLOG</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- Mobile menu ends -->

        </header>

        <!-- Seperator -->



        <!-- Header ends -->




  <?php echo $this->getContent(); ?>


</div>



<!-- Footer starts -->
<footer>
    <div class="row margin-right-979">
        <div class="col-sm-12">
            <div class="paragraph" style="text-align:center;">

                <p>
                  <a href="<?php echo $base_url;?>/aboutsedonahealingarts" title="">About Sedona Healing Arts</a>
                  &nbsp; | &nbsp;
                  <a href="<?php echo $base_url;?>" title="">Home</a>
                  &nbsp; | &nbsp;
                  <a href="<?php echo $base_url;?>/healing" title="">Healing</a>
                  &nbsp; | &nbsp;
                  <a href="<?php echo $base_url;?>/readings" title="">Readings</a>
                  &nbsp; <!--&nbsp; -->| &nbsp;<!--&nbsp;-->
                  <a href="<?php echo $base_url;?>/acupuncture" title="">Acupuncture</a>
                  &nbsp; | &nbsp;
                  <a href="<?php echo $base_url;?>/retreats" title="">Retreats</a>
                  &nbsp;<!-- &nbsp; --> | &nbsp;<!-- &nbsp; -->
                  <a href="<?php echo $base_url;?>/workshops" title="">Workshops</a>
                  &nbsp;<!-- &nbsp; --> | &nbsp;<!-- &nbsp; -->
                  <a href="<?php echo $base_url;?>/booking" title="">Book Online</a>
                  &nbsp;<!-- &nbsp; --> | &nbsp;<!-- &nbsp; -->
                  <a href="<?php echo $base_url;?>/blog/all" title="">Blog</a>
                  &nbsp;<!-- &nbsp; --> | &nbsp;<!-- &nbsp; -->
                  <a href="<?php echo $base_url;?>/contactus" title="">Contact Us</a>
                </p> <br/>

                <p class="copy">Copyright © 2015 · All Rights Reserved · Sedona Healing Arts · 201 State Route 179, Sedona, AZ 86336 </p>

            </div>
          </div>
        </footer>


        <!-- Footer ends -->

        <!-- Scroll to top -->
        <!-- <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> -->


<!-- JS -->
<script src="/fe/js/jquery-1.9.1.min.js"></script> <!-- jQuery -->
<script src="/fe/js/bootstrap.js"></script> <!-- Bootstrap -->
<script src="/fe/js/bootstrap-hover-dropdown.min.js"></script> <!-- Bootstrap Menu -->
<script src="/fe/js/resposive-menu.js"></script>
<script src="/fe/js/jquery.flexnav.min.js" type="text/javascript"></script>
<script type="text/javascript">


        jQuery(document).ready(function($) {

            // initialize FlexNav
            $(".flexnav").flexNav();
        });

</script>

        <!-- Custom JS -->


        <script src="vendors/angular/angular.js"></script>
    <script src="/be/js/angular/angular-ui-router.min.js"></script>
    <script src="/be/js/angular/ui-load.js"></script>
    <script src="/be/js/angular/ui-jq.js"></script>
    <script src="/be/js/angular/ui-validate.js"></script>
    <script src="/be/js/angular/ui-bootstrap-tpls.min.js"></script>


    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"></script>
    <!-- google recaptcha -->
    <script src="/vendors/angular-recaptcha/release/angular-recaptcha.js"></script>

        <!-- For angular Maps V3-->


<script src="/fe/scripts/app.js"></script>
<script src="/fe/scripts/controllers/main.js"></script>
<script src="/fe/scripts/factory/login.js"></script>
<script src="/fe/scripts/config.js"></script>
<?php echo @$otherjvascript ?>
<script src="/fe/scripts/directives/showErrors.js"></script>

    <script src="/vendors/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.js"></script>

    <script type="text/javascript" src="/vendors/fancyBox/source/jquery.fancybox.js?v=2.1.5"></script>
    <script>
        $(document).ready(function() {
            /*
             *  Simple image gallery. Uses default settings
             */

            $('.fancybox').fancybox();

            /*
             *  Different effects
             */

            // Change title type, overlay closing speed
            $(".fancybox-effects-a").fancybox({
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    overlay: {
                        speedOut: 0
                    }
                }
            });
        });
    </script>

  <!-- Google Analytics -->
  <?php echo $gscript; ?>

  <!-- sticky navbar script -->
  <script>
    $(window).scroll(function() {
        var devicewidth = window.innerWidth;

        if(devicewidth > 799){
            if($(this).scrollTop() > 220)
            {
                $(".web-menu").addClass('sticky-nav');
                $(".web-menu #cssmenu > ul > li > a").addClass('padding21');
                $("body").css({"padding-top": "70px"});
                $(".web-menu ul li.hidden").addClass('show');
                $(".web-menu ul li.hidden").removeClass('hidden');
            }else {
                $(".web-menu").removeClass('sticky-nav');
                $(".web-menu #cssmenu > ul > li > a").removeClass('padding21');
                $("body").css({"padding-top": "0"});
                $(".web-menu ul li.show").addClass('hidden');
                $(".web-menu ul li.show").removeClass('show');
            }
        }else {
            $(".web-menu").removeClass('class','sticky-nav');
            $("body").css({"padding-top": "0"});
            if($(this).scrollTop() > 358)
            {
                $(".mobile-menu").addClass('sticky-nav');
                $("body").css({"padding-top": "70px"});
            }else {
                $(".mobile-menu").removeClass('sticky-nav');
                $("body").css({"padding-top": "0"});
            }
        }
    });
  </script>

</body>
</html>
