<form class="bs-example form-horizontal" name="form" novalidate ng-submit="ok(category)">

    <div class="panel panel-default">
        <div class="panel-heading">
            Add Category
        </div>

        <div class="row wrapper">
                <div class="col-sm-10">
                    <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
                   <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="category.catnames" required="required" ng-change="oncategorytitle(category.catnames)">
                </div>
        </div>

        <div class="table-responsive">
            <footer class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success">Save</button>
            </footer>
        </div>
    </div>

</form>