<form class="bs-example form-horizontal" name="form" novalidate>
    <div class="modal-header">
        <i class="icon-info"></i> Are you sure you want to delete this category?
    </div><div class="modal-body" ng-show="viewconflicts==true">
  <h5>This category contains blog post. If you want to delete this category please change every news category (select category type and click the edit button)</h5>
  <table class="table table-striped b-t b-light">
    <thead>
      <tr>
        <th width="40%">Title</th>
        <th width="24%">Author</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="news in catconflict">
        <td>{[{ news.title }]}</td>
        <td>{[{ news.name }]}</td>
        <td>
          <select class="form-control m-b" ng-model="news.catid" ng-options="c.categoryid as c.categoryname for c in categories" required="required"></td>
          <td>
            <input ng-model="news.id" type="hidden">
            <a href="" ng-click="editcategory(news)">
              <span class="label bg-warning">Edit</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="modal-footer" ng-hide="process==true">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-disabled="disabledelete==true" ng-click="ok(id)">Delete</button>
    </div>
</form>
