<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Change Password</div>
	<div class="panel-body">
		<form class="bs-example form-horizontal" name="form"> 
        <alert ng-repeat="alert in alerts" type="{[{ alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
          <div class="form-group hiddenoverflow">
            <label class="col-sm-3 control-label">Old Password</label>
            <div class="col-sm-8">
              <span class="label bg-danger" ng-show="showvalidpass">Invalid password. <br/></span>
              <input type="password" id="" name="" class="form-control  ng-invalid ng-invalid-required ng-valid-pattern" ng-model="user.oldpass" ng-keyup="chkoldpass(user.oldpass)">
            </div>
          </div>
          <div class="form-group hiddenoverflow">
            <label class="col-sm-3 control-label">New Password</label>
            <div class="col-sm-8">
              <span class="label bg-danger" ng-show="minpass">Password must be 6 - 20 characters. <br/></span>
              <input type="password" id="" name="" class="form-control  ng-invalid ng-invalid-required ng-valid-pattern" ng-model="user.password" ng-keyup="chkpass(user.password, user.conpass)" ng-disabled="validpass==false">
            </div>
          </div>
          <div class="form-group hiddenoverflow">
            <label class="col-sm-3 control-label">Confirm Password</label>
            <div class="col-sm-8">
               <span class="label bg-danger" ng-show="pwdconfirm">Password do not match! <br/></span>
              <input type="password" id="" name="" class="form-control  ng-invalid ng-invalid-required ng-valid-pattern" ng-model="user.conpass" ng-keyup="confirmpass(user.password, user.conpass)" ng-disabled="validpass==false">
            </div>
          </div>
		</form>

	</div>
  <div class="col-sm-12">  
           <div class="loadercontainer" ng-cloak ng-show="loader">
              <div class="spinner" style="margin:0px;width:auto;height:30px">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
              </div>
               <p>Please wait</p> 
            </div>
  </div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-click="ok(user)" ng-disabled="form.$invalid || saving">Save</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
