

			<!-- chat -->
			<div class="panel panel-default">
				<div class="panel-heading">Make a Reply</div>
				<div class="panel-body">
					<div class="m-b">
						<div class="col-sm-6"><strong>{[{ contact.fname }]} {[{ contact.lname }]}</strong></div>
						<div class="col-sm-6 text-right">{[{ contact.email }]} / {[{ contact.contactno }]}</div>
						<div class="col-sm-12">
							<div class="pos-rlt wrapper b b-light r r-1x">
								<span class="arrow left pull-up"></span>
								<blockquote>{[{ contact.subject }]}</blockquote>
								<p class="m-b-none">{[{ contact.message }]}</p>
							</div>
							<small class="text-muted"><i class="fa fa-ok text-success"></i> {[{ contact.date }]}</small>
						</div>
					</div>
					<div class="m-b" ng-repeat="key in objectKeys(contactusrep)" ng-init="value = contactusrep[key]">
						<div class="text-right">
							<strong>Me</strong>
							<div class="pos-rlt wrapper bg-primary r r-2x">
								<span class="arrow right pull-up arrow-primary"></span>
								<p class="m-b-none text-left">{[{ value.message }]}</p>
							</div>
							<small class="text-muted">{[{ value.updated_at }]}</small>
						</div>
					</div>
				</div>
				<footer class="panel-footer">
					<!-- chat form -->
					<div>

							<div class="input">
								<form name="replyForm">
									<textarea class="form-control" ng-model="message" ng-required="true"></textarea>
								</form>
								<div class="text-right">
									<br/>
									<button class="btn btn-default" ng-click="cancel()">Cancel</button>
									<button class="btn btn-primary" ng-click="sendreply(message); message=''; " ng-disabled="replyForm.$invalid || saving"><span ng-show="saving">Sending reply...</span> <span ng-show="!saving">Send</span></button>
								</div>
							</div>
					</div>
				</footer>
			</div>
