<form ng-submit="ok(contact)" class="bs-example form-horizontal form-validation ng-pristine ng-invalid ng-invalid-required" name="contactpage">
	<div class="panel panel-default">
	<div class="panel-heading"><i class=" icon-note "></i> Contact Details </div>
	<div class="panel-body">
		<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>

		
			<div class="form-group">
				<label class="col-lg-2 control-label">Title</label>
				<div class="col-lg-10">
				<input type="text" class="form-control" ng-model="contact.title" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Phone</label>
				<div class="col-lg-10">
					<input type="tel" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern input-phone"  placeholder="(XXX) XXX XXXX" ng-model="contact.phone" name="phone" required="true">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input type="email" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="contact.email" required="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Hours</label>
				<div class="col-lg-10">
				<textarea class="form-control" ng-model="contact.hours" required> </textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Address</label>
				<div class="col-lg-10">
				<textarea class="form-control" ng-model="contact.address" required> </textarea>
					<!-- <input type="text" > -->
				</div>
			</div>
	

	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Close</button>
			<button type="submit" class="btn btn-primary">Update</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
</form>
