<form class="bs-example form-horizontal" name="form" novalidate>
	<!-- <div class="modal-header">
		<h3 class="modal-title">Are you sure you want to delete this Publication?</h3>
	</div>

	<div class="modal-footer" ng-hide="process==true">

	</div> -->


	<div class="panel panel-default">

		<div class="panel-heading"><i class="icon-info"></i> Notification</div>
		<div class="panel-body">
			<p>Are you sure you want to delete this user(s)?</p>
		</div>
		<footer class="panel-footer">
			<!-- chat form -->
			<div class="pull-right">
				<a class="btn btn-default" ng-click="cancel()">Cancel</a>
				<a class="btn btn-primary" ng-click="ok()">Delete</a>
			</div>
			<div style="clear:both;"></div>
		</footer>
	</div>
</form>
