<form class="bs-example form-horizontal" name="form" novalidate ng-submit="ok(subcategory)">

    <div class="panel panel-default">
        <div class="panel-heading">
            Edit Product Sub Category
        </div>
        
        <div class="row wrapper">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Sub Category</label>
                <div class="col-sm-8">
                    <span class="label label-danger" ng-if="exist">Sub Category already exist.</span>
                    <input type="text" class="form-control" id="name" ng-model="subcategory.subcategory" ng-change="validateSubCategory(subcategory.id, subcategory.subcategory)" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Type</label>
                <div class="col-sm-8">
                    <span class="label label-danger" ng-if="required">Type is required.</span>
                    <ui-select multiple on-select="validation(subcategory.type)" on-remove="validation(subcategory.type)" tagging ng-disabled="disable" tagging-label="false" ng-model="subcategory.type" theme="bootstrap" title="Choose a type">
                        <ui-select-match placeholder="Select type...">{[{ $item }]} </ui-select-match>
                        <ui-select-choices repeat="type in types">
                          {[{ type }]}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <footer class="panel-footer hiddenoverflow">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </footer>
        </div>
    </div>

</form>