<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> Are you sure you want to delete this Service Category?</div>
	<div class="modal-body" ng-show="viewconflicts==true">
    	<h5>This category has service/s. If you want to delete this category please change every service category (select category and click the edit button)</h5>
    	<table class="table table-striped b-t b-light">
    		<thead>
    			<tr>
    				<th width="40%">Title</th>
    				<th>Category</th>
                    <th>Action</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="page in pageconflict">
    				<td>{[{ page.title }]}</td>
    				<td><select class="form-control m-b" ng-model="page.catid" required="required" ng-options="c.id as c.title for c in categories">
                    </td>
                    <td>
                    <input type="hidden" ng-model="page.pageid">
                    <a href="" ng-click="editcategory(page)"><span class="label bg-warning">Edit</span></a></td>
                </tr>
    		</tbody>
    	</table>
    </div>
	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-primary" ng-disabled="disabledelete==true" ng-click="ok(catid)">Delete</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>




