<form class="bs-example form-horizontal" name="categoryform" novalidate ng-submit="ok(category)">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            Edit Category
        </div>

        <div class="row wrapper">
            <div class="col-sm-10">         
                <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="category.title" required="required" placeholder="Title">
                <!-- <input type="text" id="subtitle" name="subtitle" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="category.subtitle" placeholder="Sub Title for landing page."> --><br>
                <span ng-show="validslugs" class="pull-left mg-left text-danger">Slugs already exist, please change it.</span>
                 <div ng-show="validslugs" class="line line-dashed b-b line-lg"></div>
                   <div>
                  <input type="text" ng-show="editslug" id="pageslugs" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern pull-left" ng-model="category.slugs" ng-keypress="onslugs(category.slugs);" ng-change="uniqueslugs(category.slugs)"><span ng-bind="category.slugs" class="pull-left mg-left"></span>
                  <div ng-show="editslug">
                    <a class="btn btn-danger btn-xs pull-right mg-left" ng-click="cancelpageslug(category.title)">cancel</a>
                    <button type="button" class="btn btn-primary btn-xs pull-right mg-left" ng-click="setslug(category.slugs)" ng-disabled="validslugs">ok</button>
                </div>
                <a class="btn btn-danger btn-xs pull-right mg-left" ng-hide="editslug" ng-click="clearslug(category.title)">clear</a>
                <a class="btn btn-primary btn-xs pull-right mg-left" ng-hide="editslug" ng-click="editpageslug()">edit slug</a>
            </div>

                <div class="line line-dashed b-b line-lg"></div>
                <input colorpicker ng-model="category.color" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern width90px pull-left" required="required">
                <div class="colorpicker-colorbox form-control pull-left" style="background-color: {[{ category.color }]}"></div>
                <br>
         </div>
        </div>

        <div class="table-responsive">
            <footer class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success" ng-disabled="categoryform.$invalid">Save</button>
            </footer>
        </div>
    </div>
    
</form>