<!-- CREDIT CARD PART -->
<form class="bs-example form-horizontal" name="formcard" novalidate ng-if="card">

    <div class="panel panel-default">
        <div class="panel-heading">
            Payment Type: {[{ paymenttype }]}
        </div>

        <div class="row wrapper" ng-if="card">
            <div class="col-sm-12">

                <div>
                    <br/>
                    <div class="form-group row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <img src="/img/creditcards/amex.png" width="49px" height="29px">
                            <img src="/img/creditcards/discover.png" width="49px" height="29px">
                            <img src="/img/creditcards/mastercard.png" width="49px" height="29px">
                            <img src="/img/creditcards/visa.png" width="49px" height="29px">
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-md-4">
                            Credit Card Number: *
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="userccreg.ccn" name="" required only-digits />
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-md-4">
                            CVV Number: *
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control " ng-model="userccreg.cvvn" name="" required only-digits />
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <!-- <a href="https://www.cvvnumber.com/cvv.html" target="_blank">Explain</a> -->
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-md-4">
                            Credit Card Expiration: *
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-xs-6">
                                    <span>Month</span><br/>
                                    <select ng-model="userccreg.expiremonth" class="form-control" ng-options="m.val as m.name for m in months" required></select>
                                </div>
                                <div class="col-xs-6">
                                    <span>Year</span><br/>
                                    <select ng-model="userccreg.expireyear" class="form-control" ng-options="y.val as y.val for y in years" required></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-md-12">
                            <span style="font-weight:bold;">Billing Information</span>
                            {[{ user }]}
                        </div>
                    </div>
                    <div>
                        <div class="form-group row" >
                            <div class="col-md-4">
                                First Name: *
                            </div>
                            <div class="col-md-8">
                                <input class="form-control " type="text" ng-model="userccreg.billingfname" name="billingfname" value="{[{ user.firstname }]} " disabled/>
                            </div>
                        </div>
                        <div class="form-group row" >
                            <div class="col-md-4">
                                Last Name: *
                            </div>
                            <div class="col-md-8">
                                <input class="form-control " type="text" ng-model="userccreg.billinglname" name="billinglname" value="{[{ user.lastname }]}" required/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                Address Line 1: *
                            </div>
                            <div class="col-md-8">
                                <input class="form-control " type="text" ng-model="userccreg.al1" name="al1" required value="{[{ user.address1 }]}" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                Address Line 2:
                            </div>
                            <div class="col-md-8">
                                <input class="form-control " type="text" ng-model="userccreg.al2" name="al2" value="{[{ user.address2 }]}" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                City: *
                            </div>
                            <div class="col-md-8">
                                <input class="form-control " type="text" ng-model="userccreg.city" name="city" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                State:
                            </div>
                            <div class="col-md-8">
                                <input class="form-control " type="text" ng-model="userccreg.state" name="city" required value="{[{ user.state }]}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                ZIP/Postal Code: *
                            </div>
                            <div class="col-md-8">
                                <input class="form-control " type="text" ng-model="userccreg.zip" name="zip" required value="{[{ user.zipcode }]}" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                Country: *
                            </div>
                            <div class="col-md-8">
                                <select id="userccregcountry" name ="country" ng-model="userccreg.country" class="location form-control m-b" required >
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="table-responsive">
            <footer class="panel-footer text-right">
                <button type="button" class="btn btn-default"  ng-click="cancel()">Cancel</button>
              <!--   <button type="submit" class="btn btn-success" ng-disabled="formcard.$invalid">Submit</button> -->
                <button type="submit" class="btn btn-success" ng-disabled="formcard.$invalid" ng-click="submitLater(userccreg)">Submit Later</button>
            </footer>
        </div>
    </div>

</form>
<!-- END FOR CREDIT CARD-->

<!-- CHECK PART -->
<form class="bs-example form-horizontal" name="formcheque" novalidate ng-if="check">
    <div class="panel panel-default">
        <div class="panel-heading">
            Payment Type: {[{ paymenttype }]}
        </div>

        <div class="row wrapper" ng-if="check">
            <div class="col-sm-12">

                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-4">
                        Account Holder Name: *
                    </div>
                    <div class="col-md-8">
                        <input class="form-control " type="text" ng-model="userecheck.accountname" name="accountname" ng-required="true"/>
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-4">
                        Your bank name: *
                    </div>
                    <div class="col-md-8">
                        <input class="form-control " type="text" ng-model="userecheck.bankname" name="bankname" ng-required="true"/>
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-12">
                        Enter the routing code and account number as they appear on the bottom of your check:
                    </div>
                    <div class="col-md-12">
                        <img src="/img/checksample.png">
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-4">
                        Bank Routing Number: *
                    </div>
                    <div class="col-md-8">
                        <input class="form-control " type="text" ng-model="userecheck.bankrouting" name="bankrouting" ng-required="true" only-digits/>
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-4">
                        Bank Account Number: *
                    </div>
                    <div class="col-md-8">
                        <input class="form-control " type="text" ng-model="userecheck.bankaccountnumber" name="bankaccountnumber" ng-required="true" only-digits />
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-4">
                        Select Account Type:
                    </div>
                    <div class="col-md-8" ng-init="userecheck.at = 'CHECKING'">
                        <input type="radio" name="at" ng-model="userecheck.at" value="CHECKING">&nbsp;&nbsp;Checking account<br/>
                        <input type="radio" name="at" ng-model="userecheck.at" value="BUSINESSCHECKING">&nbsp;&nbsp;Business checking account<br/>
                        <input type="radio" name="at" ng-model="userecheck.at" value="SAVINGS">&nbsp;&nbsp;Savings account
                    </div>
                </div>

                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-12">
                        <input type="checkbox"  ng-model="userecheck.autorz" name="autorz" value="1" ng-required="true">*
                                <span style="text-align: center;">
                                By entering my account number about and Clicking authorize, I authorize my payment to be processed
                                as an electronic funds transfer or draft drawn from my account. If the payment returned unpaid, I authorize you or your service
                                provider to collect the payment at my state's return item fee by electronic funds transfer(s) or draft(s) drawn from my account.
                                <a href="https://www.achex.com/html/NSF_pop.jsp" target="_blank">Click here to view your state's returned item fee.</a> If this payment is from a corporate account, I make these
                                authorizations as an authorized corporate representative and agree that the entity will be bound by the NACHA operating rules.
                                </span>
                    </div>
                </div>

                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-12">
                        <span style="font-weight:bold;">Billing Information</span>
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-4">
                        First Name: *
                    </div>
                    <div class="col-md-8">
                        <input class="form-control " type="text" ng-model="userecheck.billingfname" name="billingfname" ng-required="true" />
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-4">
                        Last Name: *
                    </div>
                    <div class="col-md-8">
                        <input class="form-control " type="text" ng-model="userecheck.billinglname" name="billinglname" ng-required="true" />
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-4">
                        Address Line 1: *
                    </div>
                    <div class="col-md-8">
                        <input class="form-control " type="text" ng-model="userecheck.al1" name="al1" ng-required="true" />
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-4">
                        Address Line 2:
                    </div>
                    <div class="col-md-8">
                        <input class="form-control " type="text" ng-model="userecheck.al2" name="al2" />
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-4">
                        City: *
                    </div>
                    <div class="col-md-8">
                        <input class="form-control " type="text" ng-model="userecheck.city" name="city" ng-required="true" />
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-4">
                        State:
                    </div>
                    <div class="col-md-8">
                        <input class="form-control " type="text" ng-model="userecheck.state" name="city" />
                    </div>
                </div>
                <!--<div class="form-group row" style="padding-left:15px;">-->
                    <!--<div class="col-md-4">-->
                        <!--Province:-->
                    <!--</div>-->
                    <!--<div class="col-md-8">-->
                        <!--<input class="form-control " type="text" ng-model="userecheck.province" name="province" />-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-4">
                        ZIP/Postal Code: *
                    </div>
                    <div class="col-md-8">
                        <input class="form-control " type="text" ng-model="userecheck.zip" name="zip" required />
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="col-md-4">
                        Country: *
                    </div>
                    <div class="col-md-8">
                        <select id="userecheckcountry" name ="country" ng-model="userecheck.country" class="location form-control m-b" required >
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <footer class="panel-footer text-right">
                <button type="button" class="btn btn-default"  ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success" ng-disabled="formcheque.$invalid" ng-click="submitLater(userecheck)">Ok</button>
            </footer>
        </div>
    </div>
</form>
<!-- END CHECK PART -->
<script>
    $(document).ready(function() {
        if ($('#userecheckcountry').length) {
            print_country("userecheckcountry");
        }
        if ($('#userccregcountry').length) {
            print_country("userccregcountry");
        }
    });
</script>