<style>
.Service {
 	height:30vw;
	width:100%;
	background-size:cover!important;
	background-position:center center!important;
	word-wrap: break-word;
}
.Service-title { font-size:2vw; }
.Service-description { font-size:1.1vw; }
.Service-content {
	padding:.5vw;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.Service-box {
	background:rgba(250, 250, 250, .3);
	border-radius:1vw;
	box-shadow:0 2px 7px #444;
	padding:.8vw;
}

.Service-mv {
	width:50%;
	word-wrap: break-word;
}
.Service-mv-bg {
	height:15vw;
	width:100%;
	background-size:cover!important;
	background-position:center center!important;
}
.Service-mv-title { font-size:22px; }
.Service-mv-description { font-size:16px;}
.Service-mv-content {
	padding:10px;
}

.view-icon {
	margin:0 7px;
	cursor:pointer;
}
.bg-black { background:#111;}
</style>

<div class="panel panel-default bg-black">

	<div class="panel-heading font-bold">
		<i class="icon-preview"></i> Style Preview
		<span ng-hide="mobileview" class="pull-right view-icon" ng-click="mobileview = true">
			<i class="icon-screen-smartphone"></i> Mobile
		</span>
		<span ng-hide="mobileview" class="pull-right view-icon text-success">
			<i class="icon-screen-desktop"></i> Desktop
		</span>

		<span ng-show="mobileview" class="pull-right view-icon text-success">
			<i class="icon-screen-smartphone"></i> Mobile
		</span>
		<span ng-show="mobileview" class="pull-right view-icon" ng-click="mobileview = false">
			<i class="icon-screen-desktop"></i> Desktop
		</span>
	</div>
	<div class="panel-body">
		<div ng-hide="mobileview" class="container-fluid Service" style="background:url('{[{banner}]}')">
			<div ng-if="page.align == 'left' " class="col-sm-6 Service-content" style="color:{[{page.color}]}">
				<div ng-show="page.box == true " class="Service-box">
					<span class="Service-title" ng-bind="page.imagethumbsubtitle"></span>
					<br>
					<span class="Service-description" ng-bind="page.thumbdesc"></span>
					<a class="Services-learnmore">Learn More</a>
				</div>
				<div ng-show="page.box == false ">
					<span class="Service-title" ng-bind="page.imagethumbsubtitle"></span>
					<br>
					<span class="Service-description" ng-bind="page.thumbdesc"></span>
					<a class="Services-learnmore">Learn More</a>
				</div>
			</div>

			<div ng-if="page.align == 'right' " class="col-sm-6 col-sm-offset-6 Service-content" style="color:{[{page.color}]}">
				<div ng-show="page.box == true " class="Service-box">
					<span class="Service-title" ng-bind="page.imagethumbsubtitle"></span>
					<br>
					<span class="Service-description" ng-bind="page.thumbdesc"></span>
					<a class="Services-learnmore">Learn More</a>
				</div>
				<div ng-show="page.box == false ">
					<span class="Service-title" ng-bind="page.imagethumbsubtitle"></span>
					<br>
					<span class="Service-description" ng-bind="page.thumbdesc"></span>
					<a class="Services-learnmore">Learn More</a>
				</div>
			</div>

			<div ng-if="page.align == 'center' " class="col-sm-6 col-sm-offset-3 Service-content" style="color:{[{page.color}]}">
				<div ng-show="page.box == true " class="Service-box">
					<span class="Service-title" ng-bind="page.imagethumbsubtitle"></span>
					<br>
					<span class="Service-description" ng-bind="page.thumbdesc"></span>
					<a class="Services-learnmore">Learn More</a>
				</div>
				<div ng-show="page.box == false ">
					<span class="Service-title" ng-bind="page.imagethumbsubtitle"></span>
					<br>
					<span class="Service-description" ng-bind="page.thumbdesc"></span>
					<a class="Services-learnmore">Learn More</a>
				</div>
			</div>
		</div>

		<div ng-show="mobileview" class="container Service-mv" style="color:{[{page.color}]}">
			<div class="col-sm-12 Service-mv-bg" style="background:url('{[{banner}]}')">
			</div>
			<div class="col-sm-12 Service-mv-content" style="background:{[{page.bgcolor}]}">
				<span class="Service-mv-title" ng-bind="page.imagethumbsubtitle"></span>
				<br>
				<span class="Service-mv-description" ng-bind="page.thumbdesc"></span>
				<a class="Services-learnmore">Learn More</a>
			</div>
		</div>
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Close</button>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>
