<style>
.Homepage {
 	height:30vw;
	width:100%;
	background-size:cover!important;
	background-position:center center!important;
	word-wrap: break-word;
}
.Homepage-content {
	padding:.5vw;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.Homepage-title, .Homepage-description {
	color:#222;
}
.Homepage-box {
	background:rgba(250, 250, 250, .3);
	border-radius:1vw;
	box-shadow:0 2px 7px #444;
	padding:.8vw;
}

.Homepage-mv {
	width:50%;
	word-wrap: break-word;
}
.Homepage-mv-bg {
	height:15vw;
	width:100%;
	background-size:cover!important;
	background-position:center center!important;
}
.Homepage-mv-title { font-size:22px; }
.Homepage-mv-description { font-size:16px;}
.Homepage-mv-content {
	padding:10px;
}

.view-icon {
	margin:0 7px;
	cursor:pointer;
}
.bg-black { background:#111;}
</style>

<div class="panel panel-default bg-black">

	<div class="panel-heading font-bold">
		<i class="icon-preview"></i> Style Preview
		<span ng-hide="mobileview" class="pull-right view-icon" ng-click="mobileview = true"><i class="icon-screen-smartphone"></i> Mobile</span>
		<span ng-hide="mobileview" class="pull-right view-icon text-success"><i class="icon-screen-desktop"></i> Desktop</span>

		<span ng-show="mobileview" class="pull-right view-icon text-success"><i class="icon-screen-smartphone"></i> Mobile</span>
		<span ng-show="mobileview" class="pull-right view-icon" ng-click="mobileview = false"><i class="icon-screen-desktop"></i> Desktop</span>
	</div>
	<div class="panel-body">
		<div ng-hide="mobileview" class="container-fluid Homepage" style="background:url('{[{banner}]}')">
			<div ng-if="content.position == 'Left' " class="col-sm-6 Homepage-content">
				<div ng-show="content.box == 'on' " class="Homepage-box">
					<span class="Homepage-title" ng-bind="content.title" 
						style="	color:{[{content.titlecolor}]}; 
								font-size:{[{content.titlesize}]}px">
					</span>
					<br>
					<span class="Homepage-description" ng-bind="content.body" 
						style="	color:{[{content.descriptioncolor}]}; 
								font-size:{[{content.descriptionsize}]}px">
					</span>
					<a class="Services-learnmore" ng-bind="content.btnname"></a>
				</div>
				<div ng-show="content.box == 'off' ">
					<span class="Homepage-title" ng-bind="content.title" 
						style="	color:{[{content.titlecolor}]}; 
								font-size:{[{content.titlesize}]}px">
					</span>
					<br>
					<span class="Homepage-description" ng-bind="content.body" 
						style="	color:{[{content.descriptioncolor}]}; 
								font-size:{[{content.descriptionsize}]}px">
					</span>
					<a class="Services-learnmore" ng-bind="content.btnname"></a>
				</div>
			</div>

			<div ng-if="content.position == 'Right' " class="col-sm-6 col-sm-offset-6 Homepage-content" style="color:{[{content.color}]}">
				<div ng-show="content.box == 'on' " class="Homepage-box">
					<span class="Homepage-title" ng-bind="content.title" 
						style="	color:{[{content.titlecolor}]}; 
								font-size:{[{content.titlesize}]}px">
					</span>
					<br>
					<span class="Homepage-description" ng-bind="content.body" 
						style="	color:{[{content.descriptioncolor}]}; 
								font-size:{[{content.descriptionsize}]}px">	
					</span>
					<a class="Services-learnmore" ng-bind="content.btnname"></a>
				</div>
				<div ng-show="content.box == 'off' ">
					<span class="Homepage-title" ng-bind="content.title" 
						style="	color:{[{content.titlecolor}]}; 
								font-size:{[{content.titlesize}]}px">
					</span>
					<br>
					<span class="Homepage-description" ng-bind="content.body" 
						style="	color:{[{content.descriptioncolor}]}; 
								font-size:{[{content.descriptionsize}]}px">
					</span>
					<a class="Services-learnmore" ng-bind="content.btnname"></a>
				</div>
			</div>

			<div ng-if="content.position == 'Center' " class="col-sm-6 col-sm-offset-3 Homepage-content" style="color:{[{content.color}]}">
				<div ng-show="content.box == 'on' " class="Homepage-box">
					<span class="Homepage-title" ng-bind="content.title" 
						style="	color:{[{content.titlecolor}]}; 
								font-size:{[{content.titlesize}]}px">
					</span>
					<br>
					<span class="Homepage-description" ng-bind="content.body" 
						style="	color:{[{content.descriptioncolor}]}; 
								font-size:{[{content.descriptionsize}]}px">
					</span>
					<a class="Services-learnmore" ng-bind="content.btnname"></a>
				</div>
				<div ng-show="content.box == 'off' ">
					<span class="Homepage-title" ng-bind="content.title" 
						style="	color:{[{content.titlecolor}]}; 
								font-size:{[{content.titlesize}]}px">
					</span>
					<br>
					<span class="Homepage-description" ng-bind="content.body" 
						style="	color:{[{content.descriptioncolor}]}; 
								font-size:{[{content.descriptionsize}]}px">
					</span>
					<a class="Services-learnmore" ng-bind="content.btnname"></a>
				</div>
			</div>
		</div>

		<div ng-show="mobileview" class="container Homepage-mv" style="color:{[{content.color}]}">
			<div class="col-sm-12 Homepage-mv-bg" style="background:url('{[{banner}]}')"></div>
			<div class="col-sm-12 Homepage-mv-content" style="background:{[{content.bgcolor}]}">
				<span class="Homepage-mv-title" ng-bind="content.title" style="color:{[{content.titlecolor}]};"></span>
				<br>
				<span class="Homepage-mv-description" ng-bind="content.body" style="color:{[{content.descriptioncolor}]};"></span>
				<a class="Services-learnmore" ng-bind="content.btnname"></a>
			</div>
		</div>
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Close</button>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>
