<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Edit Testimonial</div>
	<div class="panel-body">
		<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>

		<form class="bs-example form-horizontal" name="testipage">
			<div class="form-group">
				<label class="col-lg-2 control-label"></label>
				<div class="col-lg-5">
					<img ngf-src="file[0]" id="testi-profpic" ngf-default-src="{[{ am }]}/uploads/testimonialpic/{[{ testi.picture }]}" ngf-accept="'image/*'" src="{[{ am }]}/uploads/testimonialpic/{[{ testi.picture }]}">
					<div ngf-select ngf-change="prepare($files)" ng-model="testi.files" class=""
						 ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
						 accept="image/*">
						Select Picture <br/> <span >(Not greater than 2mb)</span></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Name</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" placeholder="Name" ng-model="testi.name" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Page</label>
				<div class="col-lg-10">
					<select class="form-control m-b" ng-model="testi.page" required="required" ng-options="p.pageid as p.title for p in pages">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Message</label>
				<div class="col-lg-10">
					<textarea class="form-control" ng-model="testi.message" required=""></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Date</label>
				<div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
					<div class="input-group w-md">
						<input type="text" class="form-control" datepicker-popup="{[{format}]}" ng-model="testi.dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-disabled="true" />
							  <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							  </span>
					</div>
				</div>
			</div>
		</form>

	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-click="ok(testi)" ng-disabled="testipage.$invalid || saving">Update</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
