<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Add Probability for Option <span ng-bind='opt'> </span> </div>
	<div class="panel-body">
<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
<input type='hidden' ng-model='indexko'>

    			<div class='col-lg-12'>

    				<div class="form-group">
    	<textarea  rows="2" cols="30" placeholder="Type Result Here" class="form-control" ng-model='Result'>
    					</textarea>
                        <br>

                        <textarea  rows="4" cols="50" placeholder="Type Long Description Here" class="form-control" ng-model='Description'>
                        </textarea>


    				</div> <br>

    				<div class="line line-dashed b-b line-lg"></div>
    				<br>

    				<div class="form-group">
    				<label class="col-sm-3 control-label">Recommended Services:</label>
    					<div class="col-sm-4">
    						<input type="text" class="form-control" ng-model='Service' placeholder='Services'>                       
    					</div>
    					<div class="col-sm-3">
    						<input type="text" class="form-control" ng-model='Link' placeholder='Link'>                        
    					</div>

    					<div class="col-sm-2">
    					<a href class="btn btn-info btn-sm" ng-click='submitServices(Service,Link)'>
                                    <i class="fa fa-plus"></i>
                                    Add
                                </a>
                         </div>


                         <div>
                         	<!-- <div class='panel panel-heading'> Questions: </div> -->
                         	<table class='table table-striped b-t b-light' style='text-align:right;font-size:16px'> 
                         	<tr ng-repeat="rs in rservices">
                         			<td>
                         				{[{rs.Services}]}
                         			
                         			<td>
                         				<a href class="btn btn-default btn-xs" ng-click="editservices($index)">
                         					<i class="fa fa-edit"></i>
                         					Edit
                         				</a>
                         			</td>

                         			<td>

                         		<a href class="btn btn-default btn-xs" ng-click="deleteservices($index)">
                         					<i class="fa fa-trash-o"></i>
                         					Delete
                         				</a>

                         			</td>


                         		</tr>
                         	</table>
                         </div>

    				</div> <br>
    				<div class="line line-dashed b-b line-lg"></div>
    				<br>


    				<div class="form-group">
    				<label class="col-sm-4 control-label">Recommended Products:</label>
    					<div class="col-sm-6">
    						<input type="text" class="form-control" ng-model='Products' placeholder='Products'>                       
    					</div>

    					<div class="col-sm-2">
    					<a href class="btn btn-info btn-sm" ng-click='submitProducts(Products)'>
                                    <i class="fa fa-plus"></i>
                                    Add
                                </a>
                           </div>

                             <div>
                         	<!-- <div class='panel panel-heading'> Questions: </div> -->
                         	<table class='table table-striped b-t b-light' style='text-align:right;font-size:16px'> 
                         	<tr ng-repeat="rp in rproducts">
                         			<td>
                         				{[{rp.Products}]} 
                         			</td>
                         			
                         			<td>
                         				<a href class="btn btn-default btn-xs" ng-click="editproducts($index)">
                         					<i class="fa fa-edit"></i>
                         					Edit
                         				</a>
                         			</td>

                         			<td>

                         		<a href class="btn btn-default btn-xs" ng-click="deleteproducts($index)">
                         					<i class="fa fa-trash-o"></i>
                         					Delete
                         				</a>

                         			</td>


                         		</tr>
                         	</table>
                         </div>

    				</div> <br>
    				<div class="line line-dashed b-b line-lg"></div>
    				<br>
    				<span ng-bind='req' style='color:red'> </span>
    			</div>

	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-success" ng-click="ok(opt,Result,Description,rservices,rproducts)" ng-disabled="testipage.$invalid || saving">ADD</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
