<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Reason for Cancellation</div>
	<div class="panel-body">

				<form class="bs-example form-horizontal" name="testipage">
					<div class="form-group">
						<div class="col-lg-12">
							<textarea class="form-control" ng-model="testi.message" required=""></textarea>
						</div>
					</div>
				</form>

	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-click="ok(testi)" ng-disabled="testipage.$invalid">Send</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
