
<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Add Recommendation for Option <span ng-bind='opt'> </span> </div>
	<div class="panel-body">
<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
<input type='hidden' ng-model='indexko'>

    			<div class='col-lg-12'>
    		<br>

    				<div class="form-group">
                    <form class='form-validation' name='form1' ng-submit='submitServices(rs.Service,rs.Link)'>
    				<label class="col-sm-3 control-label">Recommended Services:</label>
    					<div class="col-sm-9">
    						<input type="text" class="form-control" ng-model='rs.Service' id='srv' placeholder='Services' required>                       
    					</div>
                        <label class="col-sm-3 control-label"></label>
    					<div class="col-sm-9">
    				<input type="text" class="form-control" ng-model='rs.Link' id='srv1' placeholder='Link' required> 
                    <br>                       
    					</div>

    					<div class="col-sm-12" style='text-align:right'>
    					<button type='submit' href class="btn btn-info btn-sm">
                                    <i class="fa fa-plus"></i>
                                    Add
                                </button> 
                         </div>
                         </form>
                         <div class="col-sm-12">
                            <div class='table-responsive'>

                    <table class='table table-striped b-t b-light' width='100%'>
                                 <tr ng-repeat="ss in recommendedlist">
                                 
                                        <td ng-hide="((ss.choice!=opt)  || (ss.services==null))"> 
                                         <pre>  {[{ss.services}]} </pre>
                                        </td>
                                         <td ng-hide="((ss.choice!=opt)  || (ss.link==null))"> 
                                        <pre>    {[{ss.link}]} </pre>
                                       
                                        </td>
                                        <td ng-hide="((ss.choice!=opt)  || (ss.services==null))">   <a href class="btn btn-default btn-xs" ng-click="edits(ss.id,indexko)">
                                            <i class="fa fa-edit"></i>
                                            Edit
                                        </a> 

                                        <a href class="btn btn-default btn-xs" ng-click="deletess(ss.id)">
                                                    <i class="fa fa-edit"></i>
                                                    Delete
                                                </a>
                                        </td>

                                    </tr> 
                                </table>
                            </div>
                        </div>
                         

    				</div> <br>
    				<div class="line line-dashed b-b line-lg"></div>
    				<br>
                     <!-- DATABASE --> 


    				<div class="form-group">
                    <form class='form-validation' ng-submit='submitProducts(Products)'>
    				<label class="col-sm-3 control-label">Recommended Products:</label>
    					<div class="col-sm-7">
    						<input type="text" class="form-control" ng-model='Products' id='pr' placeholder='Products' required>                       
    					</div>

    					<div class="col-sm-2">
    					<button type='submit' class="btn btn-info btn-sm">
                                    <i class="fa fa-plus"></i>
                                    Add
                                </button>
                           </div>
                      </form>
                             <div>
                         <!-- ARRAY --> 
                         	<table class='table table-striped b-t b-light' width='100%' style='table-layout: fixed;'> 
                         	<!-- <tr ng-repeat="rp in rproducts">
                         			<td>
                         				{[{rp.Products}]} 
                         			</td>
                         			
                         			<td>
                         				<a href class="btn btn-default btn-xs" ng-click="editproducts($index)">
                         					<i class="fa fa-edit"></i>
                         					Edit
                         				</a>
                                     <a href class="btn btn-default btn-xs" ng-click="deleteproducts($index)">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </a>
                         			</td>

                         		</tr> -->
                        <!-- ARRAY --> 

                         <!-- DATABASE --> 
                                 <tr ng-repeat="ss in recommendedlist">
                                    <!-- <td> {[{ss.products}]} </td> -->
                                         <td ng-hide="((ss.choice!=opt) || (ss.products==null) || (ss.products==''))"> 
                                         <pre>   {[{ss.products}]} </pre>
                                       
                                        </td>
                                        <td ng-hide="((ss.choice!=opt) || (ss.products==null) || (ss.products==''))">   <a href class="btn btn-default btn-xs" ng-click="editp(ss.id,indexko)">
                                            <i class="fa fa-edit"></i>
                                           Edit
                                        </a> 

                                        <a href class="btn btn-default btn-xs" ng-click="deletepp(ss.id)">
                                                    <i class="fa fa-edit"></i>
                                                    Delete
                                                </a>
                                        </td>
                                </tr>
                         <!-- DATABASE --> 
                         	</table>
                         </div>

    				</div>
    			</div>

	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">CLOSE</button>
			<button class="btn btn-success" ng-click="ok()">OK</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
