<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Add Probability for Option <span ng-bind='opt'> </span> </div>
	<div class="panel-body">
<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
<input type='hidden' ng-model='indexko'>

    			<div class='col-lg-12'>

                 <div class="form-horizontal">
                  <div class="form-group">

                          <label class="control-label col-sm-6">Add answer if most answer are Option? :</label>
                    <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="probability" placeholder="Enter Probability" style="text-transform:uppercase" onkeypress="return lettersOnly()" id='pr' required>
                    </div>

                </div>


            </div>
              
       <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">
                     <label class="col-sm-1">Title:</label>
                      <div class="col-sm-11">
                   
        <textarea  rows="2" cols="30" placeholder="Type Title Here" ng-model='Result' id='qq' class="form-control"  required>
                        </textarea>
                        <br>
                        </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1">Result:</label>
                      <div class="col-sm-11">
                            <textarea class="ck-editor" id='ck' ng-model='rs.Description' required="required"></textarea>
                        </div>
                        </div>

    				</div>
    			</div>

	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">CLOSE</button>
			<button class="btn btn-success" ng-click="ok(probability,Result,rs.Description)">ADD</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

<script type="text/javascript">
function lettersOnly(evt) {
       evt = (evt) ? evt : event;
       var charCode = (evt.charCode) ? evt.charCode : ((evt.keyCode) ? evt.keyCode :
          ((evt.which) ? evt.which : 0));
       if (charCode > 31 && (charCode < 65 || charCode > 90) &&
          (charCode < 97 || charCode > 122)) {
          return false;
       }
       return true;
     }
</script>

</div>
