<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Add Question</div>
	<div class="panel-body">
<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>

	<form name='form' id='form' ng-submit="submitQuestion(Question,OptionA,OptionB,OptionC)">

    			<div class="form-group">
    	<textarea  rows="4" cols="50" placeholder="Type Question Here" class="form-control" ng-model='Question' id='qq' required>
    					
    				</textarea>
    			</div>

    			<div class="line line-dashed b-b line-lg"></div>

    				<div class='panel-heading font-bold'>
    			Add Choices
    			</div>
    				<div class="form-group">
    					<label class="col-sm-2 control-label">A:</label>
    					<div class="col-sm-10">
    						<input type="text" class="form-control" ng-model='OptionA' id='a' required>                        
    					</div>
    				</div>
    				<div class="line line-dashed b-b line-lg"></div>
    				<div class="form-group">
    					<label class="col-sm-2 control-label">B:</label>
    					<div class="col-sm-10">
    						<input type="text" class="form-control" ng-model='OptionB' id='b' required>                        
    					</div>
    				</div> 
    				<div class="line line-dashed b-b line-lg"></div>
    				<div class="form-group">
    					<label class="col-sm-2 control-label">C:</label>
    					<div class="col-sm-10">
    						<input type="text" class="form-control" ng-model='OptionC' id='c' required>                        
    					</div>
    				</div>
    		<div class="line line-dashed b-b line-lg"></div>
    
    			<div id='req'>
    	
		<i> <span ng-bind='req' style='color:red'> </span> </i><br>
	<br>
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button type='button' class="btn btn-default" ng-click="cancel()">Close</button>
			<button type='submit' class="btn btn-primary">Add</button>
		</div>
		<div style="clear:both;"></div>
	</footer>
</form>
<!-- Question,data.OptionA,OptionB,OptionC -->



</div>
