<style>
pre
{
    background-color: white;
    border:none;
    margin-top:0px;
    padding:0px;
}

</style>
<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Add Recommendations for Option <span ng-bind='opt'> </span> </div>
	<div class="panel-body">
<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
<input type='hidden' ng-model='indexko'>

    			<div class='col-lg-12'>
    			<br> <br>
    				<div class="form-group">
    				<label class="col-sm-3 control-label">Recommended Services:</label>
                     <form class='form-validation' ng-submit='submitServices(Service,Link)'>
    					<div class="col-sm-9">
    						<input type="text" class="form-control" ng-model='Service' id='srv' placeholder='Services' required>                      
    					</div>
                        <label class="col-sm-3 control-label"></label>
    					<div class="col-sm-9">
    				<input type="text" class="form-control" ng-model='Link' id='srv1' placeholder='Link' required>
                    <br>                        
    					</div>

    					<div class="col-sm-12" style='text-align:right'>
    					<button type='submit' class="btn btn-info btn-sm" >
                                    <i class="fa fa-plus"></i>
                                    Add
                                </button>
                         </div>
                         </form>
                         </div>

                         <div class='table-responsive'>
                         	
                <table class='table table-striped b-t b-light' width='100%' style='table-layout: fixed;'> 
                         	<tr ng-repeat="rs in rservices">
                         			<td>
                              <pre> {[{rs.Services}]} </pre>

                                    </td>
                                    <td>
                                    <pre>  {[{rs.Link}]} </pre>
                                    </td>
                         			
                         			<td>
                         				<a href class="btn btn-default btn-xs" ng-click="editservices($index)">
                         					<i class="fa fa-edit"></i>
                         					Edit
                         				</a>
                                     <a href class="btn btn-default btn-xs" ng-click="deleteservices($index)">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </a>
                         			</td>

                         


                         		</tr>
                         	</table>
                         </div>

    				 <br>
    				<div class="line line-dashed b-b line-lg"></div>
    				<br>


    				<div class="form-group">
    				<label class="col-sm-3 control-label">Recommended Products:</label>
                     <form class='form-validation' ng-submit='submitProducts(Products)'>
    					<div class="col-sm-7">
    						<input type="text" class="form-control" ng-model='Products' id='pr' placeholder='Products' required>                       
    					</div>

    					<div class="col-sm-2">
    					   <button type='submit' class="btn btn-info btn-sm">
                                    <i class="fa fa-plus"></i>
                                    Add
                                </button>
                           </div>
                           </form>
                             <div>
                        
                         	<table class='table table-striped b-t b-light' width='100%' style='table-layout: fixed;'> 
                         	<tr ng-repeat="rp in rproducts">
                         			<td>
                         				<pre>{[{rp.Products}]}</pre>
                         			</td>
                         			
                         			<td>
                         				<a href class="btn btn-default btn-xs" ng-click="editproducts($index)">
                         					<i class="fa fa-edit"></i>
                         					Edit
                         				</a>
                                     <a href class="btn btn-default btn-xs" ng-click="deleteproducts($index)">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </a>
                         			</td>



                         		</tr>
                         	</table>
                         </div>

    				</div>
    			</div>

	<footer class="panel-footer">
    <span ng-show='req1' style='color:red'> Please Fill out Recommended Services</span><br>
    <span ng-show='req2' style='color:red'> Please Fill out Recommended Products</span>
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">CLOSE</button>
			<button class="btn btn-success" ng-click="ok(rservices,rproducts)" ng-disabled="testipage.$invalid || saving">SUBMIT</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
