<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Arrange Questions </div>
	<div class="panel-body">
<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
<input type='hidden' ng-model='id'>
<input type='hidden' ng-model='testid'>
		

	<br>
	<div class="form-group">
	<label class='col-sm-12'> <em class='muted'> <i> Drag and drop the Questions to Arrange them </i></em></label>
	</div>
	<br>
			<div class="form-group">
				     <div style='font-size:16px'>
                          <ul class='table' ui-sortable="sortableOptions" ng-model="list" style='list-style-type:square' id='arr'>
                                        <li ng-repeat="item in list" class="item">
                                          {[{item.Question}]}
                                        </li>
                           </ul>
                     </div>
			</div>


	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-success" ng-click="ok()" ng-disabled="testipage.$invalid || saving">OK</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
