<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> Notification </div>
	<div class="panel-body">
<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
<input type='hidden' ng-model='id'>
		

		Are you sure you want to delete this question?


	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-click="ok(id)" ng-disabled="testipage.$invalid || saving">Delete</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
