<div class="panel panel-default">

    <div class="panel-heading"><i class=" icon-note "></i> Edit Services</div>
    <div class="panel-body">
<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
<input type='hidden' ng-model='indexko'>
        <div class="form-group">
                <label class="col-lg-2 control-label">Service:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="option1" required>
                </div>
            </div>

                        <br>
        <div class="line line-dashed b-b line-lg"></div>
    <br>
            <div class="form-group">
                <label class="col-lg-2 control-label">Link:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="option2" required>
                </div>
            </div>

    </div>
    <footer class="panel-footer">
        <div class="pull-right">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="ok(option1,option2,indexko)" ng-disabled="testipage.$invalid || saving">Update</button>
        </div>
        <div style="clear:both;"></div>
    </footer>

</div>
