<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Edit Probability for Option <span ng-bind='opt'></div>
	<div class="panel-body">
<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
<input type='hidden' ng-model='id'>
<input type='hidden' ng-model='testid'>

		   <div class="form-horizontal">
                  <div class="form-group">

            
                    <label class="control-label col-sm-6">Add answer if most answer are Option? :</label>
                    <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="option1" placeholder="Enter Probability" style="text-transform:uppercase" onkeypress="return lettersOnly()" id='pp' disabled="">
                    </div>

                </div>


            </div>

    	<div class="line line-dashed b-b line-lg"></div>
	<br>
			<div class="form-group">
				<label class="col-lg-2 control-label">Title:</label>
				<div class="col-lg-10">
					   <textarea  rows="2" cols="30" class="form-control" ng-model='option2'>
                        </textarea>
				</div>
			</div>

						<br>
    	<div class="line line-dashed b-b line-lg"></div>
    			<br>

			<div class="form-group">
				<label class="col-lg-2 control-label">Result:</label>
				<div class="col-lg-10">
				<textarea  class="ck-editor" ng-model="option3" required>
    					</textarea>
					
				</div>
			</div>

			<!-- <div class="line line-dashed b-b line-lg"></div>
    				<div class="form-group">
    				    <label>Recommendations:</label>
    				    <table class='table table-striped b-t b-light'>
                                    <thead>
                                        <th> Services </th>
                                        <th> Link </th>
                                  		<th> Products </th>
                                  		<th> </th>
                                    </thead>

                                    <tbody ng-repeat="ss in recommendedlist">
                                        <td ng-hide="ss.choice!=option1"> 
                                       	
                                            {[{ss.services}]}
                                        </td>
                                         <td ng-hide="ss.choice!=option1"> 
                                            {[{ss.link}]}
                                       
                                        </td>
                                         <td ng-hide="ss.choice!=option1"> 
                                            {[{ss.products}]}
                                       
                                        </td>

                                        <td ng-hide="ss.choice!=option1">   <a href class="btn btn-default btn-xs" ng-click="edits(ss.id,indexko)">
                                            <i class="fa fa-edit"></i>
                                            Edit
                                        </a> 

                                        <a href class="btn btn-default btn-xs" ng-click="deletess(ss.id)">
                                                    <i class="fa fa-edit"></i>
                                                    Delete
                                                </a>
                                        </td>

                                    </tbody> 
                                </table>
    				 </div> -->

    				 <div class="line line-dashed b-b line-lg"></div>
    				


	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-click="ok(option1,option2,option3,id)" ng-disabled="testipage.$invalid || saving">Update</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
