<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Edit Probability for Option <span ng-bind='opt'> </span> </div>
	<div class="panel-body">
<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
<input type='hidden' ng-model='indexko'>
 <!--    			<div class='col-lg-12'> -->
                <div class="form-horizontal">
                  <div class="form-group">

                    <label class="control-label col-sm-6">Add answer if most answer are Option? :</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="probability" placeholder="Enter Probability" style="text-transform:uppercase">
                    </div>

                </div>


            </div>
            <div class="line line-dashed b-b line-lg"></div>
  <br>
         <div class="form-group">
                <label class="col-lg-2 control-label">Title:</label>
                <div class="col-lg-10">
                       <textarea  rows="2" cols="30" class="form-control" ng-model='Result'>
                        </textarea>
                </div>
            </div>

                   <div class="line line-dashed b-b line-lg"></div>     
          <div class="form-group">
                        <br>
                        <label class="control-label col-sm-1">Result:</label>
                        <div class="col-sm-11">
            <textarea  class='ck-editor' ng-model='Description'>
                        </textarea>
                        </div>


                    </div>


    				</div>
    			</div>

	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">CLOSE</button>
			<button class="btn btn-primary" ng-click="ok(Result,Description)" ng-disabled="testipage.$invalid || saving">UPDATE</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
