<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Edit Services || Links </div>
	<div class="panel-body">
<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
<input type='hidden' ng-model='id'>
<input type='hidden' ng-model='testid'>
		

	<br>
			<div class="form-group">
				<label class="col-lg-2 control-label">Services:</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" ng-model="option2" required>
				</div>
			</div>

						<br>
    	<div class="line line-dashed b-b line-lg"></div>
    			<br>

			<div class="form-group">
				<label class="col-lg-2 control-label">Links:</label>
				<div class="col-lg-10">
				<input type='text' class="form-control" ng-model="option3" required>
    				
					
				</div>
			</div>

			<br>
    	<div class="line line-dashed b-b line-lg"></div>
    			<br>

			<!-- <div class="form-group">
				<label class="col-lg-2 control-label">Products:</label>
				<div class="col-lg-10">
				<input type='text' class="form-control" ng-model="option4" required>
    				
					
				</div>
			</div> -->


	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-click="ok(option2,option3,id)" ng-disabled="testipage.$invalid || saving">Update</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
