<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> Edit Test Name </div>
	<div class="panel-body">
    <input type='hidden' ng-model='id'>

    <input type="text" name="test" class="form-control" ng-model='testname' required>

	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-success" ng-click="ok(testname,id)" >UPDATE</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
