<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i> Notification </div>
	<div class="panel-body">
    <input type='hidden' ng-model='id'>

    Are you sure you want to edit this Test ?

	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-success" ng-click="ok(id)" >YES</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
