/*!
 * Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/*html,
body {
    height: 100%;
}*/

.panel-wrapper
{
    background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
}
.carousel-control .icon-prev, .carousel-control .icon-next
{
    font-size: 80px;
    width: 30px;
    height:30px;
    margin-top:-50px;
}
/*.buttonname{
    margin-top: 30px !important;
    margin-bottom: 20px !important;
    text-align: center;
    z-index: 9999 !important;
}*/
.carousel,.item,.active /*{height: 649px;}*/{/*height:41vw;*/}
/*.carousel-inner {height:41vw;}*/
/*.carousel-testi {height: 350px;}*/
.carousel-testi {
    position: relative;
    width: 100%;
    overflow: hidden;
}
/* Background images are set within the HTML using inline CSS, not here */
.fill {width: 100%;height: 100%;background-position: center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;}
.fullimgsize {width: 100%;height: 450px;}
.slidedescoverlay {background-color: rgba(255,255,255, 0.5);padding: 25px 35px 25px 35px;border-radius: 25px;width: 750px;display:inline-block;text-align: left;}
.fuller {padding-right: 200px;}
.mtitle{font-size:45px;font-weight: 400;font-family: 'Raleway', sans-serif;line-height: 100%;}
.mtitle2{font-size:45px;font-weight: 400;font-family: 'Raleway', sans-serif;line-height: 100%;}
.mbody{font-size:20px}
.carousel-caption{text-shadow: none !important;left: 12% !important;top: 13% !important;}
.socia-ico{float: right;}
.usha-count{text-align: center;}
/*footer {
    margin: 50px 0;
}*/

@media (max-width: 960px) { 
    .slidedescoverlay {
        width: 170%;
    }   
}
@media (max-width: 923px) { 
    .mtitle {
        font-size: 46px;
    }   
}
@media (max-width: 876px) { 
    .mtitle {
        font-size: 42px;
    }   
}
@media (max-width: 829px) { 
    .mtitle {
        font-size: 38px;
    }
    .mbody {
        font-size:18px
    }
}
@media (max-width: 800px) { 
    .slidedescoverlay {
        width: 185%;
    }   
}
@media (max-width: 767px) { 
    .slidedescoverlay {
        width: 170%;
    }   
}
@media (max-width: 730px) { 
    .mtitle {
        font-size: 34px;
    }
    .mbody {
        font-size:16px
    }
}
@media (max-width: 700px) { 
    .slidedescoverlay {
        width: 180%;
    }   
}
@media (max-width: 665px) { 
    .mtitle {
        font-size: 30px;
    }
    .mbody {
        font-size:14px
    }
}
@media (max-width: 602px) { 
    .slidedescoverlay {
        width: 200%;
    }   
}
@media (max-width: 571px) { 
    .slidedescoverlay {
        width: 220%;
    }   
}
@media (max-width: 562px) { 
    .mtitle {
        font-size: 26px;
    }
    .mbody {
        font-size:12px
    }
}
@media (max-width: 500px) { 
    .slidedescoverlay {
        width: 260%;
    }   
}
@media (max-width: 460px) { 
    .slidedescoverlay {
        width: 280%;
    }   
}
@media (max-width: 400px) { 
    .slidedescoverlay {
        width: 380%;
    }   
}
@media (max-width: 380px) { 
    .slidedescoverlay {
        width: 450%;
    }   
}
@media (max-width: 360px) { 
    .slidedescoverlay {
        width: 550%;
    }   
}
@media (max-width: 350px) { 
    .slidedescoverlay {
        width: 650%;
    }   
}
@media (max-width: 337px) { 
    .slidedescoverlay {
        width: 250px;
    }   
    .mtitle {
        font-size: 22px;
    }
}
@media (max-width: 290px) { 
    .slidedescoverlay {
        width: 220px;
    }   
    .mtitle {
        font-size: 18px;
    }
}
@media (max-width: 265px) { 
    .slidedescoverlay {
        width: 180px;
    }
}
/*@media (max-width: 600px) { 
    .slidedescoverlay {
        width: 350px;
    }
    .mtitle{
        font-size:36px;
    }
    .mbody{
        font-size:12px
    }
}

@media (max-width: 430px) { 
    .slidedescoverlay {
        width: 300px;
    }
    .mtitle{
        font-size:26px;
    }
    .mbody{
        font-size:12px;
        line-height: -50px;
    }
}

@media (max-width: 370px) { 
    .slidedescoverlay {
        width: 250px;
    }
}

@media (max-width: 370px) { 
    .slidedescoverlay {
        width: 200px
    }

}*/
