<style>
.Service {
 	height:30vw;
	width:100%;
	background-size:cover!important;
	background-position:center center!important;
	word-wrap: break-word;
}
.Service-title { color:#000000;font-size:2.5vw; font-family: 'HaloHandletter' !important; }
.Service-description {color:#000000; font-size:1.1vw; }
.Service-content {
	padding:.5vw;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.Service-box {
	width: 70%;
	margin-top: 2.5%;
	text-align: center;
	background: rgba(255, 255, 255, 0.4);
	padding: 20px 20px 40px 20px;
}
.no-box {
	text-align: center;
}

.Service-mv {
	width:50%;
	word-wrap: break-word;
	text-align:center;
}
.Service-mv-bg {
	height:15vw;
	width:100%;
	background-size:cover!important;
	background-position:center center!important;
}
.Service-mv-title { font-size:37px;font-family: 'HaloHandletter'; }
.Service-mv-description { font-size:16px;font-weight: bold}
.Service-mv-content {
	padding:10px;
}

.view-icon {
	margin:0 7px;
	cursor:pointer;
}
.bg-black { background:#111;}
.button a, .button a:visited {
    font-weight: 500;
    font-size: 15px;
    background: #dea227;
    border-bottom: 0px solid transparent;
    padding: 10px 20px;
    border-radius: 0px;
    color: #ffffff;
}
</style>

<div class="panel panel-default bg-black">

	<div class="panel-heading font-bold">
		<i class="icon-preview"></i> Style Preview
		<span ng-hide="mobileview" class="pull-right view-icon" ng-click="mobileview = true">
			<i class="icon-screen-smartphone"></i> Mobile
		</span>
		<span ng-hide="mobileview" class="pull-right view-icon text-success">
			<i class="icon-screen-desktop"></i> Desktop
		</span>

		<span ng-show="mobileview" class="pull-right view-icon text-success">
			<i class="icon-screen-smartphone"></i> Mobile
		</span>
		<span ng-show="mobileview" class="pull-right view-icon" ng-click="mobileview = false">
			<i class="icon-screen-desktop"></i> Desktop
		</span>
	</div>
	<div class="panel-body">
		<div ng-hide="mobileview" class="container-fluid Service" style="background:url('{[{banner}]}')">
			<div ng-if="page.align == 'left' " class="Service-content" style="color:{[{page.color}]}">
				<div ng-show="page.box == true " class="Service-box">
					<span class="Service-title" ng-bind="page.imagethumbsubtitle"></span>
					<br>
					<span class="Service-description" ng-bind="page.thumbdesc"></span><br><br>
					<div class="button"><a class="" ng-show="page.btnname" ng-bind="page.btnname"></a></div>
				</div>
				<div ng-show="page.box == false" class="no-box">
					<span class="Service-title" ng-bind="page.imagethumbsubtitle"></span>
					<span class="Service-description" ng-bind="page.thumbdesc"></span><br><br>
					<div class="button"><a class="" ng-show="page.btnname" ng-bind="page.btnname"></a></div>
				</div>
			</div>

			<div ng-if="page.align == 'right' " class="col-sm-10 col-sm-offset-5 Service-content" style="color:{[{page.color}]}">
				<div ng-show="page.box == true " class="Service-box">
					<span class="Service-title" ng-bind="page.imagethumbsubtitle"></span>
					<br>
					<span class="Service-description" ng-bind="page.thumbdesc"></span><br><br>
					<div class="button"><a class="" ng-show="page.btnname" ng-bind="page.btnname"></a></div>
				</div>
				<div ng-show="page.box == false" class="no-box">
					<span class="Service-title" ng-bind="page.imagethumbsubtitle"></span>
					<br>
					<span class="Service-description" ng-bind="page.thumbdesc"></span><br><br>
					<div class="button"><a class="" ng-show="page.btnname" ng-bind="page.btnname"></a></div>
				</div>
			</div>

			<div ng-if="page.align == 'center' " class="col-sm-11 col-sm-offset-2 Service-content" style="color:{[{page.color}]}">
				<div ng-show="page.box == true " class="Service-box">
					<span class="Service-title" ng-bind="page.imagethumbsubtitle"></span>
					<br>
					<span class="Service-description" ng-bind="page.thumbdesc"></span><br><br>
					<div class="button"><a class="" ng-show="page.btnname" ng-bind="page.btnname"></a></div>
				</div>
				<div ng-show="page.box == false" class="no-box">
					<span class="Service-title" ng-bind="page.imagethumbsubtitle"></span>
					<br>
					<span class="Service-description" ng-bind="page.thumbdesc"></span><br><br>
					<div class="button"><a class="" ng-show="page.btnname" ng-bind="page.btnname"></a></div>
				</div>
			</div>
		</div>

		<div ng-show="mobileview" class="container Service-mv" style="color:{[{page.color}]}">
			<div class="col-sm-12 Service-mv-bg" style="background:url('{[{banner}]}')">
			</div>
			<div class="col-sm-12 Service-mv-content" style="background:{[{page.bgcolor}]}">
				<span class="Service-mv-title" ng-bind="page.imagethumbsubtitle"></span>
				<br>
				<span class="Service-mv-description" ng-bind="page.thumbdesc"></span><br><br>
				<div class="button"><a class="" ng-show="page.btnname" ng-bind="page.btnname"></a></div>
			</div>
		</div>
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<button class="btn btn-default" ng-click="cancel()">Close</button>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>
