<div class="panel panel-default">
	<div class="panel-heading">Column</div>
	<div class="panel-body">
		<div class="panel-body">
			<div>
				<div class="col-sm-6">
					<input type="hidden" id="title" name="title" ng-init="selectedcol1=1" class="form-control" onClick="this.setSelectionRange(0, this.value.length)" ng-model="selectedcol1">
						<input type="button" class="colstyle" style="background-image: url('/img/1col.jpg');" ng-click="dagon(selectedcol1)">
				</div>
				<div class="col-sm-6">
					<input type="hidden" id="title" name="title" ng-init="selectedcol2=2" class="form-control" onClick="this.setSelectionRange(0, this.value.length)" ng-model="selectedcol2">
						<input type="button" class="colstyle" style="background-image: url('/img/2col.jpg');" ng-click="dagon(selectedcol2)">
				</div>	
			</div>
			<div>
				<div class="col-sm-6">
					<input type="hidden" id="title" name="title" ng-init="selectedcol3=3" class="form-control" onClick="this.setSelectionRange(0, this.value.length)" ng-model="selectedcol1">
						<input type="button" class="colstyle" style="background-image: url('/img/3col.jpg');" ng-click="dagon(selectedcol3)">
				</div>
				<div class="col-sm-6">
					<input type="hidden" id="title" name="title" ng-init="selectedcol4=4" class="form-control" onClick="this.setSelectionRange(0, this.value.length)" ng-model="selectedcol2">
						<input type="button" class="colstyle" style="background-image: url('/img/4col.jpg');" ng-click="dagon(selectedcol4)">
				</div>	
			</div>
		</div>
	</div>

</div>
<footer class="panel-footer">
	<!-- chat form -->
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<!-- <a class="btn btn-primary" ng-click="ok(update)">Update</a> -->
	</div>
	<div style="clear:both;"></div>
</footer>
</div>






