
<div class="panel panel-default">
	<div class="panel-heading"><i class="icon-info"></i> Notification</div>
	<div class="panel-body">
		<div class="panel-body">
				Are you sure you want to delete this row?
		</div>
	</div>

</div>
<footer class="panel-footer">
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Cancel</a>
		<button class="btn btn-primary" type="button" ng-click="ok()">Delete</button>
	</div>
	<div style="clear:both;"></div>
</footer>
</div>







