<form ng-submit="setoption(height,color)">
<div class="panel panel-default">
	<div class="panel-heading">Divider</div>
	<div class="panel-body">
		<div class="panel-body">
			<div>
                <div class="form-group">
					<label class="col-lg-2 control-label">Height(px) the Thickness of the Divider</label>
					<div class="col-lg-10">
						<input type="number" min="0" ng-model="height" class="form-control">
					</div>
			    </div>
			    <div class="line line-dashed b-b line-lg"></div>
			    <div class="form-group">
					<label class="col-lg-2 control-label">Color</label>
					<div class="col-lg-10">
						<input colorpicker ng-model="color" type="text" class="form-control pull-left width90px" title="Click me!" colorpicker-parent="true">
              			<div class="colorpicker-colorbox form-control pull-left" style='width:50px; background: {[{ color }]} '> </div>
					</div>
			    </div>
			</div>
		</div>
	</div>

</div>
<footer class="panel-footer">
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<button class="btn btn-primary" type="submit" ng-disabled="!height || !color">Save</button>
	</div>
	<div style="clear:both;"></div>
</footer>
</div>
</form>






