<form ng-submit="settestimonial(text,cat)">
<div class="panel panel-default">
	<div class="panel-heading">Testimonial</div>
	<div class="panel-body">
		<div class="panel-body">
			<div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Option</label>
					<div class="col-lg-10">
						<select class="form-control m-b" ng-init="cat=category" ng-model="cat" required="required">
						<option ng-repeat="p in pages" ng-selected="p.pageid == category " value="{[{ p.pageid }]}">{[{ p.title }]}</option>
						</select>
					</div>
			    </div>
			    <div class="form-group">
					<label class="col-lg-2 control-label">Limit</label>
					<div class="col-lg-10">
						<input type="number" ng-model="text" class="form-control" min="0">
					</div>
			    </div>		
			</div>
		</div>
	</div>

</div>
<footer class="panel-footer">
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<button class="btn btn-primary" type="submit" ng-disabled="!text || !cat">Save</button>
	</div>
	<div style="clear:both;"></div>
</footer>
</div>
</form>