<form ng-submit="setimg(colimg,link)">
<div class="panel panel-default">
	<div class="panel-heading">Image</div>
	<div class="panel-body">
		<div class="panel-body">
			<div>
				<a class="btn btn-default btn-xs" ng-click="gallery()"><i class="fa  fa-folder-open"></i> Media Library</a>
                <br><br>
                <input type="hidden" ng-model="colimg" required>
                <img ng-if="colimg" src="{[{s3link}]}/uploads/pageimage/{[{ colimg }]}" style="width: 100%">
                <input ng-show="colimg" type="text" class="form-control" ng-model="link" placeholder="Image-Link(optional)">
			</div>
		</div>
	</div>

</div>
<footer class="panel-footer">
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<button class="btn btn-primary" type="submit" ng-disabled="!colimg">Save</button>
	</div>
	<div style="clear:both;"></div>
</footer>
</div>
</form>






