<form ng-submit="setoption(button)" name="formpage" class="form-validation ng-pristine ng-invalid ng-invalid-required">
<div class="panel panel-default">
	<div class="panel-heading">Button</div>
	<div class="panel-body">
		<div class="panel-body">
			<div>
                <div class="form-group">
					<label class="col-lg-2 control-label">Button Name</label>
					<div class="col-lg-10">
						<input type="text" ng-model="button.btnname" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Label"  required="">
					</div>
			    </div>
			    <div class="line line-dashed b-b line-lg"></div>
			    <div class="form-group">
					<label class="col-lg-2 control-label">Button Link</label>
					<div class="col-lg-10">
						 <input type="text" ng-model="button.btnlink"  class="form-control" placeholder="http://"  required="">
					</div>
			    </div>

			    <div class="line line-dashed b-b line-lg"></div>
			    <div class="form-group">
					<label class="col-lg-2 control-label">Background Color</label>
					<div class="col-lg-4">
						<input colorpicker ng-model="button.bgcolor" type="text" class="form-control pull-left width90px" title="Click me!" colorpicker-parent="true">
              			<div class="colorpicker-colorbox form-control pull-left" style='width:50px; background: {[{ button.bgcolor }]} '> </div>
					</div>
					<label class="col-lg-2 control-label">Font Color</label>
					<div class="col-lg-4">
						<input colorpicker ng-model="button.fcolor" type="text" class="form-control pull-left width90px" title="Click me!" colorpicker-parent="true">
              			<div class="colorpicker-colorbox form-control pull-left" style='width:50px; background: {[{ button.fcolor }]} '> </div>
					</div>
			    </div>
			       <div class="line line-dashed b-b line-lg"></div>
			         <div class="form-group">
					<label class="col-lg-2 control-label">Button Padding Top/Bottom</label>
					<div class="col-lg-4">
						<input type="number" min="0" ng-model="button.padtop" class="form-control">
					</div>
					<label class="col-lg-2 control-label">Button Padding Right/Left</label>
					<div class="col-lg-4">
						<input type="range" min="0" max="50" ng-model="button.padside">
			    		{[{button.padside}]}<span ng-if="button.padside"> % </span>
					</div>
			    </div>

			    <div class="line line-dashed b-b line-lg"></div>
			         <div class="form-group">
					<label class="col-lg-2 control-label">Font-size</label>
					<div class="col-lg-4">
						<input type="number" min="0" ng-model="button.font" class="form-control">
					</div>
					<label class="col-lg-2 control-label">Button Align</label>
					<div class="col-lg-4">
						 <div class="btn-group">
                          <label class="btn btn-primary" ng-model="button.position" btn-radio="'Left'">Left</label>
                          <label class="btn btn-primary" ng-model="button.position" btn-radio="'Center'">Center</label>
                          <label class="btn btn-primary" ng-model="button.position" btn-radio="'Right'">Right</label>
                        </div>
					</div>
			    </div>

			   
			    <div class="line line-dashed b-b line-lg"></div>
			    <div class="form-group" style="text-align:{[{button.position}]}">
			    <div class="col-sm-12" style="overflow: auto;box-sizing: border-box;">
			    	<button type="button" ng-show="button.btnname" class="module-link" style="padding:{[{button.padtop}]}px {[{button.padside}]}%; color: {[{ button.fcolor }]};background: {[{ button.bgcolor }]};font-size:{[{button.font}]}px;"> {[{button.btnname}]} </button>

			    	<button type="button" ng-hide="button.btnname" class="module-link" style="padding:{[{button.padtop}]}px {[{button.padside}]}%; color: {[{ button.fcolor }]};background: {[{ button.bgcolor }]};font-size:{[{button.font}]}px;"> Button </button>
			    </div>
			    		
			    </div>
			    <!-- <div class="line line-dashed b-b line-lg"></div>
			    <div class="form-group">
			    	
			    </div> -->

			</div>
		</div>
	</div>

</div>
<footer class="panel-footer">
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<button class="btn btn-primary" type="submit" ng-disabled="formpage.$invalid">Save</button>
	</div>
	<div style="clear:both;"></div>
</footer>
</div>
</form>






