<form ng-submit="setoption(viewed,popular,limit)">
<div class="panel panel-default">
	<div class="panel-heading">News</div>
	<div class="panel-body">
		<div class="panel-body">
			<div>
				<div class="form-group ng-hide">
					<label class="col-lg-2 control-label">Show</label>
					<div class="col-lg-10">
						<div class="form-group">
							<div class="col-sm-4">
								<div class="checkbox">
									<label class="i-checks">
									<input ng-model="viewed" name="zz" type="checkbox" ng-true-value="'true'" ng-false-value="'true'" class="ng-pristine ng-untouched ng-valid">
									<i></i>Most Viewed
									</label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="checkbox">
									<label class="i-checks">
										<input ng-model="popular" name="zz" type="checkbox" ng-true-value="'true'" ng-false-value="'true'" class="ng-valid ng-dirty ng-valid-parse ng-touched"><i></i>Most Popular
									</label>
								</div>
							</div>
						</div>
					</div>
			    </div>
			    <div class="form-group">
					<label class="col-lg-2 control-label">Limit</label>
					<div class="col-lg-10">
						<input type="number" ng-model="limit" class="form-control" min="0">
					</div>
			    </div>		
			</div>
		</div>
	</div>

</div>
<footer class="panel-footer">
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<button class="btn btn-primary" type="submit" ng-disabled="!limit">Save</button>
	</div>
	<div style="clear:both;"></div>
</footer>
</div>
</form>