<form ng-submit="settext(textarea)">
<div class="panel panel-default">
	<div class="panel-heading">Text</div>
	<div class="panel-body">
		<div class="panel-body">
			<div>
				<a class="btn btn-default btn-xs" ng-click="gallery('content')"><i class="fa  fa-folder-open"></i> Media Library</a>
                <br><br>
                <textarea class="ck-editor" ng-model="textarea" required="required"></textarea>
			</div>
		</div>
	</div>

</div>
<footer class="panel-footer">
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<button class="btn btn-primary" ng-disabled="!textarea" type="submit">Save</button>
	</div>
	<div style="clear:both;"></div>
</footer>
</div>
</form>






