<div class="panel panel-default">
	<div class="panel-heading">Module</div>
	<div class="panel-body">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-3">
					<center><input type="hidden" id="title" name="title" ng-init="text='TEXT'" class="form-control" onClick="this.setSelectionRange(0, this.value.length)" ng-model="text">
						<button class="btn btn-primary btn-addon btn-lg" ng-click="setmod(text)"><i class="fa fa-file-text-o"></i>Text</button>
				</div>
				<div class="col-sm-3">
					<center><input type="hidden" id="title" name="title" ng-init="image='IMAGE'" class="form-control" onClick="this.setSelectionRange(0, this.value.length)" ng-model="image">
						<button class="btn btn-primary btn-addon btn-lg" ng-click="setmod(image)"><i class="fa fa-file-image-o"></i>Image</button>
				</div>
				<div class="col-sm-3">
					<center><input type="hidden" id="title" name="title" ng-init="testimonial='TESTIMONIAL'" class="form-control" onClick="this.setSelectionRange(0, this.value.length)" ng-model="testimonial">
						<button class="btn btn-primary btn-addon btn-lg" ng-click="setmod(testimonial)"><i class="fa fa-quote-right"></i>Testimonial</button>
				</div>	
				<div class="col-sm-3">
					<center><input type="hidden" id="title" name="title" ng-init="contact='CONTACT'" class="form-control" onClick="this.setSelectionRange(0, this.value.length)" ng-model="contact">
						<button class="btn btn-primary btn-addon btn-lg" ng-click="setmod(contact)"><i class="fa fa-phone"></i>Contact</button>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg"></div>
			<div class="row">
				<div class="col-sm-3">
					<center><input type="hidden" id="title" name="title" ng-init="news='NEWS'" class="form-control" onClick="this.setSelectionRange(0, this.value.length)" ng-model="news">
						<button class="btn btn-primary btn-addon btn-lg" ng-click="setmod(news)"><i class="glyphicon glyphicon-th-list"></i>News</button>
				</div>
				<div class="col-sm-3">
					<center><input type="hidden" id="title" name="title" ng-init="divider='DIVIDER'" class="form-control" onClick="this.setSelectionRange(0, this.value.length)" ng-model="divider">
						<button class="btn btn-primary btn-addon btn-lg" ng-click="setmod(divider)"><i class="fa fa-arrows-h"></i>Divider</button>
				</div>

				<div class="col-sm-3">
					<center><input type="hidden" id="title" name="title" ng-init="button='BUTTON'" class="form-control" onClick="this.setSelectionRange(0, this.value.length)" ng-model="button">
						<button class="btn btn-primary btn-addon btn-lg" ng-click="setmod(button)"><i class="fa fa-circle-o-notch"></i>Button</button>
				</div>

			</div>
		</div>
	</div>

</div>
<footer class="panel-footer">
	<!-- chat form -->
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<!-- <a class="btn btn-primary" ng-click="ok(update)">Update</a> -->
	</div>
	<div style="clear:both;"></div>
</footer>
</div>






