<form ng-submit="setoption(bcolor,fcolor)">
<div class="panel panel-default">
	<div class="panel-heading">Footer</div>
	<div class="panel-body">
		<div class="panel-body">
			<div>
			    <div class="line line-dashed b-b line-lg"></div>
			    <div class="form-group">
					<label class="col-lg-2 control-label">Background Color</label>
					<div class="col-lg-10">
						<input colorpicker ng-model="bcolor" type="text" class="form-control pull-left width90px" title="Click me!" colorpicker-parent="true">
              			<div class="colorpicker-colorbox form-control pull-left" style='width:50px; background: {[{ bcolor }]} '> </div>
					</div>
			    </div>
			    <div class="line line-dashed b-b line-lg"></div>
			    <div class="form-group">
					<label class="col-lg-2 control-label">Font Color</label>
					<div class="col-lg-10">
						<input colorpicker ng-model="fcolor" type="text" class="form-control pull-left width90px" title="Click me!" colorpicker-parent="true">
              			<div class="colorpicker-colorbox form-control pull-left" style='width:50px; background: {[{ fcolor }]} '> </div>
					</div>
			    </div>
			</div>
		</div>
	</div>

</div>
<footer class="panel-footer">
	<div class="pull-right">
		<a class="btn btn-default" ng-click="cancel()">Close</a>
		<button class="btn btn-primary" type="submit" ng-disabled="!bcolor && !fcolor">Save</button>
	</div>
	<div style="clear:both;"></div>
</footer>
</div>
</form>






