<style type="text/css">
	.colorpicker.dropdown {
    position: absolute;
    left: 8%!important;
    top: 52px!important;
}
</style>

<form class="bs-example form-horizontal" name="form" novalidate>

<div id="veil" ng-show="isLoading == true"></div>
	<!-- <div id="feedLoading" ng-show="isLoading == true">Saving...</div> -->
	<div class="modal-header">    
		<div class="row">   
			<div class="col-sm-8">
			<input id="album_id" type="hidden" name="album_id" ng-model="data.album_id" class="form-control">
				<input id="album_name" type="hidden" name="album_name" ng-model="data.album_name" class="form-control">
				<input id="foldername" type="hidden" name="foldername" ng-model="data.foldername" class="form-control">
			Slider Image <br>
			<label><em class='text-muted'>Click Media Library to add image. 
			Recommended image size: 1583x650</em></label>
         
			</div>
			<div class="col-sm-4">
				   <button class="btn m-b-xs btn-sm btn-primary btn-addon pull-right mar-right" id="change-picture" ngf-change="prepare(files,file)" ngf-select ng-model="files" ngf-multiple="true" required="required"><i class="fa fa-folder-open"></i> Media Library</button>
				    <!--  <button ng-show="addphoto == true" class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-click="uploadAlbum(file,data)"><i class="fa fa-upload"></i> Upload</button> -->
			 </div>

		</div>
  <div class="line line-dashed b-b line-lg"></div>
		<div class='row' ng-show="addphoto == true">
			 <div class="col-sm-12 propic" style='margin-bottom:4%'>
            <div class="row"> 
              <div class="col-sm-12 album-padding" ng-repeat="file in file track by $index">
                <a href="" ng-click="remove($index)" ng-if="imageselected == true" class="pull-right btn btn-warning remove"><i class="fa fa-times-circle"></i> Remove</a>
                <img ngf-src="file" name="profpic" id="albumpic" ng-if="imageselected == true">
              </div>

            </div>
          </div>

           <div class="col-sm-12" >
           	<label>Title</label>	
				<textarea ng-model="data.title" class="form-control" style="resize:vertical;color: {[{ data.titlecolor }]};font-size:{[{ data.titlesize }]}px ">
					
				</textarea>
				<!-- <input id="title" type="text" name="title" ng-model="data.title" class="form-control" style="color: {[{ data.titlecolor }]};font-size:{[{ data.titlesize }]}px "> -->
				<br>
				<div class='row'>
				<div class='col-sm-6'>
				<label>Title color</label>
				 <input colorpicker ng-model="data.titlecolor" type="text" class="form-control" colorpicker-parent="true">
				 <br>
                </div>
            
                    <div class="col-sm-6">
				 				 <label>Title Font-Size</label>
				 	<ui-select tagging tagging-label="false" 
				 	ng-model="data.titlesize" theme="bootstrap" ng-disabled="disabled" style="" title="Choose font">
				 	<ui-select-match placeholder="Select font-size...">  {[{ data.titlesize }]}</ui-select-match>
				 	<ui-select-choices repeat="ta in tag">
				 	{[{ ta }]}
				 </ui-select-choices>
				</ui-select>
				 <label><em class="text-muted">For sizes that doesnt exist just type and press enter.</em></label>
				 </div>
			</div>
               
				<div class="line line-dashed b-b line-lg pull-in"></div>
				
				<label>Description</label>
				<textarea ng-model="data.description" class="form-control" style="resize:vertical;color: {[{ data.desccolor }]};font-size:{[{data.descsize}]}px "></textarea><br>
				<div class='row'>
				<div class='col-sm-6'>
				<label>Description color</label>
				 <input colorpicker ng-model="data.desccolor" type="text" class="form-control" colorpicker-parent="true">
				 </div>

               

				 	 <div class="col-sm-6">
				 				 <label>Description Font-Size</label>
				 	<ui-select tagging tagging-label="false" ng-model="data.descsize" theme="bootstrap" ng-disabled="disabled" style="" title="Choose font">
				 	<ui-select-match placeholder="Select font-size..."> {[{ data.descsize }]} </ui-select-match>
				 	<ui-select-choices repeat="ta in tag">
				 	{[{ ta }]}
				 </ui-select-choices>
				</ui-select>
				 <label><em class="text-muted">For sizes that doesnt exist just type and press enter.</em></label>
			</div>
			 </div>

             <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class='row'>
        <div class='col-sm-6'>
       <label>Button Name:</label>
        <input type='text' ng-model="data.btnname" class="form-control">
         </div>

           <div class="col-sm-6">
                 <label>Button Link</label>
          <input type='text' ng-model="data.btnlink" class="form-control">
      </div>
      </div>
				<!-- ROW-->		   
				               <div class="line line-dashed b-b line-lg"></div>


                     <div class="form-group hiddenoverflow">
                 <label class="col-lg-3 control-label">Text Position</label>
                  <div class="col-sm-8">
                   <div class="radio">
                     <label class="i-checks">
                       <input type="radio" name="pos" value="left" ng-model="data.position" required="required">
                       <i></i>
                       Left
                     </label>&nbsp;&nbsp;&nbsp;
                      <label class="i-checks">
                       <input type="radio" name="pos" value="center" ng-model="data.position" required="required">
                       <i></i>
                       Center
                     </label> &nbsp;&nbsp;&nbsp;
                      <label class="i-checks">
                       <input type="radio" name="pos" value="right" ng-model="data.position" required="required">
                       <i></i>
                       Right
                     </label>

                   </div>
                  
               </div>
               </div>

                     <div class="line line-dashed b-b line-lg"></div>
                  <div class="form-group hiddenoverflow">
                 <label class="col-lg-3 control-label">Text Box</label>
                  <div class="col-sm-8">
                   <div class="radio">
                     <label class="i-checks">
                       <input type="radio" name="txtbox" value="on" ng-model="data.box" required="required">
                       <i></i>
                       On
                     </label> &nbsp;&nbsp;&nbsp;
                      <label class="i-checks">
                       <input type="radio" name="txtbox" value="off" ng-model="data.box" required="required">
                       <i></i>
                       Off
                     </label>
                   </div>
                  </div>
               </div> 

                 <div class="line line-dashed b-b line-lg"></div>
                  <div class="form-group hiddenoverflow">
                 <label class="col-lg-3 control-label">Do you want to Display Text?</label>
                  <div class="col-sm-8">
                   <div class="radio">
                     <label class="i-checks">
                       <input type="radio" name="display" value="yes" ng-model="data.display" required="required">
                       <i></i>
                       Yes
                     </label> &nbsp;&nbsp;&nbsp;
                      <label class="i-checks">
                       <input type="radio" name="display" value="no" ng-model="data.display" required="required">
                       <i></i>
                       No
                     </label>
                   </div>
                  </div>
               </div> 



           </div>



		</div>
		<div class="" ng-show="imageloader">
  <div class="loadercontainer">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    Please wait while uploading your images...
  </div>
</div>

	<div class="modal-footer" ng-hide="process==true">                  
		<button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times-circle"></i> Cancel</button>
		<button type='submit' ng-disabled='form.$invalid' class="btn btn-success" type="button" ng-click="uploadAlbum(file,data)"><i class="fa fa-upload"></i> Save</button>

	</div>
</form>