<form class="bs-example form-horizontal" name="form" novalidate>

<div id="veil" ng-show="isLoading == true"></div>
	<div id="feedLoading" ng-show="isLoading == true">Saving...</div>
	<div class="modal-header">    
		<div class="row">
		<div class="col-sm-12 propic">
            <div class="row"> 
            <input type='hidden' ng-model='data.imgID'> 
            <div class="col-sm-8">
			<!-- <input id="album_id" type="hidden" name="album_id" ng-model="data.album_id" class="form-control">
				<input id="album_name" type="hidden" name="album_name" ng-model="data.album_name" class="form-control"> -->
				<input id="foldername" type="hidden" name="foldername" ng-model="data.foldername" class="form-control">
			Slider Image <br>
			<label><em class='text-muted'>Click Media Library to add image. 
			Recommended image size: 1583x650</em></label>
         
			</div>
			<div class="col-sm-4">
				   <button class="btn m-b-xs btn-sm btn-primary btn-addon pull-right mar-right" id="change-picture" ngf-change="prepare(files,file)" ngf-select ng-model="files" ngf-multiple="true" required="required"><i class="fa fa-folder-open"></i> Media Library</button>
				    <!--  <button ng-show="addphoto == true" class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-click="uploadAlbum(file,data)"><i class="fa fa-upload"></i> Upload</button> -->
			 </div>

		</div>
  <div class="line line-dashed b-b line-lg"></div>
		<div class='row' ng-show="addphoto == true">
			 <div class="col-sm-12 propic">
            <div class="row"> 
              <div class="col-sm-12 album-padding" ng-repeat="file in file track by $index">
                <a href="" ng-click="remove($index)" ng-if="imageselected == true" class="pull-right btn btn-warning remove"><i class="fa fa-times-circle"></i> Remove</a>
                <img ngf-src="file" name="profpic" id="albumpic" ng-if="imageselected == true">
              </div>

            </div>
          </div>
              </div>  

              	<div class="loader" ng-show="imageloader">
  <div class="loadercontainer" style='width:60px'>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    Please wait while uploading your images...
  </div>
</div>
              </div>
			<!-- <div class="col-sm-7 propic">
			<div class='col-sm-12'>
				<img src="{[{amazonlink}]}/uploads/{[{imgtype}]}/{[{data.foldername}]}/{[{data.img}]}" style="width:100%;">   
				<input id="imgID" type="hidden" name="imgID" ng-model="data.imgID" class="form-control">
				<input id="album_id" type="hidden" name="album_id" ng-model="data.album_id" class="form-control">
				<label ng-bind="data.img"></label>
				  </div>    
			</div>      -->
			

			</div>	   		
		</div> 

	<div class="modal-footer" ng-hide="process==true">                  
		<button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times-circle"></i> Cancel</button>
		<button class="btn btn-success" type="button" ng-click="uploadAlbum(file,data)"><i class="fa fa-upload"></i> Save</button>
	</div>
</form>