<form class="bs-example form-horizontal" name="form" novalidate>
<div class="panel panel-default">

	<div class="panel-heading"><i class="glyphicon glyphicon-info-sign"></i> Notification</div>
	<div class="panel-body">
		<p>Are you sure you want to edit this Album?</p>               
	</div>

	<footer class="panel-footer">
		<div class="pull-right" ng-hide="process==true">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-primary" ng-click="ok(albumid)">Yes</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>
</form>