<div class="panel panel-default">

	<div class="panel-heading"><i class="glyphicon glyphicon-info-sign"></i> Notification</div>
	<div class="panel-body">
		<p>Are you sure you want to set this album as main slider?</p>               
	</div>

	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-primary" ng-click="set(album_id,category)">Yes</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>