/* margins & paddings */
.ec-fluid {
 margin:0; padding:0;
}
.ec-nopad {
 padding:0;
}
/* xxxxxxxxxxxxxxxxxxxxxxx */

/* TEXTS */
.text-r {text-align:right}
.text-j {text-align:justify}
.text-l {text-align:left}
.text-c {text-align:center}
/* xxxxxxxxxxxxxxxxxxxxxxx */

/* font sizes */
.ec-font-xs { font-size: 10px; }
.ec-font-sm { font-size:12px; }
.ec-font-s { font-size:15px; }
.ec-font-md { font-size:20px; }
.ec-font-lg { font-size:25px; }
.ec-font-xl { font-size:30px; }
/* xxxxxxxxxxxxxxxxxxxxxxx */

/* images */
.ec-bg-center {
  background-size:contain!important;
  background-repeat:no-repeat!important;
  background-position:center center!important;
}
.ec-bg-centered {
  width:100%;
  background-size:contain!important;
  background-repeat:no-repeat!important;
  background-position:center center!important;
}
.ec-prod-mainthumb {
	width:100%!important;
	height:21.875vw;
	background-size:contain!important;
	background-repeat:no-repeat!important;
	background-position:center center!important;
}
.ec-prod-mycartthumb {
	width:100%;
	height:7vw;
	background-size:contain!important;
	background-repeat:no-repeat!important;
	background-position:center center!important;
}

/*CC = Credit Card*/
.ec-CC-s {
  height:35px;
}
/* xxxxxxxxxxxxxxxxxxxxxxx */

/*tables*/
table.ec-prod-info tr:nth-child(even) {
  background:#ddd;
}
table.ec-prod-info tr td:first-child {
  width:50%;
  font-weight:700;
}

table.ec-table-mycart {
  border:2px solid #f37021;
}
table.ec-table-mycart thead {
  background: #f37021;
  color:white
}
table.ec-table-mycart tbody tr:hover {
  color: #f37021;
  border-left:5px solid #f37021;
  transition:all ease .2s;
}
table.ec-table-mycart tr:nth-child(even) {
  background:#ffe8d6;
}
table.ec-table-mycart tr td {
  vertical-align:middle;
}
/* xxxxxxxxxxxxxxxxxxxxxxx */

/* NAV */
@charset "UTF-8";
#ecommercenav ul,
#ecommercenav li,
#ecommercenav span,
#ecommercenav a {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  color:#222;
}
#ecommercenav {
  height: 52px;
  width: auto;
  margin: auto;
  text-align: left;
}
#ecommercenav:after,
#ecommercenav ul:after {
  content: '';
  display: block;
  clear: both;
}
#ecommercenav a {
  color: #222;
  display: inline-block;
  line-height: 52px;
  padding: 0 28px;
  text-decoration: none;
}
#ecommercenav ul {
  list-style: none;
  margin: auto;
  width: 100%;
}
#ecommercenav > ul {
  /*float: left;*/
}
#ecommercenav > ul > li {
  font-family: 'Raleway-Regular';
  display: inline-block;
  text-align: left;
  font-size: 15px;
}
#ecommercenav > ul > li:first-child a {
  /*border-radius: 5px 0 0 5px;*/
  /*-moz-border-radius: 5px 0 0 5px;*/
  /*-webkit-border-radius: 5px 0 0 5px;*/
}
#ecommercenav > ul > li.active a,
#ecommercenav > ul > li:hover > a {
  color: #222;
}
#ecommercenav .has-sub {
  z-index: 1;
}
#ecommercenav .has-sub:hover > ul {
  display: block;
}
#ecommercenav .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#ecommercenav .has-sub ul li a {
  background: #dea227;
  color: #222;
  display: block;
  line-height: 100%;
  padding: 10px 10px;
  font-size: 15px;
}
#ecommercenav .has-sub ul li:hover a {
  background: #ebc013;
}
#ecommercenav .has-sub .has-sub:hover > ul {
  display: block;
}
#ecommercenav .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#ecommercenav .has-sub .has-sub ul li a {
  background: #dea227;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#ecommercenav .has-sub .has-sub ul li a:hover {
  background: #ebc013;
}

/* xxxxxxxxxxxxxxxxxxxxxxx */

/* FORM ELEMENTS */
.ec-select {
	font-size:12px;
	height:30px;
  z-index:0!important;
}
/* xxxxxxxxxxxxxxxxxxxxxxx */

/* PLUGINS */
#productslider {
    position:relative;
    margin-top:40px;
    width:93px;
    height:256px;
    border-left:1px solid #aaa;
    border-right:1px solid #aaa;
    margin-bottom:40px;
}
/* xxxxxxxxxxxxxxxxxxxxxxx */


.bl {display:block}
.inbl {display:inline-block}
.none {display:none}

.bg-orange {
  background:#f37021;
  color:white!important;
}
.bg-orange:hover {
  color:white!important;
  -webkit-filter:brightness(95%);
}

.ec-cat-div {
  min-width:220px!important;
  height:inherit;
}
.ec-prod-tile {
  min-height:34.375vw;
}
.ec-prod-tile:hover {
  transition:all ease .4s;
  transform:scale(1.03);
}
.ec-prod-landingtitle, .ec-prod-title {
  font-family: 'Open Sans Condensed', sans-serif;
	display:block;
  text-transform: capitalize;
  letter-spacing:0.7px;
  font-weight:700;
	font-size:21px;
  color: #e26630;
  margin-bottom:7px;
  text-align:center;
}
.ec-prod-originalprice {
  font-size:14px;
  clear:both;
  text-align:center;
}
.ec-prod-landingprice, .ec-prod-price {
	font-size:20px;
	font-weight:700;
  text-align:center;
}
  .ec-discount {
    font-size:16px;
    position:absolute; right:10px;
    height:60px; width:60px;
    text-align:center!important;
    border-radius:50%;
    border:4px solid white;
    z-index:100;
  }

@media screen and (max-width:767px) { /* MOBILE VIEW */
/* font sizes */
.ec-font-xs { font-size: 8px; }
.ec-font-sm { font-size:10px; }
.ec-font-s { font-size:13px; }
.ec-font-md { font-size:18px; }
.ec-font-lg { font-size:23px; }
.ec-font-xl { font-size:28px; }

/* xxxxxxxxxxxxxxxxxxxxxxx */
}
@media screen and (max-width:991px) and (min-width:550px) {
  .ec-prod-tile {
    margin:0!important;
    display:inline-block!important;
    width:50%!important;
  }
}
