/* Registration Color */

.fieldscontainer{
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 14px 18px;
	margin: 20px auto;
}

.errorcontainer{
	border: 1px solid #c40000;
	border-radius: 5px;
	padding: 14px 18px;
	margin: 5px auto;
}
.errortext{
	color: #c40000;
	font-weight: normal;
	font-size: 17px;
	line-height: 1.255;
}
.reglogo{
	margin: 0 auto;
	width: 78%;
}
.centercontent{
	width: 400px;
    margin: 20px auto;
}
.existcentercontent{
	width: 510px;
    margin: 20px auto;
}
.existcontainer{
	border: 1px solid #8b6e00;
	-webkit-box-shadow: 0 0 0 4px #fffae7 inset; 
	-moz-box-shadow: 0 0 0 4px #fffae7 inset;
	box-shadow: 0 0 0 4px #fffae7 inset; 
	border-radius: 5px;
	padding: 14px 18px;
	margin: 5px auto;
}
.existtext{
	color: #7c6200;
	font-weight: normal;
	font-size: 17px;
	line-height: 1.255;
}
.a-spacing-top-medium {
    margin-top: 18px!important;
}
.a-row {
    width: 100%;
}
.orangebutton{
 	background: #e98331;
}

.orangebutton:hover{
    color: #ffffff;
}
.a-spacing-small, .a-ws .a-ws-spacing-small {
    margin-bottom: 10px!important;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.2;
}

.fieldscontainer > .overlay,
.fieldscontainer > .loading-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fieldscontainer .overlay{
   z-index: 50;
   background: rgba(255, 255, 255, 0.7);
   border-radius: 3px;
 }
.fieldscontainer .overlay > .fa{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	color: #000;
	font-size: 30px;
 }
.fieldscontainer .overlay.dark{
   background: rgba(0, 0, 0, 0.5);
}

.a-divider-inner{
    height: 44px;
    margin-bottom: -18px;
    background: -moz-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.03) 3px,transparent);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.14)),color-stop(3px,rgba(0,0,0,0.03)),color-stop(100%,transparent));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.03) 3px,transparent);
    background: -o-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.03) 3px,transparent);
    background: -ms-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.03) 3px,transparent);
    background: linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.03) 3px,transparent);
    filter: none;
    z-index: 0;
    zoom: 1;
}

@media screen and (max-width:435px) {
	.fieldscontainer{
		border: 0px;
		border-radius: 0px;
		padding: 14px 18px;
		margin: 20px auto;
	}
	.centercontent{
		width: 100%;
	    margin: 20px auto;
	}

	.existcentercontent{
		width: 100%;
		margin: 20px auto;
	}
}

