/* START OF NORMAL PAGE CSS */
.normalpage-title {

 font-family: 'Proxima-Nova-Alt-Light';
 font-weight: bold;
    font-size: 50px;
    color: #666;
     text-align: center;
}
.normalpage-title-wrap
{
	width:50%;
	margin: 0 auto;
	font-family: 'Proxima-Nova-Alt-Light';
	font-weight: bold;
	font-size: 50px;
	color: #666;
	text-align: justify;
	border-bottom: 2px solid #eee;
}
.normalpage-body{
	text-align: left;
	word-wrap:break-word;
	padding:0px 15px 0px 15px;
}
.normalpage-content{
	height:inherit;
	/*padding-bottom: 50px;*/
}
.specialpage-content{
	height:inherit;
	padding: 10px 25px 10px 25px;
}
.normal-center-wrap{
	width:85%;
	margin: 0 auto;
}
.left-sidebar,.right-sidebar{
	padding:10px 0px 10px 0px;
}
.left-sidebar .img, .right-sidebar .img{
	width:100%;
}
img.testi-img{
	width: 68px;
	height: 68px;
	border-radius: 100%;
	border: solid 1px #A9A8A8;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-win-filter: grayscale(100%);
}
.page-link{
  display:inline-block;
  padding:7px 25%;
  background:#5cce5f;
  color:white;
  border-radius:5px;
  font-size:16px;
  border:2px solid white;
  transition:all ease .5s;
  word-break:break-word
}
.module-link{
  display:inline-block;
  /*padding:7px 25%;*/
  border-radius:5px;
  /*font-size:16px;*/
  border:2px solid white;
  text-align: center;
  transition:all ease .5s;
}
.page-search {
  display:inline-block;
  padding:5px 10px;
  background:#5cce5f;
  color:white;
  border-radius:5px;
  font-size:16px;
  border:2px solid white;
  transition:all ease .5s;
}
.page-link:hover {
  background:orangered;
  transition:all ease .7s;
  color:white;
}
.page-testi-image img{
	width:60px;
}
.page-testi-image{
	padding:0px 10% 5% 0px;
}
.special-menu-text{
	 font-family: 'Proxima-Nova-Alt-Regular';
    font-size: 16px !important;
    color: #58666e;
}
.special-menu-text a:hover{
color:#ff8421;
  transition:all ease .7s;
}
.special-top-menu{
	font-family: 'Proxima-Nova-Alt-Regular';
    font-size: 20px;
    color: #58666e;
}
.no-list{
	list-style: none;
	-webkit-padding-start: 20px;
}

.specialpage_col{
	margin: 20px 0px 30px 0px !important;
}

.styled-hr{
	width: 100%;
	height: 1px;
	background-color: #d0d0d0;
}
.size30{
	font-size: 30px;
}
.size25{
	font-size: 25px;
}
.size20{
	font-size: 20px;
}
.size18{
	font-size: 18px;
}
.size17{
	font-size: 17px;
}
.size16{
	font-size: 16px;
}
.size15{
	font-size: 15px;
}
.size14{
	font-size: 14px;
}

.mobile-normal-maincontent{
		display: none;
	}
	.mobile-special-maincontent{
		display: none;
	}

	.search-bar{
		height:34px!important;
	}
/* END OF NORMAL PAGE CSS */

/* START OF SPECIAL PAGE*/
.specialpage-news-desc{
	width: 100%;
	padding-left: 0px
}
.specialpage-news-thumb{
	width:90%;
	margin-left: 0px
}
.specialpage-title-blog{
padding:5px;
}
.specialpage-testi-image{
		width:100%;
	}
	.specialpage-testi-text{
		width: 100%;
	}

.iframe4 iframe{
	width:100%!important;
}
.iframe4 div{
	width:auto!important;
}

.module2-news-thumb,.module1-news-thumb{
	margin-left: 0px;
}
.module2-news-thumb{
	width:40%;
}
.module1-news-thumb{
width: 150px;
}
.special-news-container{
width:65%;margin:0 auto
}
 h4.blog-title-list {
     border-top: 0px solid #D0D0D0;
    }

/* END OF SPECIAL PAGE*/



/* BANNER CSS */
.specialbanner{
	position: relative;
    min-height: 25vw;
    margin: 0;
    padding: 0;
    color: #333;
}
.ban-container{
	height:25vw;
/*	background-size:cover!important;
	background-repeat:no-repeat!important;
	background-position: center center;*/
	width:100%;
	display:block;
  position: absolute;
  top: 0;
  left: 0;
}
.white-box{
	/*width: 60%;*/
	/*margin: auto;
	margin-top: 2.5%;*/
	color: #fff;
	text-align: center;
	background: rgba(255, 255, 255, 0.4);
	padding: 3.7vw;
}
/*.white-box .banner-title{
	color: #fff;
	font-size: 60px;
	font-family: 'HaloHandletter' !important;
	line-height: 60px;
}
.white-box .banner-sub-title1{
	color: #fff;
	font-size: 30px;
	font-family: Proxima-Nova-Alt-Bold;
	line-height: 30px;
}*/
.banner-title {
	letter-spacing:-1.5px;
	line-height:2.8vw;
  font-size:3.75vw;
  font-family: 'HaloHandletter' !important;
	display:block;
	margin-bottom:1vw;
	text-align:center;
}
.banner-sub-title1 {
	font-size:1.25vw;
}

/* NO BOX CSS */
.no-box{
	width: 60%;
	margin: auto;
	margin-top: 2.5%;
	color: #fff;
	text-align: center;
	padding: 20px 20px 40px 20px;
}
.no-box .banner-title{
	color: #fff;
	font-size: 60px;
	font-family: 'HaloHandletter' !important;
	line-height: 60px;
}
.no-box .banner-sub-title1{
	color: #fff;
	font-size: 30px;
	font-family: Proxima-Nova-Alt-Bold;
	line-height: 30px;
}
.no-box .banner-sub-title2{
	color: #fff;
	font-size: 40px;
	font-family: Proxima-Nova-Alt-Bold;
}
.banner-body {
	height: 100%;
	width:100%;
	position: absolute;
	top: 0;
	left: 0;
	word-wrap: break-word;
}
.content-ban {
	padding:5vw;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}



/* MEDIASECTION MEDIASECTION MEDIASECTION MEDIASECTION */

/*@media screen and (max-width:1464px) {
	.white-box {
		margin: 2.5% auto !important;
	}
	.no-box {
		margin: 2.5% auto !important;
	}
}*/
/*@media screen and (max-width:680px) {
	.white-box {
		margin: 2.5% auto !important;
	}
	.white-box .banner-title{
		font-size: 400%;
	}
	.white-box .banner-sub-title1{
		font-size: 200%;
	}
	.no-box {
		margin: 2.5% auto !important;
	}
	.no-box .banner-title{
		font-size: 400%;
	}
	.no-box .banner-sub-title1{
		font-size: 200%;
	}
}*/
/*@media screen and (max-width:463px) {
	.white-box .banner-title{
		font-size: 250%;
	}
	.white-box .banner-sub-title1{
		font-size: 150%;
	}
	.white-box{
		width: 100%;
		margin: 40px; auto !important;
	}

	.no-box .banner-title{
		font-size: 250%;
	}
	.no-box .banner-sub-title1{
		font-size: 150%;
	}
	.no-box{
		width: 100%;
		margin: 40px; auto !important;
	}
}*/
@media screen and (max-width:1426px) {
	.special-news-desc{
		width:100%!important;
	}
	.special-news-thumb{
		width:90%!important;
	}
}

@media screen and (max-width: 1321px){
	.normal-center-wrap{
	width:100%;
	padding:5px 5px 5px 5px;
}

.special-testi-image{
		width:100%;
	}
	.special-testi-text{
		width: 100%!important;
	}
	

}
@media screen and (max-width: 1300px){
.special-col4{
		width: 50%!important;
	}
	.special-col4-3{
		width: 51%!important;
	}
	.special-col4-4{
		width: 49%!important;
	}
		.module2-news-desc{
		width:90%!important;
		padding: 0px 0px 0px 0px!important;
	}
	.module2-news-thumb{
		width:90%!important;
	}
}
@media screen and (max-width: 1100px){
.special-col3{
		width: 50%!important;
	}
	.special-col33{
		width: 100%!important;
	}
	.special-col4-no-one{
		width: 50%!important;
	}
	.special-col4-no-3{
		width: 51%!important;
	}
	.special-col4-no-4{
		width: 49%!important;
	}
		.banner-title {
	  font-size:35px!important;
		line-height:35px!important;

	}
	.banner-sub-title1 {
		font-size:18px;
	}

}

@media screen and (max-width: 1024px){
	
}

@media screen and (max-width: 947px){
	.special-news-wrapper{
		padding-right: 15px;
	}
	.special-news-desc{
		padding-left: 5px!important;
		padding-right: 0px!important;
	}
	

}
/*@media screen and (max-width: 990px){
.specialpage-sidebar{
width:20%;
}
.specialpage-body{
width:56%;
}
.specialpage-contact-fn{
	width: 100%;
}

}*/

@media screen and (max-width:990px) {
	.normal-maincontent{
		display: none;
	}
	.special-maincontent{
		display: none;
	}
	.mobile-normal-maincontent{
		display: block;
	}
	.mobile-special-maincontent{
		display: block;
	}
	.special-news-thumb{
		width:150px!important;
		margin-left:0%!important;
	}
	.special-news-desc{
		width:70%!important;
	}
	.specialpage-news-thumb,.module2-news-thumb{
		width:150px!important;
	}
	.specialpage-news-thumb{
		margin-right:15px;
	}
	.module2-news-desc{
	/*	width:60%!important;*/
		padding: 0%!important;
	}
	.specialpage-news-desc{
		width:80%!important;
	}
	.special-col3,.special-col33{
		width: 33%!important;
	}
	.specialpage-sidebar{
		width:100%;
	}
	.special-news-container{
		width:100%;
	}
	.special_colnews{
		margin: 20px 0px 30px 0px !important;
	}
	.white-box{
		padding:2vw;
	}
		.specialbanner {
		display:block;
		min-height: 35vw
	}
		.ban-container{
		position: relative;
		height: 35vw;
	}

}
@media screen and (max-width:767px) {
	.special-col4,.special-col3,.special-col33,.special-col4-no-one,.special-col4-no-3,
	.special-col4-no-4,.special-col4-3,.special-col4-4{
		width: 100%!important;
	}
	.specialpage-news-thumb,.module2-news-thumb{
		width:150px!important;
	}
	.specialpage-news-desc{
		width:60%!important;
		padding: 3%!important;
	}
	.module2-news-desc{
		width:60%!important;
		padding: 0%!important;
	}
	.specialpage-sidebar{
		width:100%;
	}
	.module2-news-desc{
		padding: 0px 15px 0px 15px!important;
	}
	.specialbanner {
		display:block;
		min-height: 44vw!important;
	}
		.ban-container{
		position: relative;
		height: 44vw;
	}
	.banner-body {
		position: relative;
		height:inherit;
		padding:0px;
		display:block;
	}
	.content-ban {
		padding:5vw;
		position: relative;
		top: 0%;
		transform: translateY(0%);
	}
		.white-box, .no-box {
		background:rgba(250, 250, 250, .0);
		border-radius:none;
		box-shadow:none!important;
		padding:0px;
	}
	.banner-title {
		font-size:45px!important;
		line-height:25px!important;
	}
	.banner-sub-title1 {
		font-size:17px!important;
	}
	/*.Services-learnmore {
		font-size:14px!important;
		padding:3px 5px;
	}*/
	
}

@media screen and (max-width:572px) {
	.special-news-desc{
		padding-left: 0px!important;
		width:100%!important;
	}
	.special-news-thumb{
		margin-left:3%!important;
	}
}

@media screen and (max-width:565px) {
.module2-news-desc{
		width:100%!important;
		padding: 0px 0px 0px 0px!important;
	}
	.specialpage-news-desc{
		width:100%!important;
		padding: 0%!important;
	}
}

@media screen and (max-width:555px) {
	.special-news-thumb{
		width:90%!important;
		margin-left:4%!important;
	}
	.special-news-desc{
		padding-left: 0px!important;
	}
	.specialpage-news-thumb,.module2-news-thumb,.module1-news-thumb{
		width:90%!important;
	}

}

@media screen and (max-width: 541px) {
	.ban-container {
		height: 50vw;
	}
}

@media screen and (max-width: 454px){
	.ban-container {
		height: 60vw;
	}
}
@media screen and (max-width: 445px){
.special-news-thumb{
		margin-left:5%!important;
	}
}
@media screen and (max-width: 336px){
.special-news-thumb{
		margin-left:6%!important;
	}

	.specialpage_col,.mobile-special-maincontent{
		padding-right: 5px!important;
		padding-left: 5px!important;
	}
	.special-news-wrapper{
		padding-right: 0px!important;
	}
}
=======
}
>>>>>>> 9aeb93d8c1bd9ddcb282f6a2d0dfc0ea039d000f
