<?php echo $this->getContent()?>
<style>
 .table td, .table tbody { 
     border: none !important; 
 }
</style>
    <!-- Banner starts -->
    <div class="container" ng-controller='TestresultCtrl'> 
    <div class='col-sm-12' style='height:100%;margin-top:2%'>
    <div class='col-sm-12'> 
    <div class='panel panel-default'>
    <div class='panel-heading font-bold' style='font-size:20px; text-align:center'>
    <h1> THANK YOU! </h1>
    </div>

    <div class='panel panel-body'>
    <table class='table' style='text-align:center'>
    <tr>
    <td>
    <h3><b>  <span ng-bind='result'> </span> </b></h3>
    </td>
    </tr>
    </table>

    <div class='row' style='border-bottom:1px solid black;text-align:center'> 
    <div class='col-sm-12'> 
    <p style='font-size:14px'>
    <span ng-bind-html='description'> </span>
    </p>
    </div>
    <br><br><br>
    </div>
    
<br>
    <div class='row' style='margin-top:1%;'> 
    <div class='col-sm-6'> 
    <div class='panel panel-heading' style='padding:10px 6px'><b> RECOMMENDED SERVICES </b></div>
   <table class='table'>
   <thead>
   <th> Services </th>
<!--    <th> Links </th> -->
   </thead>
   <tbody ng-repeat="ss in services">

<td>
<a href ng-click='go(ss.link)'> {[{ss.services}]} </a>
</td>
<!-- <td> {[{ss.link}]} </td> -->
  
</tbody>
</table>
</div>

 <div class='col-sm-6'> 
    <div class='panel panel-heading'  style='padding:10px 6px'><b> RECOMMENDED PRODUCTS </b></div>
   <table class='table'>
   <thead>
   <th> Products </th>
   </thead>
<tbody ng-repeat="ss in services">
<td>
{[{ss.products}]}
</td>
</tbody>

</table>
</div>
</div>

 <div class='panel panel-heading' style="text-align:center"> <h4> <a href ng-click='again()'>Have Your Test Again? </a> </h4> </div>
    </div>

    </div>
    </div>



    </div>
    </div>

    <!-- Below Banner ends -->
