.skdslider{
 width:100%;
 position: relative;
 display: block;
 overflow:hidden;
 max-height:450px;
}

.skdslider ul.slides{ margin:0; padding:0; list-style-type:none;}
.skdslider ul.slides li
{
   display: none;
}
.skdslider ul.slides li img{
    width: 100%;
	height: 482px;
	border:0;
}

.skdslider ul.slide-navs {
    bottom: 10px;
    left: 50%;
    position: absolute;
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.skdslider ul.slide-navs li {
    float: left;
	background: url("image/slide-bg.png") no-repeat scroll 0 0 transparent;
	height:12px;
	width:12px;
	margin-right:4px;
	cursor:pointer;
}

.skdslider ul.slide-navs li.current-slide {
  background: url("image/slide-bg-active.png") no-repeat scroll 0 0 transparent;
}

.slide-desc {
    left: 0;
    padding: 0 15px 0 15px;
    position: absolute;
    bottom: 140px;
    width: 100%;
	display:inline-block;
}
.slide-desc2 {
    background-color: rgba(255,255,255, 0.5);
    top: 10%;
    left: 13%;
    padding: 15px 15px 15px 15px;
    position: absolute;
    border-radius: 25px;
    width: 750px;
    display:inline-block;
}
.slide-desc3 {
    background-color: rgba(255,255,255, 0.5);
    top: 50%;
    left: 13%;
    padding: 15px 15px 15px 15px;
    position: absolute;     
    border-radius: 25px;
    width: 750px;
	display:inline-block;
}
.centered {
	width: 700px;
	margin: auto;
	padding-top: 70px;
}

.skdslider .slide-desc > h2 {
    color: #CFDB0C;
    font-family: 'Oswald';
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}
.skdslider .slide-desc > p {
    color: #FFFFFF;
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
}
.skdslider .slide-desc > p a.more {
    color:#990000;
	font-size:20px;
	text-decoration:none;
}
.skdslider .slide-desc > p a.more:hover {
text-decoration:underline;
}

.skdslider a.prev{
    background: url("image/left.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:45%;
	left:1%;
	margin-top:-17px;
}

.skdslider a.next{
    background: url("image/right.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:45%;
	right:1%;
	margin-top:-17px;
}
.skdslider a.prev:hover{
  
}
.skdslider a.next:hover{
  
}

.skdslider a.play{
    background: url("image/play.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
}

.skdslider a.pause{
    background: url("image/pause.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
}

.sdkslid {
	max-width:100%; 
	margin:0 auto;
}
.joinnow{
	padding-top: 10px;
}
.joinnow img{
	width: 150px !important;
	height:50px !important;
}

.sidebarimage {
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.sidebarimage2 {
	background-image: url(/skdslider/slides/77.jpg);
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.sidebarimage3 {
	background-image: url(/skdslider/slides/88.jpg);
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}