<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Add Menu</div>
	<div class="panel-body">


		<div class="wrapper-md">
			 <div class="input-group" ng-hide="addnewmenu">
          <input class="input-sm form-control" placeholder="Enter new menu name" type="text" ng-model="data.newmenu" ng-change="ontitle(data.newmenu)">
            <span class="input-group-btn">
              <button class="btn btn-sm btn-info" ng-click="addmenu(data)" ng-disabled="data.newmenu == '' || data.newmenu ==  null"><i class="glyphicon glyphicon-plus"></i> New Menu</button>
            </span>
          </div>
          <div class="line line-dashed b-b line-lg"></div>
          <input type="hidden" ng-model="menuID"> <!-- <a ng-click="men(menuID)"> asdads </a> -->
			<div ng-if="addnewmenu">
			<alert ng-repeat="alert in alertss" type="{[{alert.type }]}" close="closeAlerts($index)">{[{ alert.msg }]}</alert>
			<div class="row">
				<div class="col-sm-6">
				<input type="text" ng-show="editslug" id="pageslugs" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern pull-left" ng-model="menu.name" ng-keypress="onslugs(menu.name)">
				<span class="m-n font-thin h3" ng-hide="editslug" ng-bind="menu.name"> </span> &nbsp;&nbsp;&nbsp; <a ng-hide="editslug" ng-click="editpageslug()"><span class="fa fa-pencil"></span></a>
				<a ng-show="editslug" class="btn btn-primary btn-xs" ng-click="setslug(menu.name)">ok</a>
                <a ng-show="editslug" class="btn btn-danger btn-xs" ng-click="cancelpageslug(menu.name)">cancel</a>
                
				</div>
				<div class="col-sm-6">
					<div class="pull-right">
						<button class="btn btn-sm btn-info" type="button" data-action="expand-all" ng-click="addmenuitem(menuID)">Add Menu Item</button>
						<button class="btn btn-sm btn-info" type="button" data-action="expand-all" ng-click="expand()">Expand All</button>
						<button class="btn btn-sm btn-info" type="button" data-action="collapse-all" ng-click="collapse()">Collapse All</button>
					</div>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg"></div>
			<div class="col-sm-12">
				<div class="input-group" ng-show="changename == false"> 
					<span class="input-group-btn">
						<label class="m-n font-thin h3">{[{ sub.subname }]}</label><br>
						<label class="m-n font-thin h5">{[{ sub.linktext }]}</label>
						<div ng-model="link.linktext"></div>	
					</span>   
					<label class="mar-left btn btn-success btn-xs" ng-if="sub.subname" ng-click="addsub(sub)">Add</label>
				</div>
				<br>
				</div>
			
			<div class="row" ng-if="menulength != 0">
				<div class="col-sm-12">

					<div class="panel panel-default" style="max-height:400px">
						<div class="col-sm-12">
							<div ui-jq="nestable" class="dd">
								<ol class="dd-list">
									<li class="dd-item dd3-item" data-id="{[{ menu.submenuID }]}" ng-repeat="menu in submenu">
										
											<!-- <button data-action="collapse" type="button" style="display: block;" ng-show="menu.children">Collapse</button>
											<button data-action="expand" type="button" style="display: none;" ng-show="menu.children">Expand</button> -->
										
										<div class="dd-handle dd3-handle">Drag</div>
										<div class="dd3-content">{[{menu.subname}]}
											<div class="pull-right">
												<a href class="btn btn-success btn-xs sort-action" ng-click="addsubmenu(menu.submenuID)">Add</a>
												<a href class="btn btn-warning btn-xs sort-action" ng-click="editsubmenu(menu.submenuID,menuID)">Edit</a>
												<a href class="btn btn-danger btn-xs sort-action" ng-click="deletesubmenu(menu.submenuID,menuID)">Delete</a>
											</div>	
										</div>
										<ol class="dd-list">
											<li class="dd-item dd3-item" data-id="{[{ child1.submenuID }]}" ng-repeat="child1 in child1" ng-if="child1.parent == menu.submenuID">
												
													<!-- <button data-action="collapse" type="button" style="display: block;" ng-show="child1.children">Collapse</button>
													<button data-action="expand" type="button" style="display: none;" ng-show="child1.children">Expand</button> -->
												
												<div class="dd-handle dd3-handle">Drag</div>
												<div class="dd3-content">{[{child1.subname}]}
													<div class="pull-right">
														<a href class="btn btn-success btn-xs sort-action" ng-click="addsubmenu(child1.submenuID)">Add</a>
														<a href class="btn btn-warning btn-xs sort-action" ng-click="editsubmenu(child1.submenuID,menuID)">Edit</a>
														<a href class="btn btn-danger btn-xs sort-action" ng-click="deletesubmenu(child1.submenuID,menuID)">Delete</a>
													</div>	
												</div>
												<ol class="dd-list">

													<li class="dd-item dd3-item" data-id="{[{ child2.submenuID }]}" ng-repeat="child2 in child2" ng-if="child2.parent == child1.submenuID">

													

														<!-- <button data-action="collapse" type="button" style="display: block;">Collapse</button>
														<button data-action="expand" type="button" style="display: none;">Expand</button> -->

														<div class="dd-handle dd3-handle">Drag</div>
														<div class="dd3-content">{[{child2.subname}]}
															<div class="pull-right">
																<a href class="btn btn-success btn-xs sort-action" ng-click="addsubmenu(child2.submenuID)">Add</a>
																<a href class="btn btn-warning btn-xs sort-action" ng-click="editsubmenu(child2.submenuID,menuID)">Edit</a>
																<a href class="btn btn-danger btn-xs sort-action" ng-click="deletesubmenu(child2.submenuID,menuID)">Delete</a>
															</div>	
														</div>
														<ol class="dd-list">
															<li class="dd-item dd3-item" data-id="{[{ child3.submenuID }]}" ng-repeat="child3 in child3" ng-if="child3.parent == child2.submenuID">

																<!-- <button data-action="collapse" type="button" style="display: block;">Collapse</button>
																<button data-action="expand" type="button" style="display: none;">Expand</button> -->

																<div class="dd-handle dd3-handle">Drag</div>

																<div class="dd3-content">{[{child3.subname}]}
																	<div class="pull-right">
																		<a href class="btn btn-success btn-xs sort-action" ng-click="addsubmenu(child3.submenuID)">Add</a>
																		<a href class="btn btn-warning btn-xs sort-action" ng-click="editsubmenu(child3.submenuID,menuID)">Edit</a>
																		<a href class="btn btn-danger btn-xs sort-action" ng-click="deletesubmenu(child3.submenuID,menuID)">Delete</a>
																	</div>	
																</div>
																<ol class="dd-list">
																	<li class="dd-item dd3-item" data-id="{[{ child4.submenuID }]}" ng-repeat="child4 in child4" ng-if="child4.parent == child3.submenuID">

																		<!-- <button data-action="collapse" type="button" style="display: block;">Collapse</button>
																		<button data-action="expand" type="button" style="display: none;">Expand</button> -->

																		<div class="dd-handle dd3-handle">Drag</div>
																		<div class="dd3-content">{[{child4.subname}]}
																			<div class="pull-right">
																				<a href class="btn btn-success btn-xs sort-action" ng-click="addsubmenu(child4.submenuID)">Add</a>
																				<a href class="btn btn-warning btn-xs sort-action" ng-click="editsubmenu(child4.submenuID,menuID)">Edit</a>
																				<a href class="btn btn-danger btn-xs sort-action" ng-click="deletesubmenu(child4.submenuID,menuID)">Delete</a>
																			</div>	
																		</div>
																	</li>									
																</ol>
															</li>									
														</ol>
													</li>									
												</ol>
											</li>									
										</ol>
									</li>									
								</ol>
							</div>
						</div>
					</div>

				</div>
			</div>
			</div>
		</div>

		<div class="row">				
			<div class="col-sm-12">
				<button class="btn pull-right btn-primary" ng-click="save()" ng-disabled="testipage.$invalid || saving">Save</button>
				<button class="btn pull-right btn-default" ng-click="cancel()">Cancel</button>
			</div>
		</div>	

	</div>

</div>





