<!DOCTYPE html>
<html lang="en" data-ng-app="app" xmlns="http://www.w3.org/1999/xhtml"
xmlns:fb="http://ogp.me/ns/fb#" >
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="user-scalable = yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- Title and other stuffs -->
  <title><?php echo $metatitle." | Sedona Healing Arts"; ?></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="<?php echo $metatitle; ?>">
  <meta name="description" content="<?php echo $metadesc; ?>">
  <meta name="keywords" content="<?php echo $metakeyword; ?>">
  <meta name="author" content="<?php echo $name; ?>">
  <meta name="google-site-verification" content="olwczc3nc3-vWAy4G2_0-L87S-Sjw_HvXrYI26uRjKc" />

  <base href="/">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>

  <!-- Stylesheets -->
  <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendors/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.min.css" rel="stylesheet">
  <link href="be/css/app.css" rel="stylesheet">
  <link href="be/css/animate.css" rel="stylesheet">
  <link href="be/css/font-awesome.min.css" rel="stylesheet">
  <link href="be/css/fonts/flaticon.css" rel="stylesheet">
  <link href="be/css/simple-line-icons.css" rel="stylesheet">
  <link href="be/css/font.css" rel="stylesheet">

  <!-- Main stylesheet -->
  <link href="fe/style/style.css" rel="stylesheet">

  <!-- Stylesheet for Color -->
  <link href="fe/style/orange.css" rel="stylesheet">
  <!-- Responsive style (from Bootstrap) -->
  <link href="fe/style/bootstrap-responsive.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Dropdown stylesheet -->
  <link href="fe/style/dropdown-menu-styles.css" rel="stylesheet">
  <!-- Flex Nav stylesheet -->
  <link href="fe/style/flexnav.css" media="screen, projection" rel="stylesheet" type="text/css">
  <!-- Side Menu stylesheet -->
  <link href="fe/style/responsive-menu.css" media="screen, projection" rel="stylesheet" type="text/css">
  <!-- Custom stylesheet -->
  <link href="fe/style/custom-style.css" rel="stylesheet">
  <link href="vendors/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css" rel="stylesheet">

  <!-- Angularjs notify -->
  <link href="/vendors/angular-ui-notification/dist/angular-ui-notification.min.css" rel="stylesheet">
  <!-- Form Wizard -->
  <link href="fe/style/gsdk-base.css" rel="stylesheet" />

  <!-- Calendar CSS -->
  <link href="/vendors/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />

  <!-- Sl!d3r -->
  <link rel="stylesheet" href="/fe/style/slidercss.css">

  <link href="/vendors/AngularJS-Toaster/toaster.min.css" rel="stylesheet">
  
  <!----------------------- SPECIAL PAGE CSS FE ---------------------------->
  <link rel="stylesheet" href="/fe/style/specialpageFE.css">


  <!--    <link rel="stylesheet" href="/fe/skdslider/src/skdslider.css" type="text/css" /> -->
  <link href="/fe/startbootstrap-full-slider-1.0.2/css/full-slider.css" rel="stylesheet">

  <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="js/html5shim.js"></script>
    <![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/frontend/favicon.png">

    <!-- Add fancyBox main JS and CSS files -->

    <link rel="stylesheet" type="text/css" href="vendors/fancyBox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

    <meta name="og:title" content="<?php echo $title; ?>" />
    <meta name="og:description" content="<?php echo $subtitle2; ?>" />
    <meta name="og:url" content="<?php echo $base_url; echo $pagecategory!=null ? "/".$pagecategory : ""; echo "/".$pageslugs; ?>" />
    <?php if(!isset($imgthumb) && isset($banner)){?>
    <meta name="og:image" content="<?php echo $base_url;?>/img/frontend/<?php echo $banner; ?>" />
    <?php }else if(isset($imgthumb) && isset($banner)) { ?>
    <meta name="og:image" content="<?php echo $imgthumb; ?>" />
    <?php } else if(!isset($imgthumb) && !isset($banner)){?>
    <meta name="og:image" content="<?php echo $base_url;?>/img/frontend/photo_101.jpg" />
    <?php } ?>

    <?php echo $facebookpixels; ?>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1617141355217381&amp;ev=PixelInitialized" /></noscript>
    <script type="text/javascript">
      var limitcount = undefined;
    </script>
    <!-- ECOMMERCE STYLES -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/fe/style/ecommerce.css"/>
    <link rel="stylesheet" type="text/css" href="/fe/angular_vendors/thumbelina/thumbelina.css"/>
  </head>

  <body ng-controller="MainCtrl">

      <!-- Header starts -->
      <header>
        <div class="top-bg">
          <div class="contact-us-sun">

            <div class="contact-us-sun-inside" ng-cloak>

                <h3>Make an appointment!</h3>
                <h2>Call <span ng-bind="contact.phone"></span> </h2>
                <h3>- OR -</h3>
                <a class="book" href="<?php echo $base_url;?>/booking"><div class="book-now">BOOK ONLINE NOW</div></a>
                <div ng-show="loginpanel">
                  <h4 ng-if="loginname == ''"><a href="/sd/login">Login</a> | <a href="/sd/register">Register</a></h4>
                  <h4 ng-if="loginname != ''"><i class="fa fa-user"></i> {[{loginname}]} | <a href="" ng-click="logout()">Logout</a></h4>
                </div>

            </div>

          </div>
          <div class="upper-header">
            <a href="https://www.facebook.com/SedonaHealingArtsAZ" target="_blank"><img src="img/frontend/fb-social.png"/></a>
            <a href="https://twitter.com/SedonaHealingAZ" target="_blank"><img src="img/frontend/twitter-social.png"/></a>
            <a href="https://www.youtube.com/channel/UC6iB7HyQ-LqJyDbIEEPeY6A" target="_blank"><img src="img/frontend/youtube-social.png"/></a>
            <a href="https://plus.google.com/110601167518772499280/posts" target="_blank"><img src="img/frontend/gplus-social.png"/></a>
            <a href="mailto:contact@sedonahealingarts.com"><img src="img/frontend/mail-social.png"/></a>
            <span id="topmenu">
              <a href="/aboutsedonahealingarts">About Us</a> |
              <a>Services</a> |
              <a href="/shop">Shop</a> |
              <a href="/blog/all">Blog</a>
            </span>
          </div>
          <div class="container">
            <div class="row top-header sedona-logo-container">
              <div class="col-sm-12">
                <!-- Logo. Use class "color" to add color to the text. -->
                <center>
                  <div class="sedona-logo">
                    <a href="<?php echo $base_url;?>"><span class="title-color"><img src="img/frontend/horizontal_logo.png"></span></a>
                  </div>
                </center>

              </div>
              <!-- ===== SOCIALS ===== -->
                <!-- <div class="span4">

                  <div class="social-top">
                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                  </div>

                </div> -->
                <!-- ===== END SOCIALS ===== -->
                <div class="contact-us-mobile center" ng-cloak>


                    <h3>Make an appointment!</h3>
                    <h2>Call 928-282-3875</h2>
                    <h3>- OR -</h3>
                    <a class="book" href="<?php echo $base_url;?>/booking"><div class="book-now">BOOK ONLINE NOW</div></a>
                    <div ng-show="loginpanel">
                        <h4 ng-if="loginname == ''"><a href="/sd/login">Login</a> | <a href="/sd/register">Register</a></h4>
                        <h4 ng-if="loginname != ''"><i class="fa fa-user"></i> {[{loginname}]} | <a href="" ng-click="logout()">Logout</a></h4>
                    </div>
                </div>
              </div>
            </div>
          </div>



          <div ng-controller="MenuCtrl">
          <!-- Menu Short Code -->
          <input type="hidden" id="shortCode" value="[mainmenu]" ng-model="shortCode">
          <!-- Menu Short Code -->
          <!-- Menu Created-->
          <div class="menu-bg web-menu">
            <div class="menu-margin mob-container">
              <div class="row center">

                <div class="col-sm-12">


                  <div id='cssmenu'>
                    <ul>
                      <li class='uppercase has-sub' ng-repeat="webmenu in webmenu">
                        <a ng-show="webmenu.newtab == 'true'" class="menu-text" href='{[{webmenu.sublink}]}' target="_blank"><span ng-bind="webmenu.subname"></span></a>
                        <a ng-show="webmenu.newtab == 'false'" class="menu-text" href='{[{webmenu.sublink}]}'><span ng-bind="webmenu.subname"></span></a>
                        <ul>
                          <li class='has-sub' ng-repeat="sub1 in webmenu.children">
                            <a ng-show="sub1.newtab == 'true'" class='caps' href='{[{sub1.sublink}]}' target="_blank"><span ng-bind="sub1.subname"></span></a>
                            <a ng-show="sub1.newtab == 'false'" class='caps' href='{[{sub1.sublink}]}'><span ng-bind="sub1.subname"></span></a>
                            <ul>
                              <li class='has-sub' ng-repeat="sub2 in sub1.children">
                                <a ng-show="sub2.newtab == 'true'" class='caps' class='caps' href='{[{sub2.sublink}]}'><span ng-bind="sub2.subname" target="_blank"></span></a>
                                <a ng-show="sub2.newtab == 'false'" class='caps' class='caps' href='{[{sub2.sublink}]}'><span ng-bind="sub2.subname"></span></a>
                                <ul>
                                  <li class='has-sub' ng-repeat="sub3 in sub2.children">
                                    <a ng-show="sub3.newtab == 'true'" class='caps' class='caps' href='{[{sub3.sublink}]}'><span ng-bind="sub3.subname" target="_blank"></span></a>
                                    <a ng-show="sub3.newtab == 'false'" class='caps' class='caps' href='{[{sub3.sublink}]}'><span ng-bind="sub3.subname"></span></a>
                                    <ul>
                                      <li ng-repeat="sub4 in sub3.children">
                                        <a ng-show="sub4.newtab == 'true'" class='caps' class='caps' href='{[{sub4.sublink}]}'><span ng-bind="sub4.subname" target="_blank"></span></a>
                                        <a ng-show="sub4.newtab == 'false'" class='caps' class='caps' href='{[{sub4.sublink}]}'><span ng-bind="sub4.subname"></span></a>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- Menu Created-->

          <!-- Mobile menu starts -->
          <div class="mobile-menu">
            <div class="menu-button"><a class="menu-text">Sedona Healing Arts</a></div>
            <nav>
              <ul class="flexnav" style="padding-left: 0px;">

                <li ng-repeat="mobmenu in mobmenu">
                  <a ng-show="mobmenu.newtab == 'true'" class="mob-menu-text" href="{[{mobmenu.sublink}]}" target="_blank"><span ng-bind="mobmenu.subname"></span></a>
                  <a ng-show="mobmenu.newtab == 'false'" class="mob-menu-text" href="{[{mobmenu.sublink}]}"><span ng-bind="mobmenu.subname"></span></a>
                  <input type="hidden" ng-init="mobchild = mobmenu.children" ng-model="mobchild">

                  <ul style="padding-left: 0px;" ng-if="mobchild.length != 0">
                    <li ng-repeat="mobsub1 in mobmenu.children">
                      <a ng-show="mobsub1.newtab == 'true'" class="mob-menu-text caps" href="{[{mobsub1.sublink}]}" target="_blank"><span ng-bind="mobsub1.subname"></span></a>
                      <a ng-show="mobsub1.newtab == 'false'" class="mob-menu-text caps" href="{[{mobsub1.sublink}]}"><span ng-bind="mobsub1.subname"></span></a>
                      <input type="hidden" ng-init="mobchild1 = mobsub1.children" ng-model="mobchild">

                      <ul style="padding-left: 0px;" ng-if="mobchild1.length != 0">
                        <li ng-repeat="mobsub2 in mobsub1.children">
                          <a ng-show="mobsub2.newtab == 'true'" class="mob-menu-text caps" href="{[{mobsub2.sublink}]}" target="_blank"><span ng-bind="mobsub2.subname"></span></a>
                          <a ng-show="mobsub2.newtab == 'false'" class="mob-menu-text caps" href="{[{mobsub2.sublink}]}"><span ng-bind="mobsub2.subname"></span></a>
                          <input type="hidden" ng-init="mobchild2 = mobsub2.children" ng-model="mobchild">

                          <ul style="padding-left: 0px;" ng-if="mobchild2.length != 0">
                            <li ng-repeat="mobsub3 in mobsub2.children">
                              <a ng-show="mobsub3.newtab == 'true'" class="mob-menu-text caps" href="{[{mobsub3.sublink}]}" target="_blank"><span ng-bind="mobsub3.subname"></span></a>
                              <a ng-show="mobsub3.newtab == 'false'" class="mob-menu-text caps" href="{[{mobsub3.sublink}]}"><span ng-bind="mobsub3.subname"></span></a>

                              <ul style="padding-left: 0px;">
                                <li ng-repeat="mobsub4 in mobsub3.children">
                                  <a ng-show="mobsub4.newtab == 'true'" class="mob-menu-text caps" href="{[{mobsub4.sublink}]}" target="_blank"><span ng-bind="mobsub4.subname"></span></a>
                                  <a ng-show="mobsub4.newtab == 'false'" class="mob-menu-text caps" href="{[{mobsub4.sublink}]}"><span ng-bind="mobsub4.subname"></span></a>
                                </li>
                              </ul>

                            </li>
                          </ul>

                        </li>
                      </ul>

                    </li>
                  </ul>


                </li>

              </ul>
            </nav>
          </div>

          </div>
                  <!-- Mobile menu ends -->


          <!-- Web menu starts -->
          <!-- <div class="menu-bg web-menu">
            <div class="container menu-margin mob-container">
              <div class="row center">

                <div class="col-sm-12"> -->
                  <!-- Navigation -->
                  <!-- <div id='cssmenu'>
                    <ul>
                      <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/healing'><span>HEALING</span></a>
                        <ul>
                          <?php
                          $getginfo = $healing;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/healing/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>
                        </ul>
                      </li>
                      <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/readings'><span>READINGS</span></a>
                        <ul>
                          <?php
                          $getginfo = $readings;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/readings/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>
                        </ul>
                      </li>
                    </li>
                    <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/acupuncture'><span>ACUPUNCTURE</span></a>
                      <ul>
                          <?php
                          $getginfo = $acupuncture;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/acupuncture/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>
                      </ul>
                    </li>
                        <li class="hidden"><a href="<?php echo $base_url; ?>" class="mob-menu-text"><img src="<?php echo $base_url; ?>/img/frontend/favicon.png"></a></li>
                    <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/retreats'><span>RETREATS</span></a>
                      <ul>
                          <?php
                          $getginfo = $retreats;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/retreats/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>
                      </ul>
                    </li>
                    <li class='uppercase has-sub'><a class="menu-text" href='<?php echo $base_url;?>/workshops'><span>WORKSHOPS</span></a>
                      <ul>
                          <?php
                          $getginfo = $workshops;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li><a class='caps' href='<?php echo $base_url;?>/workshops/<?php echo $getginfo[$key]->pageslugs;?>'><span><?php echo $getginfo[$key]->title;?></span></a></li>
                            <?php } ?>
                      </ul>
                    </li>

                    <li class='uppercase has-sub last'>
                      <a class="menu-text" href='<?php echo $base_url;?>/aura/<?php echo $aura_slugs; ?>'><span>AURA</span></a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- Web menu ends -->

        <!-- Mobile menu starts -->
        <!-- <div class="mobile-menu">
          <div class="menu-button"><a class="menu-text">Sedona Healing Arts</a></div>
          <nav>
            <ul class="flexnav" style="padding-left: 0px;">
              <li><a class="mob-menu-text" href="<?php echo $base_url;?>/healing">HEALING</a>
                <ul style="padding-left: 0px;">

                  <?php
                  $getginfo = $healing;
                  foreach ($getginfo as $key => $value) {
                    ?>
                    <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/healing/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                    <?php } ?>
                  </ul>
                </li>
                <li><a class="mob-menu-text" href="<?php echo $base_url;?>/readings">READING</a>
                  <ul style="padding-left: 0px;">
                    <?php
                    $getginfo = $readings;
                    foreach ($getginfo as $key => $value) {
                      ?>
                      <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/readings/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                      <?php } ?>
                    </ul>
                  </li>
                  <li><a class="mob-menu-text" href="<?php echo $base_url;?>/acupuncture">ACUPUNCTURE</a>
                    <ul style="padding-left: 0px;">
                      <?php
                      $getginfo = $acupuncture;
                      foreach ($getginfo as $key => $value) {
                        ?>
                        <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/acupuncture/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                        <?php } ?>
                      </ul>
                    </li>
                    <li><a class="mob-menu-text" href="<?php echo $base_url;?>/retreats">RETREATS</a>
                      <ul style="padding-left: 0px;">
                        <?php
                        $getginfo = $retreats;
                        foreach ($getginfo as $key => $value) {
                          ?>
                          <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/retreats/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                          <?php } ?>
                        </ul>
                      </li>
                      <li><a class="mob-menu-text" href="<?php echo $base_url;?>/workshops">WORKSHOPS</a>
                        <ul style="padding-left: 0px;">
                          <?php
                          $getginfo = $workshops;
                          foreach ($getginfo as $key => $value) {
                            ?>
                            <li> <a class="mob-menu-text caps" href="<?php echo $base_url;?>/workshops/<?php echo $getginfo[$key]->pageslugs;?>"><?php echo $getginfo[$key]->title;?></a></li>
                            <?php } ?>
                          </ul>
                        </li>
                        <li><a class="mob-menu-text" href="<?php echo $base_url;?>/aura/<?php echo $aura_slugs; ?>">AURA</a>
                        </li>
                      </ul>
                    </nav>
                  </div> -->
                  <!-- Mobile menu ends -->

                </header>

                <!-- Seperator -->

                <!-- Header ends -->

                <?php echo $this->getContent(); ?>





              <!-- Footer starts -->
<!-- <footer>
    <div class="row margin-right-979">
        <div class="col-sm-12">
            <div class="paragraph" style="text-align:center;">

                <p>
                  <a href="<?php echo $base_url;?>/aboutsedonahealingarts" title="">About Sedona Healing Arts</a>
                  &nbsp; | &nbsp;
                  <a href="<?php echo $base_url;?>" title="">Home</a>
                  &nbsp; | &nbsp;
                  <a href="<?php echo $base_url;?>/healing" title="">Healing</a>
                  &nbsp; | &nbsp;
                  <a href="<?php echo $base_url;?>/readings" title="">Readings</a>
                  &nbsp; | &nbsp;
                  <a href="<?php echo $base_url;?>/acupuncture" title="">Acupuncture</a>
                  &nbsp; | &nbsp;
                  <a href="<?php echo $base_url;?>/retreats" title="">Retreats</a>
                  &nbsp; | &nbsp;
                  <a href="<?php echo $base_url;?>/workshops" title="">Workshops</a>
                  &nbsp; | &nbsp;
                  <a href="<?php echo $base_url;?>/booking" title="">Book Online</a>
                  &nbsp; | &nbsp;
                  <a href="<?php echo $base_url;?>/blog/all" title="">Blog</a>
                  &nbsp;| &nbsp;
                  <a href="<?php echo $base_url;?>/contactus" title="">Contact Us</a>
                </p> <br/>

                <p class="copy">Copyright © 2015 · All Rights Reserved · Sedona Healing Arts · 201 State Route 179, Sedona, AZ 86336 </p>

            </div>
          </div>
        </footer> -->


        <!-- Footer ends -->
<!-- green-wrapper -->
<div ng-controller="footerCtrl">
    <div class="row" style="position:absolute;width:100%">
         <div ng-repeat="(indexX,y) in foot track by indexX">
           <div class="row" style="background:{[{y.color}]}">
            <div ng-repeat="x in y">
              <div ng-if="$index == 0">
                <div class="{[{y.type == 1 ? 'col-sm-12' : ''}]} {[{y.type == 2 ? 'col-sm-6' : ''}]} {[{y.type == 3 ? 'col-sm-4' : ''}]} {[{ y.type == 4 ? 'col-sm-3' : ''}]}" style="padding:0px">
                       <div ng-if="x.col=='TEXT'">
                          <p ng-bind-html="trustAsHtml(x.content)"></p>
                       </div>
                      <div ng-if="x.col=='IMAGE'">
                        <div ng-if="x.link==null" class="img-responsive" style="background:#000 url('<?php echo $this->config->application->amazonlink; ?>/uploads/pageimage/{[{x.image}]}'); background-size:cover;background-repeat:no-repeat;background-position:center center;min-height:400px;margin-bottom:4px"></div>
                        <a ng-if="x.link!=null" href="{[{x.link}]}" target="_blank"><div class="img-responsive" style="background:#000 url('<?php echo $this->config->application->amazonlink; ?>/uploads/pageimage/{[{x.image}]}');  background-size:cover; background-repeat:no-repeat;background-position:center center;min-height:400px;margin-bottom:4px"></div></a>
                      </div>
                      <div ng-if="x.col=='DIVIDER'">
                      <hr style="height:{[{x.height}]}px;background-color:{[{x.color}]}">
                      </div>


                      <div ng-if="x.col=='BUTTON'">
                    <div ng-if="x.btnname!='' && x.btnlink!=''" style="text-align:{[{x.position}]}">
                         <a href="{[{x.btnlink.indexOf('http://') > -1 ? '' : 'http://'}]}{[{x.btnlink}]}" target="_blank" class="module-link" style="background-color:{[{x.bgcolor}]};color:{[{x.fcolor}]};padding:{[{x.padtop}]}px {[{x.padside}]}%;font-size:{[{x.font}]}px">{[{x.btnname}]}</a>
                         </div>
                      </div>

                      <div ng-if="x.col=='TESTIMONIAL'">
                           <hr class="styled-hr">

                               <div class="size18"><h2 class="font1 italic">What People Are Saying</h2></div>
                                 <div ng-repeat="t in testi | filter:x.category | limitTo:x.limitcount">

                                    <div class="size16 border-left italic margin-top special-testi-wrapper">
                                        <div class="row">
                                            <div class="col-sm-3 text-center page-testi-image">
                                                <img src="<?php echo $imageLink; ?>/uploads/testimonialpic/{[{t.picture}]}" class="testi-img">
                                            </div>
                                            <div class="col-sm-9">
                                                <div></div>
                                                <div>
                                                    <span class="fa fa-quote-left"></span>
                                                   {[{t.message}]}
                                                 </div>
                                                    <div class="text-right">-  {[{t.name}]} </div>
                                                </div>
                                            </div>
                                            <hr class="styled-hr">
                                    </div>
                                    </div>

                     </div>
                     <div ng-if="x.col=='NEWS'">
                      <h4 class="blog-title-list">Latest News</h4>
                      <div class="list-news-wrapper special-news-wrapper">
                       <div class="row list-title-blog specialpage-title-blog" ng-repeat="news in news | limitTo:x.limitcount">
                        <div class="col-sm-3 news-thumb-container {[{y.type == 3 || y.type == 4 ? 'specialpage-news-thumb' : ''}]}" style="background-image: url('{[{ news.videothumb | returnYoutubeThumb }]} {[{ news.imagethumb | returnImageThumb }]}')" ng-click="redirectNews(news.newsslugs);" title="{[{ news.title }]}">
                          <img src="{[{ news.imagethumb | returnImageThumb }]}" class="pinterest-img" alt="{[{ news.title }]}">
                          <a href="/blog/{[{news.newsslugs}]}">
                          </a>
                        </div>
                        <div class="col-xs-8 col-md-7 news-list-desc {[{y.type == 3 || y.type == 4 ? 'specialpage-news-desc' : ''}]}">
                          <div class="row">

                            <div class="">
                              <span class="size25 font1 news-title" ng-click="redirectNews(news.newsslugs)">{[{news.title}]}</span>
                            </div>
                            <div class="">
                              <strong><span class="thin-font1 orange">
                               {[{ news.categorylist }]}
                             </span></strong><span ng-show="news.name !=''" class="thin-font1"> / by <a href="/blog/author/Jacinto Escano"><strong><span class="orange">{[{ news.name }]}</span></strong></a></span> / {[{ news.date }]}
                             <br><br>
                           </div>
                           <div class="col-sm-12">
                            <div class="font1 size14 summary">
                              {[{ news.summary }]}
                              <br><br>
                            </div>
                          </div>
                        </div>
                        <div style="clear:both"></div>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                     <div ng-if="x.col=='CONTACT'">
                     <div class="">
                      <div class="col-sm-12">
                        <h1>Contact Us</h1>
                      </div>
                      <div class="{[{y.type == 1 || y.type == 2 ? 'col-sm-6' : ''}]}">
                          <!-- Contact form -->
                          <form name="formContactUs" class="form-validation booking ng-pristine ng-invalid ng-invalid-required" ng-submit="submit(feedback)">
                            <!-- Name -->
                              <div class="control-group margin-bot8">
                                <div class="">
                                  <label class="control-label size14 col-sm-12" for="name">Subject
                                    <span class="red">*</span>
                                  </label>
                                  <div class="col-sm-12">
                                    <input type="text" class="form-control textbox margin-bot8" id="" required="required" ng-model="feedback.subject">
                                  </div>
                                </div>
                              </div>
                              <div class="control-group margin-bot8">
                                <div class="row">
                                  <label class="control-label size14 col-sm-12" for="name">Name
                                    <span class="red">*</span>
                                  </label>
                                <div class="{[{y.type == 1 || y.type == 2 ? 'col-sm-6' : 'col-sm-12'}]}">
                                    <input type="text" class="form-control textbox margin-bot8" id="fname" placeholder="First Name" required="required" ng-model="feedback.fname">
                                  </div>
                                <div class="{[{y.type == 1 || y.type == 2 ? 'col-sm-6' : 'col-sm-12'}]}">
                                    <input type="text" class="form-control textbox" id="lname" placeholder="Last Name" required="required" ng-model="feedback.lname">
                                  </div>
                                </div>
                              </div>
                              <!-- Email -->
                              <div class="control-group margin-bot8">
                                <div class="row">
                                  <label class="control-label size14 col-sm-12" for="email">Email
                                    <span class="red">*</span>
                                  </label>
                                  <div class="col-sm-12">
                                    <span class="red hidden booking-email">Invalid Email Address</span>
                                    <input type="email" class="textbox form-control margin-bot8" id="email" required="required" ng-model="feedback.email" ng-change="onemail(feedback.email)">
                                  </div>
                                </div>
                              </div>
                              <!-- Comment -->
                              <div class="control-group margin-bot8">
                                <div class="row">
                                  <label class="control-label size14 col-sm-12" for="comment">Feedback:
                                    <span class="red">*</span>
                                  </label>
                                  <div class="col-sm-12">
                                    <textarea class="form-control input-large textarea" id="feedback" rows="5" required="required" ng-model="feedback.message"></textarea>
                                  </div>
                                </div>
                              </div>
                              <!-- Buttons -->
                              <div class="form-actions margin-bot8">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <button type="submit" class="btn btn-sedona" ng-disabled="formContactUs.$invalid||res==false">Submit</button>
                                  </div>
                                </div>
                              </div>
                              <!-- Buttons -->
                            </form>
                          <div class="clearfix"></div>
                        </div>

                        <div class="{[{y.type == 1 || y.type == 2 ? 'col-sm-6' : 'col-sm-12'}]} storeinfo">
                          <div class="storeinfo-details">
                            <h3 class="orange"> <span ng-bind="x.title"> </span> </h3>
                            <div class="title3">
                              <span class="titleb">Phone:</span>
                              <span ng-bind="x.phone" class="thin-font3"> </span> <br/>
                              <span class="titleb">Email:</span> <span ng-bind="x.email" class="thin-font3"> </span> <br/>
                              <span class="titleb">Hours:</span> <span ng-bind="x.hours" class="thin-font3"> </span>  <br/> <br/>
                            </div>
                            <div class="title3">
                              <span class="titleb text-top">Address:</span>
                              <br/>
                              <div ng-repeat="s in x.str">
                                <span class="thin-font3" ng-bind="s"> </span> <br/>
                              </div>
                            </div>

                            <div class="wsite-map">
                              <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 200px; margin-top: 10px; margin-bottom: 10px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.673285579057!2d-111.7637428!3d34.8644358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da1564d73fd15%3A0x3e31d123930491bf!2s201+Hwy+179%2C+Sedona%2C+AZ+86336%2C+USA!5e0!3m2!1sen!2sph!4v1434348998372"></iframe>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>

                     </div>
                     </div>

                </div>
              </div> <!-- index -->
              <div ng-if="$index == 1">
                <div class="{[{y.type == 2 ? 'col-sm-6' : ''}]} {[{y.type == 3 ? 'col-sm-4' : ''}]} {[{ y.type == 4 ? 'col-sm-3' : ''}]}" style="padding:0px">
                       <div ng-if="x.col=='TEXT'">
                          <p ng-bind-html="trustAsHtml(x.content)"></p>
                       </div>
                      <div ng-if="x.col=='IMAGE'">
                        <div ng-if="x.link==null" class="img-responsive" style="background:#000 url('<?php echo $this->config->application->amazonlink; ?>/uploads/pageimage/{[{x.image}]}'); background-size:cover;background-repeat:no-repeat;background-position:center center;min-height:400px;margin-bottom:4px"></div>
                        <a ng-if="x.link!=null" href="{[{x.link}]}" target="_blank"><div class="img-responsive" style="background:#000 url('<?php echo $this->config->application->amazonlink; ?>/uploads/pageimage/{[{x.image}]}');  background-size:cover; background-repeat:no-repeat;background-position:center center;min-height:400px;margin-bottom:4px"></div></a>
                      </div>
                      <div ng-if="x.col=='DIVIDER'">
                      <hr style="height:{[{x.height}]}px;background-color:{[{x.color}]}">
                      </div>


                      <div ng-if="x.col=='BUTTON'">
                    <div ng-if="x.btnname!='' && x.btnlink!=''" style="text-align:{[{x.position}]}">
                         <a href="{[{x.btnlink.indexOf('http://') > -1 ? '' : 'http://'}]}{[{x.btnlink}]}" target="_blank" class="module-link" style="background-color:{[{x.bgcolor}]};color:{[{x.fcolor}]};padding:{[{x.padtop}]}px {[{x.padside}]}%;font-size:{[{x.font}]}px">{[{x.btnname}]}</a>
                         </div>
                      </div>

                      <div ng-if="x.col=='TESTIMONIAL'">
                           <hr class="styled-hr">

                               <div class="size18"><h2 class="font1 italic">What People Are Saying</h2></div>
                                 <div ng-repeat="t in testi | filter:x.category | limitTo:x.limitcount">

                                    <div class="size16 border-left italic margin-top special-testi-wrapper">
                                        <div class="row">
                                            <div class="col-sm-3 text-center page-testi-image">
                                                <img src="<?php echo $imageLink; ?>/uploads/testimonialpic/{[{t.picture}]}" class="testi-img">
                                            </div>
                                            <div class="col-sm-9">
                                                <div></div>
                                                <div>
                                                    <span class="fa fa-quote-left"></span>
                                                   {[{t.message}]}
                                                 </div>
                                                    <div class="text-right">-  {[{t.name}]} </div>
                                                </div>
                                            </div>
                                            <hr class="styled-hr">
                                    </div>
                                    </div>

                     </div>
                     <div ng-if="x.col=='NEWS'">
                      <h4 class="blog-title-list">Latest News</h4>
                      <div class="list-news-wrapper special-news-wrapper">
                       <div class="row list-title-blog specialpage-title-blog" ng-repeat="news in news | limitTo:x.limitcount">
                        <div class="col-sm-3 news-thumb-container {[{y.type == 3 || y.type == 4 ? 'specialpage-news-thumb' : ''}]}" style="background-image: url('{[{ news.videothumb | returnYoutubeThumb }]} {[{ news.imagethumb | returnImageThumb }]}')" ng-click="redirectNews(news.newsslugs);" title="{[{ news.title }]}">
                          <img src="{[{ news.imagethumb | returnImageThumb }]}" class="pinterest-img" alt="{[{ news.title }]}">
                          <a href="/blog/{[{news.newsslugs}]}">
                          </a>
                        </div>
                        <div class="col-xs-8 col-md-7 news-list-desc {[{y.type == 3 || y.type == 4 ? 'specialpage-news-desc' : ''}]}">
                          <div class="row">

                            <div class="">
                              <span class="size25 font1 news-title" ng-click="redirectNews(news.newsslugs)">{[{news.title}]}</span>
                            </div>
                            <div class="">
                              <strong><span class="thin-font1 orange">
                               {[{ news.categorylist }]}
                             </span></strong><span ng-show="news.name !=''" class="thin-font1"> / by <a href="/blog/author/Jacinto Escano"><strong><span class="orange">{[{ news.name }]}</span></strong></a></span> / {[{ news.date }]}
                             <br><br>
                           </div>
                           <div class="col-sm-12">
                            <div class="font1 size14 summary">
                              {[{ news.summary }]}
                              <br><br>
                            </div>
                          </div>
                        </div>
                        <div style="clear:both"></div>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                     <div ng-if="x.col=='CONTACT'">
                     <div class="">
                      <div class="col-sm-12">
                        <h1>Contact Us</h1>
                      </div>
                      <div class="{[{y.type == 1 || y.type == 2 ? 'col-sm-6' : ''}]}">
                          <!-- Contact form -->
                          <form name="formContactUs" class="form-validation booking ng-pristine ng-invalid ng-invalid-required" ng-submit="submit(feedback)">
                            <!-- Name -->
                              <div class="control-group margin-bot8">
                                <div class="">
                                  <label class="control-label size14 col-sm-12" for="name">Subject
                                    <span class="red">*</span>
                                  </label>
                                  <div class="col-sm-12">
                                    <input type="text" class="form-control textbox margin-bot8" id="" required="required" ng-model="feedback.subject">
                                  </div>
                                </div>
                              </div>
                              <div class="control-group margin-bot8">
                                <div class="row">
                                  <label class="control-label size14 col-sm-12" for="name">Name
                                    <span class="red">*</span>
                                  </label>
                                <div class="{[{y.type == 1 || y.type == 2 ? 'col-sm-6' : 'col-sm-12'}]}">
                                    <input type="text" class="form-control textbox margin-bot8" id="fname" placeholder="First Name" required="required" ng-model="feedback.fname">
                                  </div>
                                <div class="{[{y.type == 1 || y.type == 2 ? 'col-sm-6' : 'col-sm-12'}]}">
                                    <input type="text" class="form-control textbox" id="lname" placeholder="Last Name" required="required" ng-model="feedback.lname">
                                  </div>
                                </div>
                              </div>
                              <!-- Email -->
                              <div class="control-group margin-bot8">
                                <div class="row">
                                  <label class="control-label size14 col-sm-12" for="email">Email
                                    <span class="red">*</span>
                                  </label>
                                  <div class="col-sm-12">
                                    <span class="red hidden booking-email">Invalid Email Address</span>
                                    <input type="email" class="textbox form-control margin-bot8" id="email" required="required" ng-model="feedback.email" ng-change="onemail(feedback.email)">
                                  </div>
                                </div>
                              </div>
                              <!-- Comment -->
                              <div class="control-group margin-bot8">
                                <div class="row">
                                  <label class="control-label size14 col-sm-12" for="comment">Feedback:
                                    <span class="red">*</span>
                                  </label>
                                  <div class="col-sm-12">
                                    <textarea class="form-control input-large textarea" id="feedback" rows="5" required="required" ng-model="feedback.message"></textarea>
                                  </div>
                                </div>
                              </div>
                              <!-- Buttons -->
                              <div class="form-actions margin-bot8">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <button type="submit" class="btn btn-sedona" ng-disabled="formContactUs.$invalid||res==false">Submit</button>
                                  </div>
                                </div>
                              </div>
                              <!-- Buttons -->
                            </form>
                          <div class="clearfix"></div>
                        </div>

                        <div class="{[{y.type == 1 || y.type == 2 ? 'col-sm-6' : 'col-sm-12'}]} storeinfo">
                          <div class="storeinfo-details">
                            <h3 class="orange"> <span ng-bind="x.title"> </span> </h3>
                            <div class="title3">
                              <span class="titleb">Phone:</span>
                              <span ng-bind="x.phone" class="thin-font3"> </span> <br/>
                              <span class="titleb">Email:</span> <span ng-bind="x.email" class="thin-font3"> </span> <br/>
                              <span class="titleb">Hours:</span> <span ng-bind="x.hours" class="thin-font3"> </span>  <br/> <br/>
                            </div>
                            <div class="title3">
                              <span class="titleb text-top">Address:</span>
                              <br/>
                              <div ng-repeat="s in x.str">
                                <span class="thin-font3" ng-bind="s"> </span> <br/>
                              </div>
                            </div>

                            <div class="wsite-map">
                              <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 200px; margin-top: 10px; margin-bottom: 10px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.673285579057!2d-111.7637428!3d34.8644358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da1564d73fd15%3A0x3e31d123930491bf!2s201+Hwy+179%2C+Sedona%2C+AZ+86336%2C+USA!5e0!3m2!1sen!2sph!4v1434348998372"></iframe>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>

                     </div>
                     </div>

                </div>
              </div> <!-- index -->
              <div ng-if="$index == 2">
                <div class="{[{y.type == 3 ? 'col-sm-4' : ''}]} {[{ y.type == 4 ? 'col-sm-3' : ''}]}" style="padding:0px">
                       <div ng-if="x.col=='TEXT'">
                          <p ng-bind-html="trustAsHtml(x.content)"></p>
                       </div>
                      <div ng-if="x.col=='IMAGE'">
                        <div ng-if="x.link==null" class="img-responsive" style="background:#000 url('<?php echo $this->config->application->amazonlink; ?>/uploads/pageimage/{[{x.image}]}'); background-size:cover;background-repeat:no-repeat;background-position:center center;min-height:400px;margin-bottom:4px"></div>
                        <a ng-if="x.link!=null" href="{[{x.link}]}" target="_blank"><div class="img-responsive" style="background:#000 url('<?php echo $this->config->application->amazonlink; ?>/uploads/pageimage/{[{x.image}]}');  background-size:cover; background-repeat:no-repeat;background-position:center center;min-height:400px;margin-bottom:4px"></div></a>
                      </div>
                      <div ng-if="x.col=='DIVIDER'">
                      <hr style="height:{[{x.height}]}px;background-color:{[{x.color}]}">
                      </div>


                      <div ng-if="x.col=='BUTTON'">
                    <div ng-if="x.btnname!='' && x.btnlink!=''" style="text-align:{[{x.position}]}">
                         <a href="{[{x.btnlink.indexOf('http://') > -1 ? '' : 'http://'}]}{[{x.btnlink}]}" target="_blank" class="module-link" style="background-color:{[{x.bgcolor}]};color:{[{x.fcolor}]};padding:{[{x.padtop}]}px {[{x.padside}]}%;font-size:{[{x.font}]}px">{[{x.btnname}]}</a>
                         </div>
                      </div>

                      <div ng-if="x.col=='TESTIMONIAL'">
                           <hr class="styled-hr">

                               <div class="size18"><h2 class="font1 italic">What People Are Saying</h2></div>
                                 <div ng-repeat="t in testi | filter:x.category | limitTo:x.limitcount">

                                    <div class="size16 border-left italic margin-top special-testi-wrapper">
                                        <div class="row">
                                            <div class="col-sm-3 text-center page-testi-image">
                                                <img src="<?php echo $imageLink; ?>/uploads/testimonialpic/{[{t.picture}]}" class="testi-img">
                                            </div>
                                            <div class="col-sm-9">
                                                <div></div>
                                                <div>
                                                    <span class="fa fa-quote-left"></span>
                                                   {[{t.message}]}
                                                 </div>
                                                    <div class="text-right">-  {[{t.name}]} </div>
                                                </div>
                                            </div>
                                            <hr class="styled-hr">
                                    </div>
                                    </div>

                     </div>
                     <div ng-if="x.col=='NEWS'">
                      <h4 class="blog-title-list">Latest News</h4>
                      <div class="list-news-wrapper special-news-wrapper">
                       <div class="row list-title-blog specialpage-title-blog" ng-repeat="news in news | limitTo:x.limitcount">
                        <div class="col-sm-3 news-thumb-container {[{y.type == 3 || y.type == 4 ? 'specialpage-news-thumb' : ''}]}" style="background-image: url('{[{ news.videothumb | returnYoutubeThumb }]} {[{ news.imagethumb | returnImageThumb }]}')" ng-click="redirectNews(news.newsslugs);" title="{[{ news.title }]}">
                          <img src="{[{ news.imagethumb | returnImageThumb }]}" class="pinterest-img" alt="{[{ news.title }]}">
                          <a href="/blog/{[{news.newsslugs}]}">
                          </a>
                        </div>
                        <div class="col-xs-8 col-md-7 news-list-desc {[{y.type == 3 || y.type == 4 ? 'specialpage-news-desc' : ''}]}">
                          <div class="row">

                            <div class="">
                              <span class="size25 font1 news-title" ng-click="redirectNews(news.newsslugs)">{[{news.title}]}</span>
                            </div>
                            <div class="">
                              <strong><span class="thin-font1 orange">
                               {[{ news.categorylist }]}
                             </span></strong><span ng-show="news.name !=''" class="thin-font1"> / by <a href="/blog/author/Jacinto Escano"><strong><span class="orange">{[{ news.name }]}</span></strong></a></span> / {[{ news.date }]}
                             <br><br>
                           </div>
                           <div class="col-sm-12">
                            <div class="font1 size14 summary">
                              {[{ news.summary }]}
                              <br><br>
                            </div>
                          </div>
                        </div>
                        <div style="clear:both"></div>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                     <div ng-if="x.col=='CONTACT'">
                     <div class="">
                      <div class="col-sm-12">
                        <h1>Contact Us</h1>
                      </div>
                      <div class="">
                          <!-- Contact form -->
                          <form name="formContactUs" class="form-validation booking ng-pristine ng-invalid ng-invalid-required" ng-submit="submit(feedback)">
                            <!-- Name -->
                              <div class="control-group margin-bot8">
                                <div class="">
                                  <label class="control-label size14 col-sm-12" for="name">Subject
                                    <span class="red">*</span>
                                  </label>
                                  <div class="col-sm-12">
                                    <input type="text" class="form-control textbox margin-bot8" id="" required="required" ng-model="feedback.subject">
                                  </div>
                                </div>
                              </div>
                              <div class="control-group margin-bot8">
                                <div class="row">
                                  <label class="control-label size14 col-sm-12" for="name">Name
                                    <span class="red">*</span>
                                  </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control textbox margin-bot8" id="fname" placeholder="First Name" required="required" ng-model="feedback.fname">
                                  </div>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control textbox" id="lname" placeholder="Last Name" required="required" ng-model="feedback.lname">
                                  </div>
                                </div>
                              </div>
                              <!-- Email -->
                              <div class="control-group margin-bot8">
                                <div class="row">
                                  <label class="control-label size14 col-sm-12" for="email">Email
                                    <span class="red">*</span>
                                  </label>
                                  <div class="col-sm-12">
                                    <span class="red hidden booking-email">Invalid Email Address</span>
                                    <input type="email" class="textbox form-control margin-bot8" id="email" required="required" ng-model="feedback.email" ng-change="onemail(feedback.email)">
                                  </div>
                                </div>
                              </div>
                              <!-- Comment -->
                              <div class="control-group margin-bot8">
                                <div class="row">
                                  <label class="control-label size14 col-sm-12" for="comment">Feedback:
                                    <span class="red">*</span>
                                  </label>
                                  <div class="col-sm-12">
                                    <textarea class="form-control input-large textarea" id="feedback" rows="5" required="required" ng-model="feedback.message"></textarea>
                                  </div>
                                </div>
                              </div>
                              <!-- Buttons -->
                              <div class="form-actions margin-bot8">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <button type="submit" class="btn btn-sedona" ng-disabled="formContactUs.$invalid||res==false">Submit</button>
                                  </div>
                                </div>
                              </div>
                              <!-- Buttons -->
                            </form>
                          <div class="clearfix"></div>
                        </div>

                        <div class="col-sm-12 storeinfo">
                          <div class="storeinfo-details">
                            <h3 class="orange"> <span ng-bind="x.title"> </span> </h3>
                            <div class="title3">
                              <span class="titleb">Phone:</span>
                              <span ng-bind="x.phone" class="thin-font3"> </span> <br/>
                              <span class="titleb">Email:</span> <span ng-bind="x.email" class="thin-font3"> </span> <br/>
                              <span class="titleb">Hours:</span> <span ng-bind="x.hours" class="thin-font3"> </span>  <br/> <br/>
                            </div>
                            <div class="title3">
                              <span class="titleb text-top">Address:</span>
                              <br/>
                              <div ng-repeat="s in x.str">
                                <span class="thin-font3" ng-bind="s"> </span> <br/>
                              </div>
                            </div>

                            <div class="wsite-map">
                              <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 200px; margin-top: 10px; margin-bottom: 10px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.673285579057!2d-111.7637428!3d34.8644358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da1564d73fd15%3A0x3e31d123930491bf!2s201+Hwy+179%2C+Sedona%2C+AZ+86336%2C+USA!5e0!3m2!1sen!2sph!4v1434348998372"></iframe>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>

                     </div>
                     </div>

                </div>
              </div> <!-- index -->
              <div ng-if="$index == 3">
                <div class="col-sm-3" style="padding:0px">
                       <div ng-if="x.col=='TEXT'">
                          <p ng-bind-html="trustAsHtml(x.content)"></p>
                       </div>
                      <div ng-if="x.col=='IMAGE'">
                        <div ng-if="x.link==null" class="img-responsive" style="background:#000 url('<?php echo $this->config->application->amazonlink; ?>/uploads/pageimage/{[{x.image}]}'); background-size:cover;background-repeat:no-repeat;background-position:center center;min-height:400px;margin-bottom:4px"></div>
                        <a ng-if="x.link!=null" href="{[{x.link}]}" target="_blank"><div class="img-responsive" style="background:#000 url('<?php echo $this->config->application->amazonlink; ?>/uploads/pageimage/{[{x.image}]}');  background-size:cover; background-repeat:no-repeat;background-position:center center;min-height:400px;margin-bottom:4px"></div></a>
                      </div>
                      <div ng-if="x.col=='DIVIDER'">
                      <hr style="height:{[{x.height}]}px;background-color:{[{x.color}]}">
                      </div>


                      <div ng-if="x.col=='BUTTON'">
                    <div ng-if="x.btnname!='' && x.btnlink!=''" style="text-align:{[{x.position}]}">
                         <a href="{[{x.btnlink.indexOf('http://') > -1 ? '' : 'http://'}]}{[{x.btnlink}]}" target="_blank" class="module-link" style="background-color:{[{x.bgcolor}]};color:{[{x.fcolor}]};padding:{[{x.padtop}]}px {[{x.padside}]}%;font-size:{[{x.font}]}px">{[{x.btnname}]}</a>
                         </div>
                      </div>

                      <div ng-if="x.col=='TESTIMONIAL'">
                           <hr class="styled-hr">

                               <div class="size18"><h2 class="font1 italic">What People Are Saying</h2></div>
                                 <div ng-repeat="t in testi | filter:x.category | limitTo:x.limitcount">

                                    <div class="size16 border-left italic margin-top special-testi-wrapper">
                                        <div class="row">
                                            <div class="col-sm-3 text-center page-testi-image">
                                                <img src="<?php echo $imageLink; ?>/uploads/testimonialpic/{[{t.picture}]}" class="testi-img">
                                            </div>
                                            <div class="col-sm-9">
                                                <div></div>
                                                <div>
                                                    <span class="fa fa-quote-left"></span>
                                                   {[{t.message}]}
                                                 </div>
                                                    <div class="text-right">-  {[{t.name}]} </div>
                                                </div>
                                            </div>
                                            <hr class="styled-hr">
                                    </div>
                                    </div>

                     </div>
                     <div ng-if="x.col=='NEWS'">
                      <h4 class="blog-title-list">Latest News</h4>
                      <div class="list-news-wrapper special-news-wrapper">
                       <div class="row list-title-blog specialpage-title-blog" ng-repeat="news in news | limitTo:x.limitcount">
                        <div class="col-sm-3 news-thumb-container {[{y.type == 3 || y.type == 4 ? 'specialpage-news-thumb' : ''}]}" style="background-image: url('{[{ news.videothumb | returnYoutubeThumb }]} {[{ news.imagethumb | returnImageThumb }]}')" ng-click="redirectNews(news.newsslugs);" title="{[{ news.title }]}">
                          <img src="{[{ news.imagethumb | returnImageThumb }]}" class="pinterest-img" alt="{[{ news.title }]}">
                          <a href="/blog/{[{news.newsslugs}]}">
                          </a>
                        </div>
                        <div class="col-xs-8 col-md-7 news-list-desc {[{y.type == 3 || y.type == 4 ? 'specialpage-news-desc' : ''}]}">
                          <div class="row">

                            <div class="">
                              <span class="size25 font1 news-title" ng-click="redirectNews(news.newsslugs)">{[{news.title}]}</span>
                            </div>
                            <div class="">
                              <strong><span class="thin-font1 orange">
                               {[{ news.categorylist }]}
                             </span></strong><span ng-show="news.name !=''" class="thin-font1"> / by <a href="/blog/author/Jacinto Escano"><strong><span class="orange">{[{ news.name }]}</span></strong></a></span> / {[{ news.date }]}
                             <br><br>
                           </div>
                           <div class="col-sm-12">
                            <div class="font1 size14 summary">
                              {[{ news.summary }]}
                              <br><br>
                            </div>
                          </div>
                        </div>
                        <div style="clear:both"></div>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>

                     <div ng-if="x.col=='CONTACT'">
                     <div class="">
                      <div class="col-sm-12">
                        <h1>Contact Us</h1>
                      </div>
                      <div class="">
                          <!-- Contact form -->
                          <form name="formContactUs" class="form-validation booking ng-pristine ng-invalid ng-invalid-required" ng-submit="submit(feedback)">
                            <!-- Name -->
                              <div class="control-group margin-bot8">
                                <div class="">
                                  <label class="control-label size14 col-sm-12" for="name">Subject
                                    <span class="red">*</span>
                                  </label>
                                  <div class="col-sm-12">
                                    <input type="text" class="form-control textbox margin-bot8" id="" required="required" ng-model="feedback.subject">
                                  </div>
                                </div>
                              </div>
                              <div class="control-group margin-bot8">
                                <div class="row">
                                  <label class="control-label size14 col-sm-12" for="name">Name
                                    <span class="red">*</span>
                                  </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control textbox margin-bot8" id="fname" placeholder="First Name" required="required" ng-model="feedback.fname">
                                  </div>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control textbox" id="lname" placeholder="Last Name" required="required" ng-model="feedback.lname">
                                  </div>
                                </div>
                              </div>
                              <!-- Email -->
                              <div class="control-group margin-bot8">
                                <div class="row">
                                  <label class="control-label size14 col-sm-12" for="email">Email
                                    <span class="red">*</span>
                                  </label>
                                  <div class="col-sm-12">
                                    <span class="red hidden booking-email">Invalid Email Address</span>
                                    <input type="email" class="textbox form-control margin-bot8" id="email" required="required" ng-model="feedback.email" ng-change="onemail(feedback.email)">
                                  </div>
                                </div>
                              </div>
                              <!-- Comment -->
                              <div class="control-group margin-bot8">
                                <div class="row">
                                  <label class="control-label size14 col-sm-12" for="comment">Feedback:
                                    <span class="red">*</span>
                                  </label>
                                  <div class="col-sm-12">
                                    <textarea class="form-control input-large textarea" id="feedback" rows="5" required="required" ng-model="feedback.message"></textarea>
                                  </div>
                                </div>
                              </div>
                              <!-- Buttons -->
                              <div class="form-actions margin-bot8">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <button type="submit" class="btn btn-sedona" ng-disabled="formContactUs.$invalid||res==false">Submit</button>
                                  </div>
                                </div>
                              </div>
                              <!-- Buttons -->
                            </form>
                          <div class="clearfix"></div>
                        </div>

                        <div class="col-sm-12 storeinfo">
                          <div class="storeinfo-details">
                            <h3 class="orange"> <span ng-bind="x.title"> </span> </h3>
                            <div class="title3">
                              <span class="titleb">Phone:</span>
                              <span ng-bind="x.phone" class="thin-font3"> </span> <br/>
                              <span class="titleb">Email:</span> <span ng-bind="x.email" class="thin-font3"> </span> <br/>
                              <span class="titleb">Hours:</span> <span ng-bind="x.hours" class="thin-font3"> </span>  <br/> <br/>
                            </div>
                            <div class="title3">
                              <span class="titleb text-top">Address:</span>
                              <br/>
                              <div ng-repeat="s in x.str">
                                <span class="thin-font3" ng-bind="s"> </span> <br/>
                              </div>
                            </div>

                            <div class="wsite-map">
                              <iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 200px; margin-top: 10px; margin-bottom: 10px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.673285579057!2d-111.7637428!3d34.8644358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da1564d73fd15%3A0x3e31d123930491bf!2s201+Hwy+179%2C+Sedona%2C+AZ+86336%2C+USA!5e0!3m2!1sen!2sph!4v1434348998372"></iframe>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>

                     </div>
                     </div>

                </div>
              </div> <!-- index -->

            </div>
          </div>
         </div>
    </div>
</div>
    <!-- JS -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/angular/angular.min.js"></script>
    <!-- <script src="/fe/js/bootstrap.js"></script>  -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

     <script src="/vendors/angular-cookies/angular-cookies.js"></script>
     <script src="/vendors/angular-animate/angular-animate.min.js"></script>

     <script src="/be/js/angular/angular-ui-router.min.js"></script>
     <script src="/be/js/angular/ui-load.js"></script>
     <script src="/be/js/angular/ui-jq.js"></script>
     <script src="/be/js/angular/ui-validate.js"></script>

     <!-- <script src="/be/js/angular/ui-bootstrap-tpls.min.js"></script> -->
     <script src="/vendors/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

     <script src="/fe/js/bootstrap-hover-dropdown.min.js"></script> <!-- Bootstrap Menu -->
     <script src="/fe/js/resposive-menu.js"></script>
     <script src="/fe/js/jquery.flexnav.min.js" type="text/javascript"></script>
     <script src="/fe/scripts/countries3.js"></script>
     <script src="/fe/scripts/custom.js"></script>
     <script src="fe/startbootstrap-full-slider-1.0.2/js/bootstrap.min.js"></script>

     <!-- Facebook  -->
     <script src="/vendors/angular-facebook/lib/angular-facebook.js"></script>


     <!-- google recaptcha -->
     <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"></script>

     <script src="vendors/angular-recaptcha/release/angular-recaptcha.js"></script>

     <!-- For angular Maps V3-->
     <script src="/fe/js/angularUtils-pagination/dirPagination.js"></script>
     <script src="/fe/scripts/app.js"></script>
     <script src="/fe/scripts/filter.js"></script>
     <script src="/fe/scripts/controllers/main.js"></script>
     <script src="/fe/scripts/factory/login.js"></script>

     <script src="/be/js/scripts/factory/factory.js"></script>
     <script src="/be/js/scripts/controllers/controllers.js"></script>
     <script src="/be/js/scripts/directives/directives.js"></script>


     <script src="/fe/scripts/controllers/test.js"></script>
     <script src="/fe/scripts/controllers/testlist.js"></script>
     <script src="/fe/scripts/controllers/testresult.js"></script>
     <script src="/fe/scripts/factory/test.js"></script>
     <script src="/fe/scripts/controllers/footer.js"></script>



     <script src="/fe/scripts/config.js"></script>
     <?php echo @$otherjvascript ?>
     <!-- // <script src="/fe/scripts/directives/flexnav.js"></script> -->

     <script src="vendors/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.js"></script>

     <script type="text/javascript" src="/vendors/fancyBox/source/jquery.fancybox.js?v=2.1.5"></script>

     <!-- Notifications -->
     <script type="text/javascript" src="/vendors/angular-ui-notification/dist/angular-ui-notification.min.js"></script>

     <script src="/be/js/angular/ngStorage.min.js"></script>
     <!-- Angularjs Storage -->
     <script src="/vendors/a0-angular-storage/dist/angular-storage.min.js"></script>

     <!-- Calendar -->
     <script src="/vendors/moment/min/moment.min.js"></script>
     <script src="/vendors/angular-ui-calendar/src/calendar.js"></script>
     <script src="/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
     <script src="/vendors/fullcalendar/dist/gcal.js"></script>
     <script src="/vendors/ng-simplePagination/simplePagination.js"></script>

     <script src="/vendors/angular-moment/angular-moment.min.js"></script>
     <script src="/vendors/moment-range/dist/moment-range.min.js"></script>
     <script src="/vendors/angular-jwt/dist/angular-jwt.js"></script>

     <script src="/vendors/angular-filter/dist/angular-filter.min.js"></script>
     <script src="/vendors/angular-vertilize/angular-vertilize.min.js"></script>
     <script src="/vendors/angular-country-state-select/dist/angular-country-state-select.js"></script>
     <script src="/vendors/angular-uuid-service/angular-uuid-service.min.js"></script>
     <script src="/vendors/AngularJS-Toaster/toaster.min.js"></script>

    <!-- ECOMMERCE SCRIPTS -->
    <script src="/fe/scripts/controllers/ecommerce/products.js"></script>
    <script src="/fe/scripts/controllers/ecommerce/product.js"></script>
    <script src="/fe/scripts/controllers/ecommerce/mycart.js"></script>
    <script src="/fe/scripts/controllers/ecommerce/checkout.js"></script>
    <script src="/fe/scripts/factory/ecommerce/products.js"></script>
    <script src="/fe/scripts/factory/ecommerce/mycart.js"></script>
    <script src="/fe/scripts/factory/ecommerce/checkout.js"></script>
    <script src="/fe/angular_vendors/thumbelina/thumbelina.js"></script>
    <script type="text/javascript" src="/fe/scripts/controllers/menu.js"></script>
    <script type="text/javascript" src="/fe/scripts/factory/menu.js"></script>
      <!-- Create sliders. -->
      <script type="text/javascript">
          $(function(){
              $('#productslider').Thumbelina({
                  orientation:'vertical',         // Use vertical mode (default horizontal).
                  $bwdBut:$('#productslider .top'),     // Selector to top button.
                  $fwdBut:$('#productslider .bottom')   // Selector to bottom button.
              });
          })
      </script>
      <!-- ecommerce prerequisite -->
    <script src="/fe/scripts/custom.js"></script>
    <script src="/vendors/pass-strength/src/strength.min.js"></script>
    <script src="/fe/scripts/controllers/userregistration.js"></script>
    <script src="/fe/scripts/factory/userregistration.js"></script>
    <script src="/fe/scripts/factory/reservation.js"></script>
    <script src="/fe/scripts/controllers/userlogin.js"></script>
    <script src="/fe/scripts/factory/login.js"></script>
    <!-- ECOMMERCE SCRIPTS ends -->

    <!-- GENERAL SCRIPTS -->
    <script src="/fe/scripts/directives/showErrors.js"></script>
    <script src="/fe/scripts/factory/dateFactory.js"></script>
    <!-- <script src="/fe/scripts/directives/validations.js"></script> -->

    <!-- tooltip -->
    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

    <script type="text/javascript">
            jQuery(document).ready(function($) {
                // initialize FlexNav
                $(".flexnav").flexNav();
            });
    </script>

    <script>
      $(document).ready(function() {
            /*
             *  Simple image gallery. Uses default settings
             */

             $('.fancybox').fancybox();

            /*
             *  Different effects
             */

            // Change title type, overlay closing speed
            $(".fancybox-effects-a").fancybox({
              helpers: {
                title: {
                  type: 'outside'
                },
                overlay: {
                  speedOut: 0
                }
              }
            });
          });
    </script>

    <!-- Google Analytics -->
    <?php echo $gscript; ?>

    <!-- sticky navbar script -->
    <script>
      $(window).scroll(function() {
        var devicewidth = window.innerWidth;

        if(devicewidth > 799){
          if($(this).scrollTop() > 220)
          {
            $(".web-menu").addClass('sticky-nav');
            $(".web-menu #cssmenu > ul > li > a").addClass('padding21');
            $("body").css({"padding-top": "70px"});
            $(".web-menu ul li.hidden").addClass('show');
            $(".web-menu ul li.hidden").removeClass('hidden');
          }else {
            $(".web-menu").removeClass('sticky-nav');
            $(".web-menu #cssmenu > ul > li > a").removeClass('padding21');
            $("body").css({"padding-top": "0"});
            $(".web-menu ul li.show").addClass('hidden');
            $(".web-menu ul li.show").removeClass('show');
          }
        }else {
          $(".web-menu").removeClass('class','sticky-nav');
          // $("body").css({"padding-top": "0"});
          if($(this).scrollTop() > 358)
          {
            $(".mobile-menu").addClass('sticky-nav');
            $("body").css({"padding-top": "70px"});
          }else {
            $(".mobile-menu").removeClass('sticky-nav');
            $("body").css({"padding-top": "0"});
          }
        }
      });
   </script>
   <script>
    $('.carousel').carousel({
        interval: 7000
    })
   </script>

   <script>

  function slide(key) {
   if ($(window).width() <= 700){
    $(".slider"+key).css('height','130px');
    $(".slider"+key).css('position','relative');
    $(".slider"+key).css('z-index','999');
    $(".clickme"+key).css('display','none');
    $(".clickshow"+key).css('display','inline');
    $(".slider"+key).css('overflow-y','auto');
    $(".slider-desc"+key).css('display','inline');
  }
  else
  {
    $(".slider"+key).css('height','100%');
    $(".clickme"+key).css('display','none');
    $(".clickshow"+key).css('display','inline');
    $(".slider"+key).css('overflow-y','auto');
    $(".slider-desc"+key).css('display','inline');
  }
}
function hide(key) {
  if ($(window).width() <= 500){
    $(".slider"+key).css('height','90px');
    $(".clickme"+key).css('display','inline');
    $(".clickshow"+key).css('display','none');
    $(".slider"+key).css('overflow','hidden');
    $(".slider-desc"+key).css('display','none');

  }
  else{
   $(".slider"+key).css('height','130px');
   $(".clickme"+key).css('display','inline');
   $(".clickshow"+key).css('display','none');
   $(".slider"+key).css('overflow','hidden');
   $(".slider-desc"+key).css('display','none');

 }
}


$( window ).resize(function() {

  if ($(window).width() >= 750){
    $(".slider").css('height','100%');
    $(".clickme").css('display','none');
    $(".clickshow").css('display','none');
    $(".slider-desc").css('display','inline');
    $(".right-arrow").css('z-index','999');
    $(".left-arrow").css('z-index','999');
    $(".slider-desc").css('display','inline');
  }
  else if(($(window).width() <= 767) && ($(window).width() >= 450) )
  {
    $(".slider").css('height','150px');
    $(".slider").css('overflow','hidden');
    $(".clickme").css('display','inline');
    $(".clickshow").css('display','none');
    $(".clickme").css('z-index','999');
    $(".right-arrow").css('z-index','0');
    $(".slider-desc").css('display','none');

  }
  else if($(window).width() <= 445)
  {
    $(".slider").css('height','90px');
    $(".slider").css('overflow','hidden');
    $(".clickme").css('display','inline');
    $(".clickshow").css('display','none');
    $(".slider-desc").css('display','none');
    $(".clickme").css('z-index','999');
    $(".right-arrow").css('z-index','0');
    $(".slider-desc").css('display','none');
  }

})





</script>


</body>
</html>
