.closebutton{ /* to make a nice looking pure CSS3 close button */
    display:block;
    position:absolute;
    top:-5px;
    right:10px;
    background:red;
    color:white;
    height:20px;
    width:20px;
    line-height:20px;
    font-size:20px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
}

.service-price{

}
.price-control-action{
    visibility: hidden;
}
.service-price:hover .price-control-action {
    visibility: visible;
}
.padding-left0{
    padding-left: 0px !important;
}

.editmenu-modal-window .modal-dialog {
    width: 60%;
}.editmenu-modal-window .panel-main {
    height: 400px !important;
    overflow-y: scroll;
}
.editmenu-modal-window .panel-main-menu {
    height: 200px !important;
    overflow-y: scroll;
}

.xxx-modal-window .modal-dialog {
    width: 90%;
}


.xxx-modal-window .panel-main {
    height: 500px !important;
    overflow-y: scroll;
}
.xxx-modal-window .panel-main-meu {
    height: 200px !important;
    overflow-y: scroll;
}
.galleryactionbutton{
    display: none;
}
.imagegallerystyle{
    cursor: pointer;
}
.check-icon{
    margin:5px;
    font-size: 30px;
    color: green;
}
.selectedstyle{
    border: 5px solid green;
}
.imagegallerystyle:hover{
    border: 5px solid #FF9641;
}
.imagegallerystyle:hover .galleryactionbutton{
    display: block;
}
.smallThumb{
    background-position: center;
    background-size: cover;
    width:35px;
    height: 35px;
}

.youtube-play{
    position: absolute;
    top:0px;
    width:100%;
    margin-top: 20%;
    text-align: center;
}

.no-margin {
    margin: 0px;
}
.no-padding {
    padding: 0px !important;
}
.text-center {
    text-align: center!important;
}
.text-left {
    text-align: left!important;
}
.text-right {
    text-align: right!important;
}
.text-bold {
    font-weight: bold;
}
.full-width {
    width: 100%!important;
    max-width: 100%;
}
.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}
.percentage {
    font-size: 16px;
    padding: 6px;
    position: relative;
    top: 4px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

/* FACEBOOK LOADER */
.loader {
    /*width:32px; 
    height:32px;*/
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    top:35%;
    left: 42%;
}

/* Initial state */
.bar {
    background-color:#fff; border:1px solid #fff; float:left;
    margin-right:4px; margin-top:6px; width:6px; height:18px;

    /* Set the animation properties */
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loadingbar;
}

/* Delay both the second and third bar at the start */
.loader .bar:nth-child(2) { animation-delay: 0.1s; }
.loader .bar:nth-child(3) { animation-delay: 0.2s; }

/* The actual animation */
@keyframes loadingbar {
    0% {
    }
    10% {
        margin-top: 5px;
        height: 22px;
        border-color: #fff;
        background-color: #fff;
    }
    20% {
        margin-top: 0px;
        height: 32px;
        border-color: #fff;
        background-color: #fff;
    }
    30% {
        margin-top: 1px;
        height: 30px;
        border-color: #fff;
        background-color: #fff;
    }
    40% {
        margin-top: 3px;
        height: 26px;
    }
    50% {
        margin-top: 5px;
        height: 22px;
    }
    60% {
        margin-top: 6px;
        height: 18px;
    }
    70% {
    }
    /* Missing frames will cause the extra delay */

    100% { }
}
.width90px {
    width: 90px;
}

.colorpicker-colorbox {
    width: 40px;
    margin-left: 5px;
    border-radius: 4px;
}

.hiddenoverflow {
    overflow: hidden;
}

#profpic {
    width: 200px;
    height: 200px;
}
#profpiccopy {
    width: 200px;
    height: 200px;
}

.label_profile_pic {
    display: block;
    margin:10px 0;
    width: 200px;
}

#backhomepage {
    width: 70%;
    height:340px;
}

.label_backhome_pic {
    display: block;
    margin:10px 0;
    width: 200px;
}

#testi-profpic {
    width: 120px;
    height: 120px;
}

#pageslugs {
    width:150px;
    /*margin-left: 1%;*/
    top: -7px;
    position: relative;
}

.mg-left {
    margin-left: 6px;
    margin-bottom: 10px;
}

#albumpic {
    width: 100%;
    height: 190px;
}
.remove {
    position: absolute;
    right: 3.5%;
    /*background: #EEF3CB;*/
    padding:3px;
}
.text-front{
    position:absolute;
    bottom: 3px;
    left:3px;
}
.star{
    position:absolute;
    bottom:3px;
    right:3px;
    color:#fad733;
}
.manage-action{
    font-size: 20px;
}
.bg-albumtitle{
    background-color: rgba(0,0,0,0.3);
    color: #f4f3f9;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}
.file-control-action{
    visibility: hidden;
}
.file-control:hover .file-control-action {
    visibility: visible;
}
.sort-slider{
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 80px;
}
.bg-imgtitle {
    background-color: rgba(0,0,0, 0.3);
    color: #f4f3f9;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.pointer { cursor:pointer!important; }
.Services-box-status, .Services-checkbox-label {
  position:relative; top:-7px;
}
textarea.resize-v {
  resize: vertical;
}

.Services-learnmore {
  display:inline-block;
  padding:2px 5px;
  background:#5cce5f;
  color:white!important;
  border-radius:5px;
  font-size:1vw;
  border:2px solid white;
  transition:all ease .5s;
}
.Services-learnmore:hover {
  background:orangered;
  transition:all ease .7s;
  color:white;
}

.sort-cursor{
    cursor: move;
}
.sort-action{
    z-index: 9999999;
}
.padding-wrapper-md{
    padding-top: 0px;
    padding-bottom: 0px;
}


/*jeevon*/
/*textbox suggestion*/
span.ui-helper-hidden-accessible {
    display: none;
}
.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    overflow-y:scroll;
    max-height: 300px!important;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}
.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

/*input spinner custom*/
.bootstrap-touchspin .input-group-btn-vertical > .btn {
    padding: 7px 10px!important;
}
.colstyle {
    height: 90px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    float: left;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 5px solid #c2c2c2;
    opacity: 0.8;
}
.colstyle:hover{
    opacity: 1;
}

.font-italic {
    font-style: italic;
}

.popover-size {
    width: 175px;
    max-height: 400px;
    overflow-y: visible;
}

.popover-size div.row {
    border-bottom: #ccc solid 1px;
    margin-top: 0px;
}

.mouse-pointer:hover {
    cursor: pointer;
}

.mar-left{
    margin-left: 15px;
}

.viewpr-mg-bot {
    margin: 3px;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: inline;
    margin: 0px;
    color: #fff;
}

.stat {
    top: -9px;
    position: relative;
}

.ui-select-multiple.ui-select-bootstrap {
    min-height: 32.333px!important;
}
a.changepass{
    color: #005196;
    cursor: pointer;
}
a.changepass:hover {
    text-decoration: underline;
}