@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('/be/css/fonts/sourcesanspro/sourcesanspro-light.ttf') format('ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('/be/css/fonts/sourcesanspro/sourcesanspro.ttf') format('ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('/be/css/fonts/sourcesanspro/sourcesanspro-bold.ttf') format('ttf');
}
@font-face {
  font-family: 'HaloHandletter';
  src: url('/be/css/fonts/HaloHandletter.ttf');
  src: local('HaloHandletter'),
    url("/be/css/fonts/halohandletter-webfont.eot"),
    url('/be/css/fonts/halohandletter-webfont.woff') format('woff'),
    url('/be/css/fonts/halohandletter-webfont.otf') format('opentype'),
    url('/be/css/fonts/halohandletter-webfont.svg#HaloHandletter') format('svg');
}
