@font-face {
  font-family: 'Proxima-Nova-Alt-Regular';
  src: url('/be/css/fonts/Proxima-Nova-Alt-Regular.otf');
}
.specialpage_pad{
  margin-left:10px;padding:4px
}
.specialpage_pad2{
  padding-top:4px
}
.special_page_row{
    padding:20px;margin:4px 0px 4px 0px
}
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}
.size25 {
    font-size: 20px;
}
.font1 {
    font-family: 'Proxima-Nova-Alt-Regular' !important;
}
.list-title-blog .news-title {
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
    line-height: 25px;
    word-wrap: break-word;

}
.orange {
    color: rgb(222, 162, 39);
}
img.testi-img {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    border: solid 1px #A9A8A8;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -win-filter: grayscale(100%);
}
.size16 {
    font-size: 16px;
}

.italic {
    font-style: italic;
}
.border-left {
    border-left: thick solid #d0d0d0;
    padding-left: 30px;
}
.specialpage-testi-image {
    width: 100%;
}
.imgmodule{width:100%;padding-top:5px;height:220px;padding-right: 3px;}
.imgmodule1{width:100%;padding-top:5px;height:200px;padding-right: 3px;}
.imgmodule2{width:100%;padding-top:5px;height:180px;padding-right: 3px;}
.txtmodule{padding-top:10px;max-height:220px;overflow-y:auto}
.txtfooter{max-height:300px;overflow-y:auto}
/*.mg-20{
  margin-left: 20px;
}
.mgb-20{
  margin-left: 20px;
  margin-right: 20px;
}*/
.testimodule{max-height:300px;overflow-y:auto}
.page-link {
  margin-top: 6px;
    display: inline-block;
    padding: 5px 25%;
    background: #5cce5f;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid white;
    transition: all ease .5s;
    word-break:break-word
}

.module-link {
  margin-top: 6px;
    display: inline-block;
    /*padding: 5px 25%;*/
    border-radius: 5px;
    /*font-size: 16px;*/
    border: 2px solid white;
    box-sizing: border-box;
    word-break:break-word;
    text-align: center
}

.lnk{
  text-align: center;
}
    .page-link:hover {
    background: orangered;
    transition: all ease .7s;
    color: white;
  }
  .ul-archive{
    list-style: none;
  }

  .special-menu-text {
    font-family: 'Proxima-Nova-Alt-Regular';
    font-size: 14px !important;
    color: #58666e;
}
.special-top-menu {
    font-family: 'Proxima-Nova-Alt-Regular';
    font-size: 18px;
    color: #58666e;
}
.no-list{
  list-style:none;
  -webkit-padding-start: 10px!important;
}
.with-list{
  -webkit-padding-start: 10px!important;
}
.sortable{
    border: 0px;
    list-style: none;
    padding: 0;
    display: inline-block;
    max-height: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 320px;
    float: left;
    margin: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.sortablecol{
    border: 0px;
    list-style: none;
    display: inline;
    padding: 0;
    max-height: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5px;
    cursor: pointer;
}
.sortablerow{
    list-style: none;
}
.sortrow{
    list-style: none;
    overflow-y: auto;
     overflow-x: hidden;
     max-width: 790px;
}
.ui-sortable-placeholder {
    border: 1px dotted black;
    visibility: visible !important;
    background-color: inherit;
}
.testclass {
    border: 1px dotted black;
    background-color: #ededed;
}
#horizontal .box, #horizontal .ui-sortable-placeholder {
    display: inline-block;
}
.col-container {
   padding-right:0;padding-left:0;display:inline-block
}
.connectedSortable{
  padding-right: 25px;
}
.no-pad{
  padding-right: 0px;
  padding-left: 0px;
}
.but{
    float: left;
    width: 35px;
}

.mainbut{
     float: left;
    width: 195px;
}
.mainbut2{
     float: left;
    width: 126px;
}